<h4>TAX INVOICE</h4>

<div class="row">
  <div class="col m6">
    <br>
    <b>Receipt For: </b>
    <% if @subscription.user_type == "organisation" %><%# for Organisation Host %>
      <% @organisation = Organisation.find(@subscription.organisation_id) %>
      <%= @organisation.name %><br><br>
      <b>Attention: </b><%= @subscription.user.org_user_profile.name %><br><br>
      <b>Address:</b><br>
      <%= @organisation.address %><br>
      <%= @organisation.suburb %> <%= @organisation.state %> <%= @organisation.postcode %><br>
      <% if @organisation.country.present? %>
        <%= @organisation.country_name(@organisation.country) %>
      <% end %>

    <% elsif @subscription.user_type == "independent" %><%# for Independent Host %>
      <%= @subscription.user.org_user_profile.name %><br>
      <b>Address:</b><br>
      <%= @subscription.user.org_user_profile.suburb %> <%= @subscription.user.org_user_profile.state %> <%= @subscription.user.org_user_profile.postcode %>
      <br>
      <% if @subscription.user.org_user_profile.country.present? %>
        <%= @subscription.user.org_user_profile.country_name(@subscription.user.org_user_profile.country) %>
      <% end %>
      <br>

    <% elsif @subscription.user_type == "candidate" %><%# for Candidate %>
      <%= @subscription.user.profile.name %><br>
      <b>Address:</b><br>
      <%= @subscription.user.profile.suburb %> <%= @subscription.user.profile.state %> <%= @subscription.user.profile.postcode %>
      <br>
      <% if@subscription.user.profile.country.present? %>
        <%= @subscription.user.profile.country_name(@subscription.user.profile.country) %>
      <% end %>
      <br>

    <% end %>
  </div><%# end of col m6 %>

  <div class="col m3">
    <p>
      <b>Invoice Date: </b><%= @subscription.created_at.getlocal.strftime('%e %B %Y') %>
      <br><br>
    </p>
  </div><%# end of col m3 %>

  <div class="col m3">
    <%= cl_image_tag("MOBEEAS_RGB_10cm_Res_300_12.jpg", :width=>150, :crop=>:scale) %>
    <br><br>
    The Trustee for Moreton Trading Trust t/a <b>MOBEEAS</b><br>
    PO Box 282<br>
    Gordon NSW 2072<br>
    Australia<br>
    <b>ABN: </b>18 504 829 484
    <br><br>
  </div><%# end of col m3 %>
</div><%# end of row %>

<br><br>

<table class="bordered">
  <thead>
    <tr>
        <th data-field="id">Description</th>
        <th data-field="name">Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>MOBEEAS Subscription 1 Year</td>
      <td><%= number_to_currency(@subscription.payment)  %> AUD</td>
    </tr>
    <tr>
      <td>GST <%= (@subscription_pack.gst_rate * 100).to_i %>%</td>
      <td><%= number_to_currency(@subscription.payment * @subscription_pack.gst_rate) %> AUD</td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= number_to_currency(@subscription.payment + (@subscription.payment * @subscription_pack.gst_rate)) %> AUD</td>
    </tr>
    <tr>
      <td>Amount Owing</td>
      <td><%= number_to_currency(0) %> AUD</td>
    </tr>
  </tbody>
</table>

<p>
  <h4>Transactions</h4>
  MOBEEAS subscription ID: <%= @subscription.id %><br>
  Stripe receipt ID: <%= @stripe_receipt_id %><br>
  Transaction date: <%= @subscription.created_at.strftime('%e %B %Y') %><br>
  Subscription expiry date: <%= @subscription.expiry_date.strftime('%e %B %Y') %><br>
  <br><br>
  Thank you for your subscription.
  <br>
  MOBEEAS Team
</p>
