<h4>TAX INVOICE</h4>

<div class="row">
  <div class="col m6">
    MOBEEAS LOGO
    <br><br><br>
    <b>Receipt For:</b><br>
    Organisation or Someone<br>
    ATTN: Someone (if Host representing org)<br>
    999 Somewhere Ave<br>
    Suburb, New South Wales, 2222<br>
    Australia<br>
  </div><%# end of col m6 %>

  <div class="col m3">
    <p>
      <b>Invoice Date</b><br>
      31 Jan 2016
      <br><br>
      <b>Subscription ID:</b><br>
      1
      <br><br>
      <b>ABN:</b><br>
      18 504 829 484
      <br><br>
    </p>
  </div><%# end of col m3 %>

  <div class="col m3">
    The Trustee for Moreton Trading Trust t/a MOBEEAS<br>
    PO Box 282<br>
    Gordon NSW 2072<br>
  </div><%# end of col m3 %>
</div><%# end of row %>

<br><br>

<table class="bordered">
  <thead>
    <tr>
        <th data-field="id">Description</th>
        <th data-field="name">Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>MOBEEAS Subscription 1 Year</td>
      <td><%= number_to_currency(@subscription.payment)  %> AUD</td>
    </tr>
    <tr>
      <td>GST 10%</td>
      <td><%= number_to_currency(@subscription.payment * @subscription_pack.gst_rate) %> AUD</td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= number_to_currency(@subscription.payment + (@subscription.payment * @subscription_pack.gst_rate)) %> AUD</td>
    </tr>
    <tr>
      <td>Amount Owing</td>
      <td><%= number_to_currency(0) %> AUD</td>
    </tr>
  </tbody>
</table>

<p>
  <h4>Transactions</h4>
  MOBEEAS subscription ID: <%= @subscription.id %><br>
  Stripe receipt ID: <%= @stripe_receipt_id %><br>
  Transaction date: <%= @subscription.created_at.strftime('%e %B %Y') %><br>
  Subscription expiry date: <%= @subscription.expiry_date.strftime('%e %B %Y') %><br>
  <br><br>
  Thank you for your subscription.
  <br>
  MOBEEAS Team
</p>
