<p id="notice"><%= notice %></p>

<h1>Listing Opportunity Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Opportunity</th>
      <th>Introduction</th>
      <th>Application status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunity_applications.each do |opportunity_application| %>
      <tr>
        <td><%= opportunity_application.user %></td>
        <td><%= opportunity_application.opportunity %></td>
        <td><%= opportunity_application.introduction %></td>
        <td><%= opportunity_application.application_status %></td>
        <td><%= link_to 'Show', opportunity_application %></td>
        <td><%= link_to 'Edit', edit_opportunity_application_path(opportunity_application) %></td>
        <td><%= link_to 'Destroy', opportunity_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opportunity application', new_opportunity_application_path %>
