<%= simple_form_for(@opportunity_time) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">

        <div class="col s6 m6 l6">
          <%= f.input :start_date, as: :string, label: 'Start Date:', input_html: { class: 'datetimepicker1', :format => "%d/%m/%Y  %I:%m %p"} %>
        </div>
        <div class="col s6 m6 l6">
          <%= f.input :end_date, as: :string, label: 'End Date:', input_html: { class: 'datetimepicker1', :format => "%d/%m/%Y  %I:%m %p"} %>
        </div>

        <div class="col s6 m3 l3">
          <%= f.input :start_time, as: :string, label: 'Start Time', input_html: { class: 'datetimepicker2'}  %>
        </div>
        <div class="col s6 m3 l3">
          <%= f.input :end_time, as: :string, label: 'End Time', input_html: { class: 'datetimepicker2'}  %>
        </div>

        <div class="col s6 m3 l3">
          <%= f.input :day, collection: [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]  %>
        </div>
        <div class="col s6 m3 l3">
          <%= f.input :frequency, collection: [ "once", "daily", "weekly", "fortnightly", "monthly" ], value: [ "daily weekdays", "weekly", "fortnightly", "monthly" ] %>
        </div>
        <% if @opportunity_time.new_record? %>
          <% if @opportunity_time.frequency == "once" %>
            yes, once
          <% end %>
        <% end %>

    </div><%# end of row %>

      <%= hidden_field_tag(:opportunity_id, @opportunity.id)%>
      <%= f.association :opportunity, :as => :hidden, input_html: { value: params[:opportunity_id] }, class: 'right'  %>
  </div>
<%# The submit button below will appear in the modal button instead. %>
  <div class="form-actions">
    <%= f.button :submit, "Save This Schedule" %>
  </div>
<% end %>
