<%# opportunity_id1: %>   <%# params[:opportunity_id]%>

<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden, input_html: { value: params[:from]} %>
    <% if params[:opportunity_id].present? %>
      <%= f.association :opportunity, as: :hidden, input_html: { value: params[:opportunity_id]} %>
    <% end %>
    <%= f.input :from, as: :hidden, input_html: { value: params[:from]} %>
    <%= f.input :to, as: :hidden, input_html: { value: params[:to]} %>
    <%= f.input :message_text, label: 'Message', input_html: { maxlength: 1000 } %>
    <%#= f.input :status %><%# hide this because by default it is unread %>
    <%#= f.input :attachment %><%# not tested yet %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
