<div class="row">

  <div class="col c12 m11 offset-m1 l11 offset-l1">
    <h4>View My Contacts</h4>
    <p id="notice"><%= notice %></p>
    <%= render 'layouts/sidebar' %>
    <% @receiver_user = User.find(params[:my_id]) %>
    <% if @receiver_user.has_role? :candidate %>
      <% @receiver = @receiver_user.profile %>
    <% elsif @receiver_user.has_role? :host %>
      <% @receiver = @receiver_user.org_user_profile %>
    <% end %>

    <%# Check the contacts from all messages to see if contact id is new and will be added into the connections list %>
    <% @messages.each do |message| %>
      <%# just find messages that are from me or to me only %>
      <% if (message.from == params[:my_id].to_i) || (message.to == params[:my_id].to_i) %>
        <%# save the new contact that send me the message %>
        <% if (message.from != current_user.id) && !(@receiver.connections.include?(message.from))%>
          <%# do not save my own id into my connections list AND %>
          <%# add receiver user id if it is a new connection %>
          <% @receiver.connections << message.from %>
          <% @receiver.save! %>
        <% end %>
        <%# save the new contact that I send the message to %>
        <% if (message.to != current_user.id) && !(@receiver.connections.include?(message.to))%>
          <%# do not save my own id into my connections list AND %>
          <%# add receiver user id if it is a new connection %>
          <% @receiver.connections << message.to %>
          <% @receiver.save! %>
        <% end %>
      <% end %>
    <% end %><%# end of @messages loop %>


    <ol><%# list all messages from each connection %>
      <% @receiver.connections.each do |connection|%>
        <p>
        <% @sender_user = User.find(connection)%>
        <% if @sender_user.has_role? :candidate %>
          <% @sender = @sender_user.profile %>
          <li>
            <%= link_to @sender.name, conversations_path(my_id: current_user.id, contact: @sender_user.id) %>
            <% if Message.count_new_messages(params[:my_id], @sender_user.id) > 0 %>
              (<%= Message.count_new_messages(params[:my_id], @sender_user.id)%>)<%# shows the number of unread messages %>
            <% end %>
          </li>
        <% elsif @sender_user.has_role? :host %>
          <% @sender = @sender_user.org_user_profile %>
          <li>
            <%= link_to @sender.name, conversations_path(my_id: current_user.id, contact: @sender_user.id) %>
            <% if Message.count_new_messages(params[:my_id], @sender_user.id) > 0 %>
              (<%= Message.count_new_messages(params[:my_id], @sender_user.id)%>)<%# shows the number of unread messages %>
            <% end %>
          </li>
        <% end %>
        </p>
      <% end %><%# end of @receiver loop %>
    </ol>

    <%#= link_to 'New Message', new_message_path %>
  </div>
</div>
