<div class="card-content">
  <span class="card-title blue-text"><i class="fa fa-graduation-cap"></i> Your education</span>
    <% if @profile.user.educations.present? %>
      <p><% if @profile.user.educations.any? %>
        <table>
          <thead>
            <tr>
              <th>Institution</th>
              <th>Course</th>
              <th>Achievements</th>
              <th class="right-align">Verified</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @profile.user.educations.each do |user_education| %>
              <tr>
                <td><%= user_education.institution %></td>
                <td><%= user_education.course %></td>
                <% if user_education.achievement.present? %>
                  <td><%= link_to 'File uploaded  ', user_education.achievement_url %><%= link_to edit_education_path(user_education) do %><i class="material-icons tiny  ">mode_edit</i><% end %></td>
                <% else %>
                  <td>No file  <%= link_to edit_education_path(user_education) do %><i class="material-icons tiny  ">mode_edit</i><% end %></td>
                <% end %>
                <%# <td> %><%#= user_education.achievement_url %> <%#= link_to edit_education_path(user_education) do %><%#<i class="material-icons tiny  ">mode_edit</i>%><%# end %><%#</td> %>

                <td class="right-align">
                  <% if user_education.verified %>
                    <span class="green-text"><i class="fa fa-check-circle"></i></span>
                  <% else %>
                    <span class="red-text"><i class="fa fa-times"></i></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        No education listed.
      <% end %></p>
    <% end %> <%# end of if @user_educations.present? %>
    </div>
    <div class="card-action">
      <a href="/educations/new" class="waves-effect waves-light btn white-text">Add education</a>
    </div>
