<% if @profile.present? %>
  <%= simple_form_for(@profile) do |f| %>
    <%= f.error_notification %>

    <div class="input-field">
      <select class="select optional browser-default" name="profile[candidate_type_id]" id="profile_candidate_type_id">
        <% if @profile.new_record? %>
            <option value="" disabled selected>Which best describes you?</option>
          <% else %>
            <option value="<%= @profile.candidate_type_id %>" disabled selected><%= @profile.candidate_type.name if @profile.candidate_type %></option>
          <% end %>

        <option value="1">University Student</option>
        <option value="2">Industry Expert</option>
        <option value="3">Academic</option>
        <option value="4">Professional</option>
        <option value="5">Teacher</option>
        <option value="6">Enthusiast</option>
      </select>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :first_name %>
      </div>
      <div class="col s6">
        <%= f.input :last_name %>
      </div>
    </div>
    <label for="dob">Date of birth</label>
    <%#= f.date_field :dob, input_html: { class: 'datetimepicker' } %>
    <%= f.date_field :dob, as: :string, input_html: { class: 'datetimepicker' } %>

    <div class="row">
      <div class="col s12">
        <%= f.input :picture %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.input :bio %>
      </div>
    </div>
    <% if @profile.new_record? %>
      <div class="row">
        <div class="col s12">

        <p class="blue-text"><strong>Note: Your personal contact information will not be made public. It is used to find opportunities in your area.</strong></p>

        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col s12">
        <%= f.input :address %>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :suburb %>
      </div>
      <div class="col s6">
      <select class="select required browser-default" name="profile[state]" id="profile_state">
      <% if @profile.new_record? %>
        <option value="" disabled selected>* State</option>
      <% else %>
        <option value="<%= @profile.state %>" disabled selected><%= @profile.state %></option>
      <% end %>
      <option value="ACT">ACT</option>
      <option value="NSW">NSW</option>
      <option value="NT">NT</option>
      <option value="QLD">QLD</option>
      <option value="SA">SA</option>
      <option value="TAS">TAS</option>
      <option value="VIC">VIC</option>
      <option value="WA">WA</option></select>

      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :postcode %>
      </div>
      <div class="col s6">
        <%= f.input :country, priority: [ "Australia" ] %>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :phone %>
      </div>
      <div class="col s6">
        <%= f.input :linkedin, label: "LinkedIn (include https://)" %>
      </div>
    </div>

    <%= f.button :submit %>

  <% end %>
<% end %>
