<span class="card-title blue-text"><i class="fa fa-flag-o"></i> My Subscription</span>
<% @candidate_6_months = SubscriptionPack.find_by(name: 'candidate_6_months') %><%# get the Candidate Subscription pack %>
<% @candidate_12_months = SubscriptionPack.find_by(name: 'candidate_12_months') %><%# get the Candidate Subscription pack %>
<% @candidate_6_months_unpaid = SubscriptionPack.find_by(name: 'candidate_6_months_unpaid') %><%# get the Candidate Subscription pack %>

<%# If the candidate has one or many subscriptions ========================= %>
<% if @profile.user.subscriptions.present? %>
  <%# get the LAST subscription of this CANDIDATE %>
  <% @subscription = Subscription.order('id ASC').find(@profile.user.subscriptions.last) %>
  <div class="margin-top-10px">
    Your subscription type:<br>
    <% if @profile.unpaid_volunteer %>
      <b>Volunteer (free subscription)</b>
    <% else %>
      <b>Paid Candidate (paid subscription)</b>
    <% end %>
  </div>

  <div class="margin-top-10px">
    Your subscription expiry date:<br>
    <b><%= @subscription.expiry_date.getlocal.strftime('%e %B %Y') %></b>

    <% if (@subscription.active) %><%# =============== if the last subscription is ACTIVE %>
      <% if (@profile.unpaid_volunteer) %><%# This gives the opportunity for unpaid_volunteer to change to paid candidate %>
        <% if !(@subscription.expires_in_less_than_30_days) %>
          <div class="margin-top-10px">
            <%= link_to "6 Months", new_subscription_path(subscription_pack: @candidate_6_months), class: 'btn' %>
          </div>
          <div class="margin-top-10px">
            <%= link_to "12 Months", new_subscription_path(subscription_pack: @candidate_12_months), class: 'btn' %>
          </div>
        <% end %>
      <% end %>

      <% if @subscription.expires_in_less_than_30_days %>
        - <span class="red-text bold">Expiring soon!</span>
        <div class="margin-top-10px">
          Your subscription is about to expire. Please choose a 6 month <%#= number_to_currency(@candidate_6_months.price_ex_gst) %> or 12 month <%#= number_to_currency(@candidate_12_months.price_ex_gst) %> subscription for paid engagements. If you do not require payment for your services please click the VOLUNTEER button.
          <!-- The figure of number_to_currency is currently commented out (20 Oct 2017) until further instruction -->
        </div>
        <div class="margin-top-10px">
          <%= link_to "6 Months", new_subscription_path(subscription_pack: @candidate_6_months), class: 'btn' %>
        </div>
        <div class="margin-top-10px">
          <%= link_to "12 Months", new_subscription_path(subscription_pack: @candidate_12_months), class: 'btn' %>
        </div>
        <%#-----Subscription for Unpaid Volunteer-----%>
        <div class="margin-top-10px">
          <%= link_to "Free Subscription", new_subscription_path(subscription_pack: @candidate_6_months_unpaid), class: 'btn' %>
        </div>
      <% end %>
    <% elsif (@subscription.expired)%><%# =============== if the last subscription has EXPIRED %>
      - <span class="red-text bold">Expired!</span>
      <div class="margin-top-10px">
        Your subscription has expired. Please choose a 6 month <%#= number_to_currency(@candidate_6_months.price_ex_gst) %> or 12 month <%#= number_to_currency(@candidate_12_months.price_ex_gst) %> subscription for paid engagements. If you do not require payment for your services please click the VOLUNTEER button.
        <!-- The figure of number_to_currency is currently commented out (20 Oct 2017) until further instruction -->
      </div>
      <div class="margin-top-10px">
        <%= link_to "6 Months", new_subscription_path(subscription_pack: @candidate_6_months), class: 'btn' %>
      </div>
      <div class="margin-top-10px">
        <%= link_to "12 Months", new_subscription_path(subscription_pack: @candidate_12_months), class: 'btn' %>
      </div>
      <%#-----Subscription for Unpaid Volunteer-----%>
      <div class="margin-top-10px">
        <%= link_to "Free Subscription", new_subscription_path(subscription_pack: @candidate_6_months_unpaid), class: 'btn' %>
      </div>
    <% end %>
  </div>

<%# If the candidate never subscribed at all (new candidate) ==================  %>
<% else %>
  <p>
    Please choose a 6 month <%#= number_to_currency(@candidate_6_months.price_ex_gst) %> or 12 month <%#= number_to_currency(@candidate_12_months.price_ex_gst) %> subscription for paid engagements. If you do not require payment for your services please click the VOLUNTEER button.
    <!-- The figure of number_to_currency is currently commented out (20 Oct 2017) until further instruction -->
    <div class="margin-top-10px">
      <%= link_to "6 Months Subscription", new_subscription_path(subscription_pack: @candidate_6_months), class: 'btn' %>
    </div>
    <div class="margin-top-10px">
      <%= link_to "12 Months Subscription", new_subscription_path(subscription_pack: @candidate_12_months), class: 'btn' %>
    </div>
    <%#-----Subscription for Unpaid Volunteer-----%>
    <div class="margin-top-10px">
      <%= link_to "Volunteer Subscription", new_subscription_path(subscription_pack: @candidate_6_months_unpaid), class: 'btn' %>
    </div>
  </p>
<% end %>

<!-- Modal Trigger -->
<div class="margin-top-10px">


<a class="waves-effect waves-light modal-trigger" href="#subscriptions_info"><i class="material-icons">help_outline</i></a>
  <!-- Modal Structure -->
  <div id="subscriptions_info" class="modal">
    <div class="modal-content">
      <h5>Subscriptions Information</h5>
      <p>For paid engagements please choose a 6 month or 12 month subscription period. Experts and enthusiasts keen to become MOBEEAS candidates are able to join the MOBEEAS community for free.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
</div>
