<p id="notice"><%= notice %></p>

<div class="row">
  <!-- PROFILE -->
  <div class="col m4">
    <div class="card">
      <%= render 'my_profile' %>
    </div>
  </div>

<!-- RIGHT COLUMN -->
  <div class="col m8">
  <!-- AGREEMENTS -->
  <div class="card">
      <%= render 'agreements' %>
  </div>
  <!-- SKILLS -->
    <div class="card">
      <%= render 'skills' %>
    </div>
    <!-- EDUCATION -->
    <div class="card">
      <%= render 'education' %>
    </div>
    <!-- SECURITY CHECKS -->
    <div class="card">
      <%= render 'checks' %>
    </div>
  </div>
</div>

<!-- SECURITY CHECK INFO MODAL -->
<div id="modal-checks" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render 'layouts/security_checks' %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- AGREEMENTS MODALS -->
  <!-- ETHICS -->
  <div id="modal-ethics" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'ethics_agreement' %>
    </div>
    <div class="modal-footer">
      <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">I Agree
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
    </div>
  </div>

  <!-- CODE OF CONDUCT -->
  <div id="modal-conduct" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'code_of_conduct_agreement' %>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <!-- TERMS & CONDITIONS -->
  <div id="modal-terms" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'terms_agreement' %>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
