<p id="notice"><%= notice %></p>

<div class="row">
  <%# PROFILE %>
  <div class="col m4">
    <div class="card">
      <%= render 'profiles/my_profile' %>
    </div>
  </div>

<%# RIGHT COLUMN %>
  <div class="col m8">
    <%# WELCOME BUTTON%>
    <p>
      <a class="waves-effect waves-light btn modal-trigger" href="#modal-welcome"><i class="fa fa-comment"></i>  Getting Started</a>
    </p>
    <div id="modal-welcome" class="modal">
      <div class="modal-content">
        <%= render 'profiles/welcome' %>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div><br>
    </div>
  <% if !(@profile.approved) %>
    <%# appears only if the candidate status is not approved by admin therefore the candidate's profile will not appear in MOBEEAS website %>
    <div class="card light-amber">
      <div class="card-content">
        <p>
          You will be approved to participate in MOBEEAS opportunities once the information you have provided has been verified.
          <br>
          You will receive notification as soon as you are approved.
          <br>
          Please contact MOBEEAS Admin on <strong>info@mobeeas.com</strong> for further information.</p>
      </div>
    </div><%# end of card %>

  <% end %><%# end if !(@profile.approved) %>

  <%# AGREEMENTS %>
  <div class="card">
      <%= render 'profiles/agreements' %>
  </div>
  <%# SKILLS %>
    <div class="card">
      <%= render 'profiles/skills' %>
    </div>
    <%# EDUCATION %>
    <div class="card">
      <%= render 'profiles/education' %>
    </div>
    <%# SECURITY CHECKS %>
    <div class="card">
      <%= render 'profiles/checks' %>
    </div>
  </div>
</div>

<%# SECURITY CHECK INFO MODAL %>
<div id="modal-checks" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render 'layouts/security_checks' %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<%# AGREEMENTS MODALS %>
  <%# ETHICS %>
  <div id="modal-ethics" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'profiles/ethics_agreement' %>
    </div>

    <% if @profile.user.agreement.present? %>
      <% if !@profile.user.agreement.ethics %>
        <div class="modal-footer">
          <%= link_to 'I Agree', agree_to_agreement_path(@profile.user.agreement.id, agreement_type: 'ethics'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
        </div>
      <% else %>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# CODE OF CONDUCT %>
  <div id="modal-conduct" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'profiles/code_of_conduct_agreement' %>
    </div>

    <% if @profile.user.agreement.present? %>
      <% if !@profile.user.agreement.code_of_conduct %>
        <div class="modal-footer">
          <%= link_to 'I Agree', agree_to_agreement_path(@profile.user.agreement.id, agreement_type: 'code_of_conduct'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
        </div>
        <% else %>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
      <% end %>
    <% end %>
  </div>


  <%# TERMS & CONDITIONS %>
  <div id="modal-terms-cond" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'profiles/terms_agreement' %>
    </div>

    <% if @profile.user.agreement.present? %>
      <% if !@profile.user.agreement.candidate_terms %>
        <div class="modal-footer">
          <%= link_to 'I Agree', agree_to_agreement_path(@profile.user.agreement.id, agreement_type: 'candidate_terms'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
        </div>
        <% else %>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
      <% end %>
    <% end %>
  </div>
