<p id="notice"><%= notice %></p>

<div class="row">
  <!-- PROFILE -->
  <div class="col m4">
    <div class="card">
      <%= render 'my_profile' %>
    </div>
  </div>

<!-- RIGHT COLUMN -->
  <div class="col m8">
    <!-- WELCOME BUTTON-->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-welcome"><i class="material-icons left">speaker_notes</i>Getting Started</a>
      <div id="modal-welcome" class="modal">
        <div class="modal-content">
          <%= render 'profiles/welcome' %>
        </div>
      </div>

  <!-- AGREEMENTS -->
  <div class="card">
      <%= render 'agreements' %>
  </div>
  <!-- SKILLS -->
    <div class="card">
      <%= render 'skills' %>
    </div>
    <!-- EDUCATION -->
    <div class="card">
      <%= render 'education' %>
    </div>
    <!-- SECURITY CHECKS -->
    <div class="card">
      <%= render 'checks' %>
    </div>
  </div>
</div>

<!-- SECURITY CHECK INFO MODAL -->
<div id="modal-checks" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render 'layouts/security_checks' %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- AGREEMENTS MODALS -->
  <!-- ETHICS -->
  <div id="modal-ethics" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'ethics_agreement' %>
    </div>

    <% if !@agreement.ethics %>
      <div class="modal-footer">
        <%= link_to 'I Agree', agree_to_agreement_path(@agreement, agreement_type: 'ethics'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
      </div>
    <% end %>
  </div>

  <!-- CODE OF CONDUCT -->
  <div id="modal-conduct" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'code_of_conduct_agreement' %>
    </div>

    <% if !@agreement.code_of_conduct %>
      <div class="modal-footer">
        <%= link_to 'I Agree', agree_to_agreement_path(@agreement, agreement_type: 'code_of_conduct'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
      </div>
    <% end %>
  </div>


  <!-- TERMS & CONDITIONS -->


  <div id="modal-terms-cond" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= render 'terms_agreement' %>
    </div>

    <% if !@agreement.terms %>
      <div class="modal-footer">
        <%= link_to 'I Agree', agree_to_agreement_path(@agreement, agreement_type: 'terms'), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I Disagree</a>
      </div>
    <% end %>
  </div>
