<h1>Please verify the skills of <%= @user_profile.name %></h1>

<p>
  Hi <%= @skill_verification.referree_name %>
</p>
<br>
<p>
  <% if @skill_verification.message.present? %>
    <%= @skill_verification.message %>
  <% end %>

<a href="http://mobeeas.com">MOBEEAS</a> (Managed Opportunities Between Employers, Educators and Students)
gives undergraduates, academics and professionals the opportunity to share their expertise with school students and teachers in collaborative learning experiences.</p>

<p>I am applying to join MOBEEAS and require a referee to verify my nominated skills. I would appreciate your completing this reference form at your earliest convenience. It will only take 2 minutes.</p>

<p><%= link_to 'Reference Form', skill_verification_url(@skill_verification.guid) %></p>

<p>Thank you for taking the time to provide me with a reference and for your verification of my skills.</p>

<p>Yours Sincerely<br>
<%= @user_profile.name %>
</p>
