<%= simple_form_for(@opportunity_school_year) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :opportunity, :as => :hidden, input_html: { value: params[:opportunity_id] } %>
    <div class="row">
      <div class="col m6">
        <%= f.association :school_year %>
      </div>
      <div class="col m6">
        <%= f.input :number_of_students %>
      </div>
    </div>
    <%= hidden_field_tag(:opportunity_id, params[:opportunity_id]) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save Participant Details' %>
  </div>
<% end %>
