<%= simple_form_for(@security_check) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Choose Check Type', priority: [ "Working with Children"], collection: ["Working with Children", "Police Check"] %>
  <%= f.input :state, label: 'State', priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"] %>
  <div class="row">
    <div class="col l6">
      <br>
      <%= f.input :number, label: 'Check Number' %>
    </div>
    <div class="col l6">
      <br>
      <%= f.input :expiry_date, label: 'Expiry Date', as: :string, input_html: { class: 'datetimepicker1'}  %>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn">Add Security Check</button>
  </div>
<% end %>
