<%= simple_form_for(@security_check) do |f| %>
  <%= f.error_notification %>

  <div class="input-field">
    <%= f.input :name, label: false, collection: ['Working with Children', 'Police Check'] %>
    <%= f.label :name, label: 'Security check type' %>
  </div>
  <div class="input-field">
    <%= f.input :state, label: false, collection: ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA' ] %>
    <label>State that issued clearance check</label>
  </div>
  <div class="input-field">
    <%= f.input :number, label: 'Clearance check number' %>
  </div>
  <div class="input-field">
    <%= f.input :expiry_date, input_html: { class: 'datepicker' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
