<%= form_for(@security_check) do |f| %>
  <%# f.error_notification %>

  <div class="input-field">
    <%= f.select(:name, options_for_select(['Working with Children', 'Police Check']), class: 'browser-default') %>
    <%= f.label 'Security check type' %>
  </div>
  <div class="input-field">
    <select name="security_check[state]" id="security_check_state" class="browser-default">
    <option value=""></option>
    <option value="ACT">ACT</option>
    <option value="NSW">NSW</option>
    <option value="NT">NT</option>
    <option value="QLD">QLD</option>
    <option value="SA">SA</option>
    <option value="TAS">TAS</option>
    <option value="VIC">VIC</option>
    <option value="WA">WA</option></select>
  </div>
  <div class="input-field">
    <%= f.text_field :number %>
    <%= f.label 'Clearance check number' %>
  </div>
  <div class="input-field">
    <%= f.date_field :expiry_date, class: 'datepicker' %>
    <%= f.label 'Expiry date' %>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn">Add Security Check</button>
  </div>
<% end %>
