<%= simple_form_for(@security_check) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col l6">
      <%= f.input :name, label: 'Choose Check Type', priority: [ "Working with Children"], collection: ["Working with Children", "Police Check", "VIT Card"] %>
    </div>
    <div class="col l6">
      <%= f.input :state, label: 'State', priority: [ "NSW" ], collection: [ "VIC", "ACT", "WA", "NSW", "QLD", "SA", "TAS"] %>
    </div>
  </div>
  <div class="row">
    <div class="col l6">
      <%= f.input :number, label: 'Check Number' %>
    </div>
    <div class="col l6">
      <label for="expiry_date">* Expiry Date</label><%# must add * manually because this label is from the <label> tag where * won't appear automatically %>
      <%= f.date_field :expiry_date, as: :string, input_html: { class: 'datetimepicker1' }, placeholder: 'dd/mm/yyyy' %>

    </div>
  </div>
  <div class="form-actions margin-top-20px margin-bottom-170px">
    <button type="submit" class="btn">Add Security Check</button>
  </div>
<% end %>
