<%= form_for(@security_check) do |f| %>
  <%# f.error_notification %>

  <div class="input-field">
    <%= f.select(:name, options_for_select(['Working with Children', 'Police Check'])) %>
    <%= f.label 'Security check type' %>
  </div>
  <div class="input-field">
    <%= f.select(:state, options_for_select(['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA' ])) %>
    <%= f.label 'State issued' %>
  </div>
  <div class="input-field">
    <%= f.text_field :number %>
    <%= f.label 'Clearance check number' %>
  </div>
  <div class="input-field">
    <%= f.date_field :expiry_date, class: 'datepicker' %>
    <%= f.label 'Expiry date' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
