
<div class="row">
	<%= render 'layouts/sidebar' %>
  <div class="col s12 m10 offset-m2 l10 offset-l2">
    <p id="notice"><%= notice %></p>
    <h5>Listing Approved Skill Categories</h5>
    <%= link_to 'New Skill category', new_skill_category_path, class: 'btn' %>
    <ul class="collapsible" data-collapsible="accordion">
      <% @skill_categories.each do |skill_category| %>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i><%= skill_category.name %> |
            <%= link_to 'Edit', edit_skill_category_path(skill_category) %> |
            <%= link_to 'Delete', skill_category, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div><%# end if collapsible-header %>

          <div class="collapsible-body">
            <% skill_category.skills.each do |skill| %>
              <% if skill.approved %><%# appears only if admin approved the skill %>
                <!-- <div class='btn-flat'><%#= skill.name %></div> -->
                <%= link_to skill.name, skill_path(skill), class: 'waves-effect waves-teal btn-flat' %>
                <%= link_to 'Edit', edit_skill_path(skill) %> |
                <%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %>
                <br>
              <% end %>
            <% end %>
            <%# Add a new other skill: %>
            <div class="row">
              <div class="col s6 offset-s6 m6 offset-m6 l6 offset-l6">
                Add Skill:<br>
                <% @new_skill = Skill.new %>
                <%= simple_form_for(@new_skill) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <%= f.association :skill_category, :as => :hidden, input_html: { value: skill_category.id } %>
                    <%= f.input :name, required: true %>
                    <%= f.input :approved, :as => :hidden, input_html: { value: true } %> <%# new skill that is created by the Admin has value 'true'%>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit %>
                  </div>
                <% end %>
              </div>
            </div>  <%# end of row %>

          </div><%# end if collapsible-body %>

        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
