<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2">Register <% if params[:user_type]  %> as <%= params[:user_type].indefinitize %> <% end %></span>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-login' }) do |f| %>

  	<%= f.error_notification %>

    <%= f.input :email, label: 'Your email', required: true, autofocus: true %>
    <%= f.input :password, label: 'Choose a password', required: true, hint: ("#{@minimum_password_length} characters minimum - " if @minimum_password_length) %>
    <% if params[:user_type] %>
    	<%= f.input :user_type, as: :hidden, input_html: { value: params[:user_type]} %>
    <% end %>
    <div class="row">
      <div class="col s6">
        <button type="submit" class="btn waves-effect waves-light margin-top-20px" name="action">Register</button>
      </div>
    </div>

	<p>
    Already a MOBEEAS member? <br>
    <%= render "devise/shared/links" %>
  </p>
  <p><a href="/">Return Home</a></p>
  </div>
<% end %>
</div>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>
