<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @admin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admin.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @admin.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @admin.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @admin.postcode %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin)
