<h1>Hi <%= @enquiry.name %></h1>


<p>Your MOBEEAS enquiry has been received and one of our friendly team will be in touch with you shortly.</p>

<p>Here is a record of your enquiry:</p>

<p>
  <strong>Name:</strong>
  <%= @enquiry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enquiry.email %>
</p>

<% if @enquiry.phone.present? %>
  <p>
    <strong>Phone:</strong>
    <%= @enquiry.phone %>
  </p>
<% end %>

<% if @enquiry.company.present? %>
  <p>
    <strong>Company:</strong>
    <%= @enquiry.company %>
  </p>
<% end %>

<p>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>
