<%= simple_form_for(@subscription_pack) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @subscription_pack.new_record? %>
      <%= f.input :name %>
    <% end %>
    <%= f.input :price_ex_gst, :input_html => {value: number_with_precision(f.object.price_ex_gst, precision: 2) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
