<%# ORGANISATION%>
<%= simple_form_for(@organisation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organisation_type, :include_blank => false  %>
    <%= f.input :name, label: 'Organisation name' %>
    <%= f.input :address, label: 'Street Address' %>
    <div class="row">
      <div class="col s6">
        <%= f.input :suburb %>
      </div>
      <div class="col s6" style="list-style-type: none;">
        <%= f.input :state, priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"] %>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :postcode %>
      </div>
      <div class="col s6">
        <%= f.input :country, priority: [ "Australia" ] %>
      </div>
    </div>
    <%= f.input :contact_name, label: 'Executive of this Organisation:' %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :logo %>
    <%= f.input :website %>
    <%= f.input :school_type %>

  </div>
  <p>
    The Executive of your organisation will be emailed to approve this request.
  </p>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
