<%= simple_form_for(@organisation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :organisation_type_id, input_html: {value: params[:org_type] } %>
    <%= f.input :name %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :address %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :postcode %>
    <%= f.input :country %>
    <%= f.input :logo %>
    <%= f.input :website %>
    <% if @org_type.name = 'School' %>
      <%= f.input :school_type %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
