<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <h3>Listing Organisations</h3>
    <p>
      Before adding a new organisation/school, please search first to check if it is available already.
    </p>
    <%= form_tag(organisations_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search State, Suburb or Postcode"%>
      <%= submit_tag "Search" %>
    <% end %>
    <% if @organisations.present? %>
      <% @organisations.each do |organisation| %>
        <a href="/organisations/<%= organisation.id %>">
          <ul class="collection" style="list-style-type: none;">
            <li class="collection-item avatar" style="list-style-type: none;">
              <img src="assets/company_logo.jpg" alt="" class="circle">
              <p><span class="bold"><%= organisation.name %></span></p>
              <p><%= organisation.suburb %>  <%= organisation.state %>  <%= organisation.country %></p>
            </li>
          </ul>
        </a>
      <% end %>
    <br>
    <% else %> <!-- it’s good to notify reader if not found -->
      <p>There are no organisations with description: <%= params[:search] %>.</p>
      <%= link_to 'New Organisation', new_organisation_path %>
    <% end %>


  </div>
</div>
