<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <% if current_user.has_role? :admin %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <p id="notice"><%= notice %></p>

    <h4>Registered Organisations
      <!-- Modal Trigger -->
      <%# Any users with roles other than Host can also view info to be come a Host %>
        <a class="modal-trigger" href="#modal1"><i class="material-icons">help</i></a>
    </h4>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h5>Become a MOBEEAS Host</h5>
        <%= cl_image_tag("Become_a_MOBEEAS_Host.png", :width => '100%') %>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>

    <%# Only the user with role as Host can add a new organisation %>
    <% if current_user.has_role? :host %>
      <p>
        Before adding a new organisation, please search first to check if it is already registered.
      </p>
    <% end %>

    <%= form_tag(organisations_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search State, Suburb or Postcode"%>
      <%= submit_tag "Search" %>
    <% end %>
    <% if @organisations.present? %>
      <%= will_paginate @organisations %>
      <% @organisations.each do |organisation| %>
        <a href="/organisations/<%= organisation.id %>">
          <ul class="collection" style="list-style-type: none;">
            <li class="collection-item avatar" style="list-style-type: none;">
              <!-- <img src="assets/company_logo.jpg" alt="" class="circle"> -->
                  <% if organisation.logo.present? %>
                    <%= cl_image_tag(organisation.logo_url, :width=>50, :gravity=>"face", :radius=>"max", :crop=>:scale, :class=>:circle ) %>
                  <% else %>
                    <%= cl_image_tag("noPhoto-icon.png", :width=>50, :gravity=>"face", :radius=>"max", :crop=>:scale, :class=>:circle ) %>
                  <% end %>
                  <span class="bold"><%= organisation.name %></span>
                  <p>
                    <%= organisation.suburb %>  <%= organisation.state %>
                    <% if organisation.country.present? %>
                      <%= organisation.country_name(organisation.country) %>
                    <% end %>

                  </p>
            </li>
          </ul>
        </a>
      <% end %>
    <br>
    <% else %> <%# it’s good to notify reader if not found %>
      <p>There are no organisations with description: <%= params[:search] %>.</p>
      <%# Only the user with role as Host can add a new organisation %>
      <%# Any users with roles other than Host can also sign up to be come a Host %>
      <%= link_to 'Register New Organisation', new_organisation_path(subs_type: 'new_org'), class: 'btn' %>

    <% end %>
  </div>
</div>
