<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <p id="notice"><%= notice %></p>

    <h3>Listing Organisations</h3>

    <%# Only the user with role as Host can add a new organisation %>
    <% if current_user.has_role? :host%>
      <p>
        Before adding a new organisation/school, please search first to check if it is available already.
      </p>
    <% end %>

    <%= form_tag(organisations_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search State, Suburb or Postcode"%>
      <%= submit_tag "Search" %>
    <% end %>
    <% if @organisations.present? %>
      <%= will_paginate @organisations %>
      <% @organisations.each do |organisation| %>
        <a href="/organisations/<%= organisation.id %>">
          <ul class="collection" style="list-style-type: none;">
            <li class="collection-item avatar" style="list-style-type: none;">
              <img src="assets/company_logo.jpg" alt="" class="circle">
              <p><span class="bold"><%= organisation.name %></span></p>
              <p><%= organisation.suburb %>  <%= organisation.state %>  <%= organisation.country %></p>
            </li>
          </ul>
        </a>
      <% end %>
    <br>
    <% else %> <%# it’s good to notify reader if not found %>
      <p>There are no organisations with description: <%= params[:search] %>.</p>

      <%# Only the user with role as Host can add a new organisation %>
      <% if current_user.has_role? :host%>
        <% if current_user.org_user_profile.present? %>
          <%# if host profile already exist, just create a new organisation %>
          <%= link_to 'New Organisation', new_organisation_path(subs_type: 'new_org') %>
        <% end %>
          <%# if host profile does not exist, create both host and organisation %>
      <% else %>
          <%= link_to 'New Organisation', new_organisation_path(subs_type: 'new_host_new_org') %>
      <% end %>
    <% end %>
  </div>
</div>
