
<h1>New Organisation</h1>
<% if params[:subs_type] == 'new_org' %><!-- if the current user is creating a new organisation -->
  <p>
    Before you can create a new organisation, FIRST you need to enter your profile details first.
  </p>

  <!-- ORG USER PROFILE -->
  <% @new_org_user_profile = OrgUserProfile.new %>
  <% @new_org_user_profile.user_id = current_user.id %>
  <% @new_org_user_profile.org_creator = true %>
  <% @new_org_user_profile.save!%>


  <%= simple_form_for(@new_org_user_profile) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :position %>
      <%#= f.input :guid %>
      <%#= f.association :user, :as => :hidden %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Create Organisation User Profile" %>
    </div>
  <% end %>

  <br><br>
<% else %><!-- if the current user is not creating a new organisation, render form -->
  <%= render 'form' %>
<% end %>

<%= link_to 'Back', organisations_path %>
