
<h5>New Organisation</h5>
<% if params[:subs_type] == 'new_host_new_org' %><%# if the current user is creating a new host and organisation %>
  <p>
    Please enter your details before creating a new organisation.
  </p>

  <%# ORG USER PROFILE %>
  <%# The user who creates a new organisation will have role as a host %>
  <% @new_org_user_profile = OrgUserProfile.new %>
  <%# current_user.add_role :host %>
  <%# current_user.save! %>

  <%= simple_form_for(@new_org_user_profile) do |f| %>
    <%= f.error_notification %>
    <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>

    <%= f.input :org_creator, :as => :hidden, input_html: { value: true } %>
    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :position %>
      <%#= f.input :guid %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Create Organisation User Profile" %>
    </div>
  <% end %>

  <br><br>
<% elsif params[:subs_type] == 'new_org' %><%# if the current user is not creating a new host profile, render form %>
  <%= render 'form' %>
<% end %>
