<p id="notice"><%= notice %></p>

<div class="row">
  <!-- PROFILE -->
  <div class="col m4">
    <div class="card">
      <%= render 'organisations/org_profile' %>
    </div>
  </div>

<!-- RIGHT COLUMN -->
  <div class="col m8">
    <!-- WELCOME BUTTON-->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-welcome"><i class="material-icons left">speaker_notes</i>Getting Started</a>
      <div id="modal-welcome" class="modal">
        <div class="modal-content">
          <p>Something to appear here</p>
        </div>
      </div>

  <!-- APPROVED ADMIN -->
  <div class="card">
    <h5>Approved Admin</h5>
    <p>Approved Admin will have the ability to purchase and spend the company's tokens</p>
    <%# if @organisation.org_users.host_user.present? %>

    <% if @organisation.org_users.admin_user.present? %>
      <p>List of approved admin:</p>
      <ol>
        <% @organisation.users.each do |user| %>
          <% if user.org_users.present? %>
            <% user.org_users.each do |org_user| %>
            <!-- just show the profile that is linked to this organisation -->
              <% if org_user.organisation_id == @organisation.id %>
                <% if org_user.admin_status && org_user.verified_status %>
                  <li><p>
                  <strong><%= link_to user.org_user_profile.name, org_user_profile_path(user.org_user_profile.id) %></strong>
                  (Verified)
                  <!-- if the curret user is already linked to this organisation they can edit or delete -->
                  <% if org_user.user_id == current_user.id %>
                    <%= link_to edit_org_user_profile_path(user.org_user_profile, org_id: @organisation.id) do %><i class="material-icons tiny">mode_edit</i><% end %>
                    <%= link_to 'Disconnect', remove_host_from_organisation_path(@organisation, user_id: user.id), data: {confirm: "Are you sure to remove the connection?"}%>
                  <% end %><!-- end of org_user.user_id == current_user.id -->
                <!-- <%# elsif !(org_user.admin_status) && !(org_user.verified_status) %>
                  <strong><%#= link_to user.org_user_profile.name, org_user_profile_path(user.org_user_profile.id) %></strong>
                  (Not Verified) -->
                <% end %>
                  </p></li>
              <% end %><!-- if org_user.organisation_id == @organisation.id -->
            <% end %><!-- end loop -->
          <% end %><!-- if user.org_users.present? -->
        <% end %><!-- end of loop -->
      </ol>

    <!-- CHECK IF CURRENT USER WANTS TO JOIN IN WITH THIS ORGANISATION -->
      <!-- check if current user already has profile -->
      <% if current_user.org_user_profile.present? %>
        <!--  if already has a profile, check if it is linked to this organisation -->
        <% @connected = false %><!-- starts with connected is false -->
        <%  current_user.org_users.each do |curr_org_user| %>
          <% if curr_org_user.organisation_id == @organisation.id %>
            <% @connected = true %>
            <!-- if at least one match is found from many organisations, connected is true because current user is already linked up his profile to this organisation
                and don't do anything -->
          <% end %>
        <% end %><!-- end curr_org_user loop -->
        <% if @connected == false %><!-- if no connection is found -->
          <p>You already have a host profile but not connected to <%= @organisation.name %>, would you like to host <%= @organisation.name %>?</p>
          <div class="row">
            <div class="col s4 m4 l4">
              <%= link_to "Connect me...", add_admin_into_organisation_path(@organisation, user_id: current_user.id), data: {confirm: "You are about to link your profile to this organisation"}, class: "waves-effect waves-light btn" %>
            </div>
            <div class="col s4 m4 l4">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#host_profile">My Profile</a>
            </div>
          </div><!-- end of row -->
          <!-- Modal Structure -->
          <div id="host_profile" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>
              <strong>First name:</strong>
              <%= current_user.org_user_profile.first_name %>
              </p>

              <p>
              <strong>Last name:</strong>
              <%= current_user.org_user_profile.last_name %>
              </p>

              <p>
              <strong>Phone:</strong>
              <%= current_user.org_user_profile.phone %>
              </p>

              <p>
              <strong>Email:</strong>
              <%= current_user.org_user_profile.user.email %>
              </p>
              <p>
              <strong>Position:</strong>
              <%= current_user.org_user_profile.position %>
              </p>

            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
          <!-- end of Modal -->
        <% end %>
      <% else %><!-- else if the user does not have a profile created -->
        <p>
          You haven't created a host profile.<br>
          Would you like create a host profile and to become an admin host of <%= @organisation.name %>?<br>
          Your application is subject to the approval of the organisation supervisor.<br>
        </p>
        <%= link_to 'Create My Profile', new_org_user_profile_path(org_id: @organisation.id) %>
      <% end %>

    <% else %><!-- else if this organisation do not have a single host at all -->
      <!-- CHECK IF CURRENT USER WANTS TO JOIN IN WITH THIS ORGANISATION -->
      <!-- check if current user already has profile -->
      <% if current_user.org_user_profile.present? %>
        <!--  if already has a profile, check if it is linked to this organisation -->
        <% @connected = false %><!-- starts with connected is false -->
        <%  current_user.org_users.each do |curr_org_user| %>
          <% if curr_org_user.organisation_id == @organisation.id %>
            <% @connected = true %>
            <!-- if at least one match is found from many organisations, connected is true because current user is already linked up his profile to this organisation
                and don't do anything -->
          <% end %>
        <% end %><!-- end curr_org_user loop -->
        <% if @connected == false %><!-- if no connection is found -->
        <p>You already have a host profile but not connected to <%= @organisation.name %>, would you like to host <%= @organisation.name %>?</p>
          <div class="row">
            <div class="col s4 m4 l4">
              <%= link_to "Connect me...", add_admin_into_organisation_path(@organisation, user_id: current_user.id), data: {confirm: "You are about to link your profile to this organisation"}, class: "waves-effect waves-light btn" %>
            </div>
            <div class="col s4 m4 l4">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#host_profile">My Profile</a>
            </div>
          </div><!-- end of row -->
          <!-- Modal Structure -->
          <div id="host_profile" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>
              <strong>First name:</strong>
              <%= current_user.org_user_profile.first_name %>
              </p>

              <p>
              <strong>Last name:</strong>
              <%= current_user.org_user_profile.last_name %>
              </p>

              <p>
              <strong>Phone:</strong>
              <%= current_user.org_user_profile.phone %>
              </p>

              <p>
              <strong>Email:</strong>
              <%= current_user.org_user_profile.user.email %>
              </p>
              <p>
              <strong>Position:</strong>
              <%= current_user.org_user_profile.position %>
              </p>

            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
          <!-- end of Modal -->
        <% end %>
      <% else %><!-- else if the user does not have a profile created -->
        <p>
          You haven't created a host profile.<br>
          Would you like create a host profile and to become an admin host of <%= @organisation.name %>?<br>
          Your application is subject to the approval of the organisation supervisor.<br>
        </p>
        <%= link_to 'Create My Profile', new_org_user_profile_path(org_id: @organisation.id) %>
      <% end %>
    <% end %><!-- if @organisation.users.present? -->
  </div>

  <!-------------------------------------->
  <!-- APPROVED HOSTS -->
  <div class="card">
    <h5>Approved Hosts</h5>
    <p>Approved Hosts will have the ability to create opportunity and request the use of company's token from Admin.</p>
    <% if @organisation.org_users.host_user.present? %>
      <p>List of approved hosts:</p>
      <ol>
        <% @organisation.users.each do |user| %>
          <% if user.org_users.present? %>
            <% user.org_users.each do |org_user| %>
            <!-- just show the profile that is linked to this organisation -->
              <% if org_user.organisation_id == @organisation.id %>

                  <% if !(org_user.admin_status) && org_user.verified_status %>
                    <li><p>
                      <strong><%= link_to user.org_user_profile.name, org_user_profile_path(user.org_user_profile.id) %></strong>
                      (Verified)
                      <!-- if the curret user is already linked to this organisation they can edit or delete -->
                      <% if org_user.user_id == current_user.id %>
                        <%= link_to edit_org_user_profile_path(user.org_user_profile, org_id: @organisation.id) do %><i class="material-icons tiny">mode_edit</i><% end %>
                        <%= link_to 'Disconnect', remove_host_from_organisation_path(@organisation, user_id: user.id), data: {confirm: "Are you sure to remove the connection?"}%>
                      <% end %><!-- end of org_user.user_id == current_user.id -->
                    <!-- <%# else %>
                      (Not Verified) -->
                    </p></li>
                  <% end %>


              <% end %><!-- if org_user.organisation_id == @organisation.id -->
            <% end %><!-- end loop -->
          <% end %><!-- if user.org_users.present? -->
        <% end %><!-- end of loop -->
      </ol>

    <!-- CHECK IF CURRENT USER WANTS TO JOIN IN WITH THIS ORGANISATION -->
      <!-- check if current user already has profile -->
      <% if current_user.org_user_profile.present? %>
        <!--  if already has a profile, check if it is linked to this organisation -->
        <% @connected = false %><!-- starts with connected is false -->
        <%  current_user.org_users.each do |curr_org_user| %>
          <% if curr_org_user.organisation_id == @organisation.id %>
            <% @connected = true %>
            <!-- if at least one match is found from many organisations, connected is true because current user is already linked up his profile to this organisation
                and don't do anything -->
          <% end %>
        <% end %><!-- end curr_org_user loop -->
        <% if @connected == false %><!-- if no connection is found -->
          <p>You already have a host profile but not connected to <%= @organisation.name %>, would you like to host <%= @organisation.name %>?</p>
          <div class="row">
            <div class="col s4 m4 l4">
              <%= link_to "Connect me...", add_host_into_organisation_path(@organisation, user_id: current_user.id), data: {confirm: "You are about to link your profile to this organisation"}, class: "waves-effect waves-light btn" %>
            </div>
            <div class="col s4 m4 l4">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#host_profile">My Profile</a>
            </div>
          </div><!-- end of row -->

          <!-- Modal Structure -->
          <div id="host_profile" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>
              <strong>First name:</strong>
              <%= current_user.org_user_profile.first_name %>
              </p>

              <p>
              <strong>Last name:</strong>
              <%= current_user.org_user_profile.last_name %>
              </p>

              <p>
              <strong>Phone:</strong>
              <%= current_user.org_user_profile.phone %>
              </p>

              <p>
              <strong>Email:</strong>
              <%= current_user.org_user_profile.user.email %>
              </p>
              <p>
              <strong>Position:</strong>
              <%= current_user.org_user_profile.position %>
              </p>

            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
          <!-- end of Modal -->
        <% end %>
      <% else %><!-- else if the user does not have a profile created -->
        <p>
          You haven't created a host profile.<br>
          Would you like create a host profile and to become an admin host of <%= @organisation.name %>?<br>
          Your application is subject to the approval of the organisation supervisor.<br>
        </p>
        <%= link_to 'Create My Profile', new_org_user_profile_path(org_id: @organisation.id) %>
      <% end %>
    <% else %><!-- else if this organisation do not have a single host at all -->
      <!-- CHECK IF CURRENT USER WANTS TO JOIN IN WITH THIS ORGANISATION -->
      <!-- check if current user already has profile -->
      <% if current_user.org_user_profile.present? %>
        <!--  if already has a profile, check if it is linked to this organisation -->
        <% @connected = false %><!-- starts with connected is false -->
        <%  current_user.org_users.each do |curr_org_user| %>
          <% if curr_org_user.organisation_id == @organisation.id %>
            <% @connected = true %>
            <!-- if at least one match is found from many organisations, connected is true because current user is already linked up his profile to this organisation
                and don't do anything -->
          <% end %>
        <% end %><!-- end curr_org_user loop -->
        <% if @connected == false %><!-- if no connection is found -->
        <p>You already have a host profile but not connected to <%= @organisation.name %>, would you like to host <%= @organisation.name %>?</p>
        <div class="row">
          <div class="col s4 m4 l4">
            <%= link_to "Connect me...", add_host_into_organisation_path(@organisation, user_id: current_user.id), data: {confirm: "You are about to link your profile to this organisation"}, class: "waves-effect waves-light btn" %>
          </div>
          <div class="col s4 m4 l4">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#host_profile">My Profile</a>
          </div>
        </div><!-- end of row -->

          <!-- Modal Structure -->
          <div id="host_profile" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>
              <strong>First name:</strong>
              <%= current_user.org_user_profile.first_name %>
              </p>

              <p>
              <strong>Last name:</strong>
              <%= current_user.org_user_profile.last_name %>
              </p>

              <p>
              <strong>Phone:</strong>
              <%= current_user.org_user_profile.phone %>
              </p>

              <p>
              <strong>Email:</strong>
              <%= current_user.org_user_profile.user.email %>
              </p>
              <p>
              <strong>Position:</strong>
              <%= current_user.org_user_profile.position %>
              </p>

            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
          <!-- end of Modal -->
        <% end %>
      <% else %><!-- else if the user does not have a profile created -->
        <p>
          You haven't created a host profile.<br>
          Would you like create a host profile and to become an admin host of <%= @organisation.name %>?<br>
          Your application is subject to the approval of the organisation supervisor.<br>
        </p>
        <%= link_to 'Create My Profile', new_org_user_profile_path(org_id: @organisation.id) %>
      <% end %>
    <% end %><!-- end of if @organisation.org_users.host_user.present? -->
  </div>

  <!-------------------------------------->
  <!-- EDUCATION -->
  <div class="card">
    <p>some info here3</p>
  </div>

  <!-------------------------------------->
  <!-- SECURITY CHECKS -->
  <div class="card">
    <p>some info here4</p>
  </div>
  </div>
</div>
