<p id="notice"><%= notice %></p>

<div class="row">
  <!-- PROFILE -->
  <div class="col m4">
    <div class="card">
      <%= render 'organisations/org_profile' %>
    </div>
  </div>

<!-- RIGHT COLUMN -->
  <div class="col m8">
    <!-- WELCOME BUTTON-->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-welcome"><i class="material-icons left">speaker_notes</i>Getting Started</a>
      <div id="modal-welcome" class="modal">
        <div class="modal-content">
          <p>Something to appear here</p>
        </div>
      </div>

  <!-- APPROVED ADMIN -->
  <div class="card">
    <h5>Approved Admin</h5>
    <p>Approved Admin will have the ability to purchase and spend the company's tokens</p>
    <p>List of approved admin:</p>
    <% if @organisation.users.present? %>
      <ol>
        <% @organisation.users.each do |user| %>
          <% if user.org_users.present? %>
            <% user.org_users.each do |org_user| %>
            <!-- just show the profile that is linked to this organisation -->
            <% if org_user.organisation_id == @organisation.id %>
              <li><p>
                <strong><%= link_to user.org_user_profile.name, org_user_profile_path(user.org_user_profile.id) %></strong>
                <% if org_user.admin_status && org_user.verified_status %>
                  (Verified)
                <% else %>
                  (Not Verified)
                <% end %>

                <!-- if the curret user is already linked to this organisation they can edit or delete -->
                <% if org_user.user_id == current_user.id %>
                  <%= link_to edit_org_user_profile_path(user.org_user_profile, org_id: @organisation.id) do %><i class="material-icons tiny">mode_edit</i><% end %>
                  <%= link_to 'Disconnect', remove_host_from_organisation_path(@organisation, user_id: user.id), data: {confirm: "Are you sure to remove the connection?"}%>
                <% end %><!-- org_user.user_id == current_user.id -->
              </p></li>
            <% end %><!-- if org_user.organisation_id == @organisation.id -->

            <% end %><!-- end loop -->
          <% end %><!-- if user.org_users.present? -->
        <% end %><!-- end of loop -->
      </ol>

    <!-- CHECK IF CURRENT USER WANTS TO JOIN IN WITH THIS ORGANISATION -->
      <!-- check if current user already has profile -->
      <% if current_user.org_user_profile.present? %>
        <!--  if already has a profile, check if it is linked to this organisation -->
        <% @connected = false %><!-- starts with connected is false -->
        <%  current_user.org_users.each do |curr_org_user| %>
          <% if curr_org_user.organisation_id == @organisation.id %>
            <% @connected = true %>
            <!-- if at least one match is found from many organisations, connected is true because current user is already linked up his profile to this organisation
                and don't do anything -->
          <% end %>
        <% end %><!-- end curr_org_user loop -->
        <% if @connected == false %><!-- if no connection is found -->
          <p>You already have a <%= link_to "host profile", org_user_profile_path(current_user.org_user_profile.id)%> but not connected to <%= @organisation.name %>, would you like to host <%= @organisation.name %>?</p>
          <p><%= link_to "Connect me...", add_user_into_organisation_path(@organisation, user_id: current_user.id), data: {confirm: "You are about to link your profile to this organisation"} %></p>
        <% end %>
      <% else %><!-- else if the user does not have a profile created -->
        <p>
          You haven't created a host profile.<br>
          Would you like create a host profile and to become an admin host of <%= @organisation.name %>?<br>
          Your application is subject to the approval of the organisation supervisor.<br>
        </p>
        <%= link_to 'Create My Profile', new_org_user_profile_path(org_id: @organisation.id) %>
      <% end %>

    <% end %>
  </div>

  <!-- APPROVED USERS -->
  <div class="card">
    <h5>Approved Users</h5>
    <p>Approved User will have the ability to create opportunity and request the use of company's token from Admin.</p>
    <% if @organisation.org_users.present? %>
      <ol>
        <% @organisation.org_users.each do |org_user| %>
            <!-- Displays the users whose status has been verified by org supervisor, but not to be at admin level -->
            <% if !(org_user.admin_status) && (org_user.verified_status) %>
              <li><%= org_user.user.org_user_profile.name %></li>
            <% end %>
        <% end %>
      </ol>
    <% end %>
  </div>

  <!-- EDUCATION -->
  <div class="card">
    <p>some info here3</p>
  </div>

  <!-- SECURITY CHECKS -->
  <div class="card">
    <p>some info here4</p>
  </div>
  </div>
</div>
