<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
    <p id="notice"><%= notice %></p>

    <h4>Skill Verifications</h4>
    <% if @skill_verifications.present? %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Candidate</th>
            <th>Referee</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @skill_verifications.order("id ASC").each do |skill_verification| %>
            <tr>
              <td><%= skill_verification.id %></td>
              <td><%= skill_verification.user.profile.name %></td>
              <td><%= skill_verification.referree_name %></td>
              <td><%= link_to 'Edit', edit_skill_verification_path(skill_verification) %></td>
              <td><%= link_to 'Delete', skill_verification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There is no skill verification.</p>
    <% end %>
  </div>
</div>
