<p id="notice"><%= notice %></p>

<h1>Skill Verifications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_verifications.each do |skill_verification| %>
      <tr>
        <td><%= skill_verification.user.profile.name %></td>
        <td><%= 'YES' if skill_verification.approve %></td>
        <td><%= link_to 'Show', skill_verification %></td>
        <td><%= link_to 'Edit', edit_skill_verification_path(skill_verification) %></td>
        <td><%= link_to 'Destroy', skill_verification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill verification', new_skill_verification_path %>
