<h4>Dear MOBEEAS Team</h4>

<p>
  A new user has been created, please view the profile here:
</p>
<% if @user.org_user_profile.present? %>
  <p>
    New user type: Host.<br>
    Name: <%= link_to @user.org_user_profile.name, org_user_profile_url(@user.org_user_profile.id) %>
  </p>
<% elsif @user.profile.present? %>
  <p>
    New user type: Candidate.<br>
    Name: <%= link_to @user.profile.name, profile_url(@user.profile) %><br>
    Location: <%= @user.profile.suburb %>, <%= @user.profile.state %>
  </p>
<% elsif @user.sponsor.present? %>
  <p>
    New user type: Sponsor.<br>
    Name: <%= link_to @user.sponsor.name, sponsor_url(@user.sponsor.id) %><br>
    Organisation: <%= @user.sponsor.organisation %>
  </p>

<% end %>
