<span class="card-title blue-text"><i class="fa fa-child"></i> Your security checks <a href="#modal-checks-host" class="modal-trigger"><i class="material-icons">help</i></a></span>
<p>
  Security check requirements are different in each region. Find out more <a href="#modal-checks-host" class="modal-trigger">here</a>.
</p>
<%# SECURITY CHECK INFO MODAL for HOST %>
<div id="modal-checks-host" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render 'layouts/security_checks' %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<p>
  <% if @org_user_profile.user.security_checks.present? %>
  <table>
    <thead><tr>
      <th>Type</th>
      <th>State</th>
      <th>Expires</th>
      <th>Number</th>
      <th class="right-align">Verified</th>
      </tr>
    </thead>
    <% @org_user_profile.user.security_checks.each do |check| %>
      <tr>
        <td><%= check.name %></td>
        <td><%= check.state %></td>
        <% if check.expiry_date.present? %>
          <td><%= check.expiry_date.strftime('%d %b %y') %></td>
        <% end %>
        <td> <%= check.number %></td>
        <td class="right-align">
          <% if check.verified %>
            <span class="green-text"><i class="fa fa-check-circle"></i></span>
          <% else %>
            <span class="red-text"><i class="fa fa-times"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
    <div class="purple-text">No security checks listed.</div>
  <% end %>
</p>

<div class="card-action">
<a href="/security_checks/new" class="waves-effect waves-light btn white-text">Add a security check</a>
</div>
