<%= simple_form_for(@org_user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :position %>

    <%= hidden_field_tag(:org_id, params[:org_id]) %>
    <% if params[:is_admin].present? %>
      <%= hidden_field_tag(:is_admin, params[:is_admin]) %>
    <% end %>
    <%#= f.input :guid %>
    <%= f.association :user, :as => :hidden %>
  </div>
  <br>

  <% if !(@accepts) %>false
    <p><strong>Sorry, you can register only if you accept the agreement.</strong></p>
  <% else %>true
    <div class="form-actions">
    <%= f.button :submit, "Update Host Profile"%>
    </div>
  <% end %>
<% end %>
