<%= simple_form_for(@org_user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col l6">
        <%= f.input :first_name %>
      </div>
      <div class="col l6">
        <%= f.input :last_name %>
      </div>
      <div class="col l6">
        <%= f.input :phone %>
      </div>
      <div class="col l6">
        <%= f.input :position %>
      </div>
      <div class="col l6">
        <%= f.input :suburb %>
      </div>
      <div class="col l6">
        <%= f.input :state, priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"] %>
      </div>
      <div class="col l6">
        <%= f.input :postcode %>
      </div>
      <div class="col l6">
        <%= f.input :country, priority: [ "Australia" ] %>
      </div>
      <% if params[:org_id].present? %>
        <%= hidden_field_tag(:org_id, params[:org_id]) %>
        <%= f.input :agency, :as => :hidden, input_html: { value: 'organisation host' } %>
      <% end %>
      <% if params[:is_admin].present? %>
        <%= hidden_field_tag(:is_admin, params[:is_admin]) %>
      <% end %>
      <%#= f.input :guid %>
      <%= f.association :user, :as => :hidden %>
    </div>
  </div>
  <br>
  <div class="form-actions">
  <%= f.button :submit, "Update Host Profile" %>
  </div>
<% end %>
