<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
      <p id="notice"><%= notice %></p>

      <% if (params[:status] == 'approved') %>
        <% if @org_user_profiles.approved.present? %>
          <h4>Approved Hosts</h4>
          <ol>
            <% @org_user_profiles.approved.order("id ASC").each do |org_user_profile| %>
              <li>
                Host ID: <%= org_user_profile.id %> - <strong><%= org_user_profile.name %></strong> of <%= org_user_profile.suburb %>, <%= org_user_profile.state %> <%= org_user_profile.postcode %>, <%= org_user_profile.country_name(org_user_profile.country) %>
                - <%= link_to 'View', host_profile_path(org_user_profile_id: org_user_profile.id, viewer: 'admin') %>
                 | <%= link_to 'Prohibit '+ org_user_profile.first_name, prohibit_org_user_profile_path(org_user_profile) %>
              </li>
            <% end %>
          </ol>
        <% else %>
          <p>There are no approved hosts.</p>
        <% end %><%# end of if @org_user_profiles.approved.present? %>
      <% elsif (params[:status] == 'prohibited') %>
        <% if @org_user_profiles.not_approved.present? %>
        <div class="card light-amber">
          <div class="card-content">
            Warning! Before approving, please check that each host security check is not empty or not verified.
          </div>
        </div>
          <h4>Prohibited Hosts</h4>
              <ol>
                <% @org_user_profiles.not_approved.order("id ASC").each do |org_user_profile| %>
                  <li>
                    Host ID: <%= org_user_profile.id %> - <strong><%= org_user_profile.name %></strong> of <%= org_user_profile.suburb %>, <%= org_user_profile.state %> <%= org_user_profile.postcode %>, <%= org_user_profile.country_name(org_user_profile.country) %>
                     - <%= link_to 'View', host_profile_path(org_user_profile_id: org_user_profile.id, viewer: 'admin') %>
                     | <%= link_to 'Approve '+ org_user_profile.first_name, approve_org_user_profile_path(org_user_profile) %>
                  </li>
                <% end %>
              </ol>

        <% else %>
          <p>There is no prohibited host.</p>
        <% end %><%# end if @profiles.approved.present? %>
      <% end %><%# end if (params[:approved]) %>

  </div>
</div>
