<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @org_user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @org_user_profile.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @org_user_profile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @org_user_profile.user.email %>
</p>
<p>
  <strong>Position:</strong>
  <%= @org_user_profile.position %>
</p>

<p>
  <strong>Admin status:</strong>
  <%= @org_user_profile.admin_status %>
</p>

<p>
  <strong>Verified status:</strong>
  <%= @org_user_profile.verified_status %>
</p>

<% if !(@org_user_profile.org_creator) && !(@org_user_profile.org_creator) %>
  <p>
    Your request has been sent to the organisation supervisor, pending for approval.
    Once the approval is received, your name will appear in the list of organisation's hosts.
  </p>
<% end %>

<!-- DO NOT USE THIS BUT KEEP THIS PERHAPS FOR USE IN THE FUTURE
<p>
  <strong>Direct Supervisor:</strong>
  <%#= @org_user_profile.user.organisations.find_by(params[:org_id]).contact_name %>
</p>

<p>
  <strong>Supervisor Email:</strong>
  <%#= @org_user_profile.user.organisations.find_by(params[:org_id]).contact_email %>
</p>

<p>
  <strong>Supervisor Phone:</strong>
  <%#= @org_user_profile.user.organisations.find_by(params[:org_id]).contact_phone %>
</p>
-->
<!-- if org user profile is the creator of this organisation, only then the new organisation form will appear-->
<% if @org_user_profile.org_creator %>
  <h4>ORGANISATION DETAILS:</h4>
  <br>
  <% @new_organisation = Organisation.new %>

  <!-- ORGANISATION-->
  <%= simple_form_for(@new_organisation) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :organisation_type  %>
      <%= f.input :name, label: 'Organisation name' %>
      <%= f.input :address, label: 'Street Address' %>
      <div class="row">
        <div class="col s6">
          <%= f.input :suburb %>
        </div>
        <div class="col s6" style="list-style-type: none;">
          <%= f.input :state, priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"] %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <%= f.input :postcode %>
        </div>
        <div class="col s6">
          <%= f.input :country %>
        </div>
      </div>

      <%= f.input :contact_name %>
      <%= f.input :contact_email %>
      <%= f.input :contact_phone %>
      <%= f.input :logo %>
      <%= f.input :website %>
      <%= f.input :acara_school_id %>
      <%= f.input :school_type %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %> <!-- end if the org user profile is not an organisation creator -->


<!-- DO NOT USE THIS
<%#= link_to 'Edit', edit_org_user_profile_path(@org_user_profile) %> |
<%#= link_to 'Back', org_user_profiles_path %>
-->
