<p id="notice"><%= notice %></p>

<h1>Listing Organisation Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisation_types.each do |organisation_type| %>
      <tr>
        <td><%= organisation_type.name %></td>
        <td><%= organisation_type.description %></td>
        <td><%= link_to 'Show', organisation_type %></td>
        <td><%= link_to 'Edit', edit_organisation_type_path(organisation_type) %></td>
        <td><%= link_to 'Destroy', organisation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation type', new_organisation_type_path %>
