<p class="margin-left-10px" id="notice"><%= notice %></p>

<p class="margin-left-10px">
  <strong>Name:</strong>
  <%= @organisation_type.name %>
</p>

<p class="margin-left-10px">
  <strong>Description:</strong>
  <%= @organisation_type.description %>
</p>

<%= link_to 'Edit', edit_organisation_type_path(@organisation_type) %> |
<%= link_to 'Back', organisation_types_path %>
