<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :skill_category, as: :hidden %>
    <%= f.input :name %>
    <%#= f.input :description %> <%# at this stage do not use description %>
    <% if current_user.has_role? :admin %>
      <%= f.input :approved, :as => :hidden, input_html: { value: true } %> <%# new skill that is created by the Admin has value 'true'%>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
