<h1>New Host Notification</h1>

<p>
  Dear <%= @organisation.contact_name %>,
</p>
<p>
  Your organisation <%= @organisation.name %> new host has been created in MOBEEAS, waiting for your approval.
  This user would like to apply for <strong>HOST</strong> rights, which means that he or she will be able to create new opportunities and issue engagement tokens.
  <br>
  Please click on the link below if you approve this application:
  <br>
  <% @org_user = OrgUser.find_by(user_id: @user.id, organisation_id: @organisation.id) %>
  <%= link_to 'Approve '+@user.org_user_profile.name, verified_host_org_user_url(@org_user.id, org_id: @organisation.id) %>
  <br>
  Here are the new host contact details:
<p>

<p>
  <strong>Name:</strong>
  <%= @user.org_user_profile.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.org_user_profile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.org_user_profile.position %>
</p>

<p>Thank you from the MOBEEAS Team</p>
