<%= params[:opportunity_id]%>

<%= simple_form_for(@engagement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :opportunity, :as => :hidden, input_html: { value: params[:opp_id] } %>
    <%= f.association :profile, :as => :hidden, input_html: { value: params[:profile_id] } %>
    <%= hidden_field_tag(:opp_id, params[:opp_id]) %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'ENGAGE' %>
  </div>
<% end %>
