<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity:</strong>
  <%= @engagement.opportunity.title %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @engagement.profile.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @engagement.status %>
</p>

<%= link_to 'Back to Opportunity', opportunity_path(@engagement.opportunity.id) %>
