<%= simple_form_for(@sponsor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :organisation %>
    <%= f.input :position %>

    <div class="row">
      <div class="col s6">
        <%= f.input :phone1 %>
      </div>
      <div class="col s6">
        <%= f.input :phone2 %>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <%= f.input :address %>
      </div>
      <div class="col s6">
        <%= f.input :suburb %>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <%= f.input :state, priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"], :include_blank => false %>
      </div>
      <div class="col s4">
        <%= f.input :postcode %>
      </div>
      <div class="col s4">
        <%= f.input :country, priority: [ "Australia" ], :include_blank => false %>
      </div>
    </div>


    <%#= f.input :guid %>
    <%= f.association :user, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
