<!-- <p id="notice"><%#= notice %></p> -->
<% @sponsors = Sponsor.all %>
<h4>Sponsors Index</h4>

<table class="bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Organisation</th>
      <th>Position</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Sponsored Opportunities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.order("id ASC").each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.name %></td>
        <td><%= sponsor.organisation %></td>
        <td><%= sponsor.position %></td>
        <td><%= sponsor.phone1 %></td>
        <td><%= sponsor.phone2 %></td>
        <td><%= sponsor.address %></td>
        <td><%= sponsor.suburb %></td>
        <td><%= sponsor.state %></td>
        <td><%= sponsor.postcode %></td>
        <td><%= sponsor.country_name(sponsor.country) %></td>
        <td>
          <% sponsor.expression_of_interests.approved.order("id ASC").each do |expression_of_interest| %>
            <%= link_to expression_of_interest.opportunity_id, opportunity_path(expression_of_interest.opportunity_id) %>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
