<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @sponsor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sponsor.last_name %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @sponsor.organisation %>
</p>

<p>
  <strong>Position:</strong>
  <%= @sponsor.position %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @sponsor.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @sponsor.phone2 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sponsor.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @sponsor.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @sponsor.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @sponsor.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sponsor.country_name(@sponsor.country) %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @sponsor.guid %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsor.user %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %>
