<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">

		<%= render 'layouts/sidebar' %>
    <% if current_user.has_role? :master_admin %>
		  <h4>Master Admin Profile</h4>
    <% else %>
      <h4>Admin Profile</h4>
    <% end %>
    <% if (user_signed_in?) && (current_user.has_role? :admin) %>
      <% if current_user.admins.present? %>
        <p><strong>First Name: </strong><%= @admin.first_name %></p>
        <p><strong>Last Name: </strong><%= @admin.last_name %></p>
        <p><strong>Phone: </strong><%= @admin.phone %></p>
        <p><strong>Email: </strong><%= @admin.user.email %></p>
        <p><strong>Address: </strong><%= @admin.address %></p>
        <p><strong>Suburb: </strong><%= @admin.suburb %></p>
        <p><strong>State: </strong><%= @admin.state %></p>
        <p><strong>Postcode: </strong><%= @admin.postcode %></p>


      <% else %>
        <p>
          Your Admin Profile has not been created. Please create your profile below.
        </p>
        <%= link_to 'Create Admin Profile', new_admin_path(user_id: current_user.id) %>
      <% end %> <%# end of if current_user.admins.present?%>
    <% end %><%# end of if (user_signed_in?) && (current_user.has_role? :admin) %>
	</div>
</div>
