<% if user_signed_in? %>
  <%# if current_user.has_role? :host%>
    <%= render 'layouts/sidebar'%>
      <div class="row">
        <div class="col s12 m10 offset-m2 l10 offset-l2">
          <% if current_user.org_user_profile.present? %>
            <p>
            <strong>First name:</strong>
            <%= @org_user_profile.first_name %>
            </p>

            <p>
            <strong>Last name:</strong>
            <%= @org_user_profile.last_name %>
            </p>

            <p>
            <strong>Phone:</strong>
            <%= @org_user_profile.phone %>
            </p>

            <p>
            <strong>Email:</strong>
            <%= @org_user_profile.user.email %>
            </p>
            <p>
            <strong>Position:</strong>
            <%= @org_user_profile.position %>
            </p>
            <% if current_user.id == @org_user_profile.user_id %>
              <%= link_to 'Edit My Profile', edit_org_user_profile_path(current_user.org_user_profile)%>
            <% end %>
          <% else %> <!-- else if current_user's profile hasn't been created yet -->
            <p>Your host profile is not created. Please go to <%= link_to 'Organisations Index', organisations_profile_path %> and select one of the organisations as the first step to create your host profile.</p>
          <% end %>
        </div>
      </div>
  <%# end %>
<% end %>
