<div class="row">
  <div class="col c12 m11 offset-m1 l11 offset-l1">
    <% if current_user.has_role? :host %>
      <% if current_user.org_user_profile.present? %>
        <%= render 'layouts/sidebar' %>
        <!-- Please note: render org_user_profiles/show below is rendering the partial file called '_show.html.erb',
        which then will be rendering the template 'show.html.erb' -->
        <%= render 'org_user_profiles/show' %>
        <% if current_user.id == @org_user_profile.user_id %>
          <%= link_to 'Edit My Profile', edit_org_user_profile_path(current_user.org_user_profile)%>
        <% end %>
      <% else %> <!-- else if current_user's profile hasn't been created yet -->
        <p>Your host profile is not created. Please go to <%= link_to 'Organisations Index', organisations_host_path %> and select one of the organisations as the first step to create your host profile.</p>
      <% end %>

    <% else %><!-- else if you don't have a role as a Host -->
    <p>
      Currently you are not registered as a Host in MOBEEAS.
      <br>
      If you would like to become a Host, please first search if the organisation that you would like to represent is already registered in MOBEEAS and add your profile through that organisation.
      <br>
      If the organisation that you are looking for is not in the list, you may create a new Organisation.
      <br>
      A newly added Organisation will need to be approved by the company's Director and then it may appear in MOBEEAS website.
      <br>
      <%= link_to "View all Organisations registered in MOBEEAS", organisations_path %>
    </p>
    <% end %>
  </div>
</div>
