<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <% if current_user.has_role? :host %>
      <% if current_user.org_user_profile.present? %>
        <%= render 'layouts/sidebar' %>
        <h4>Host Profile</h4>
        <%# Please note: render org_user_profiles/show below is rendering the partial file called '_show.html.erb',
        which then will be rendering the template 'show.html.erb' %>
        <%= render 'org_user_profiles/show' %>
        <% if current_user.org_user_profile.agency == 'I represent an Organisation'%>
        <div class="row">
          <div class="col s12 m">
            <div class="card">
              <div class="card-content">
                <p>
                  Click here to view all Organisations:
                  <br><br>
                  <%= link_to 'Organisations Index', organisations_host_path(state: 'show_organisations'), class: 'btn' %>
                </p>
              </div>
            </div>
          </div>
        </div><%# end of row %>
        <% end %>
      <% else %> <%# else if current_user's profile hasn't been created yet %>
        <p>Your host profile is not created. Please go to <%= link_to 'Organisations Index', organisations_host_path %> and select one of the organisations as the first step to create your host profile.</p>
      <% end %>

    <% else %><%# else if you don't have a role as a Host %>
    <p>
      Thank you for your interest in hosting a MOBEEAS collaborative learning experience.
      <br>
      To begin your registration as a host, please search for the organisation that you represent using the button below.
      <br>
      If the organisation that you are looking for is not in the list, you may create a new Organisation.
      <br>
      A newly added Organisation will need to be approved by the company's Executive and then it may appear in MOBEEAS website.
      <br>
      <%= link_to "View all Organisations registered in MOBEEAS", organisations_path, class: 'btn' %>
      <br><br>
      But if you are not representing an organisation and would like to register as an independent host, please click on the button below.
      <%= link_to "Register as an Independent Host", independent_host_path, class: 'btn' %>

    </p>
    <% end %>
  </div>
</div>
