<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <% if (current_user.has_role? :host) %>
      <% if current_user.org_user_profile.present? %><%#checking if the host already has his Host Profile created or not %>
        <%= render 'layouts/sidebar' %>
        <h4>Host Profile</h4>
        <%# Please note: render org_user_profiles/show below is rendering the partial file called '_show.html.erb',
        which then will be rendering the template 'show.html.erb' %>
        <%= render 'org_user_profiles/show' %>
        <%#-----------%>
      <% else %> <%# else if current_user's profile hasn't been created yet %>
        <% if @organisations.present? %>
          <p>
            Your host profile is not created. Please go to <%= link_to 'Organisations Index', organisations_host_path(state: 'show_organisations') %> and select one of the organisations as the first step to create your host profile.
          </p>
        <% else %>
          <p>
            Please create a new organisation
            <br><br>
            <%= link_to 'New organisation', new_organisation_path(subs_type: 'new_host_new_org'), class: 'btn' %>
          </p>

        <% end %>
      <% end %>
    <% elsif (current_user.has_role? :admin) %>
      <%= render 'layouts/sidebar' %>
      <h4>Host Profile</h4>
      <h5 class="red-text">THIS IS LIVE DATA. PLEASE DO NOT MODIFY THE RECORD BELOW</h5>

      <%# Please note: render org_user_profiles/show below is rendering the partial file called '_show.html.erb',
      which then will be rendering the template 'show.html.erb' %>
      <%= render 'org_user_profiles/show' %>
    <% else %><%# else if you don't have a role as a Host %>
    <p>
      Thank you for your interest in hosting a MOBEEAS collaborative learning experience.
      <br>
      To begin your registration as a host, please search for the organisation that you represent using the button below.
      <br>
      If the organisation that you are looking for is not in the list, you may create a new Organisation.
      <br>
      A newly added Organisation will need to be approved by the company's Executive and then it may appear in MOBEEAS website.
      <br>
      <%= link_to "View all Organisations registered in MOBEEAS", organisations_path, class: 'btn' %>
      <br><br>
      If you are not representing an organisation and would like to register as an independent host, please click on the button below.
      <%= link_to "Register as an Independent Host", independent_host_path, class: 'btn' %>

    </p>
    <% end %>
  </div>
</div>
