<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">

		<%= render 'layouts/sidebar' %>
    <h4>MOBEEAS Income</h4>
    <%#=====================================================================%>

    <div class="row">
      <div class="col m6">
        <h5>Opportunity Tokens</h5>
        <ol>
          <% @engagement_token_packs.order("id ASC").each do |engagement_token_pack| %>
            <li>
              <b><%= engagement_token_pack.name %></b> for <%= number_to_currency(engagement_token_pack.price_ex_gst) %> AUD ex. GST
               - <%= link_to "Edit", edit_engagement_token_pack_path(engagement_token_pack) %>
              <br>
              GST amount: <%= number_to_currency(engagement_token_pack.price_ex_gst * engagement_token_pack.gst_rate) %>
              <br>
              GST rate: <%= (engagement_token_pack.gst_rate * 100).to_i %>%
            </li>
            <br>
          <% end %>
        </ol>
        <%# IMPORTANT: DO NOT display the Add function here.
        ONLY the Developer can add into the engagement token pack record, do not let the user, even admin user to add new record. %>
        <%#= link_to 'Add', new_engagement_token_pack_path, class: 'btn' %>
        <%# end of IMPORTANT message%>

        <%= form_tag(update_gst_rate_for_engagement_token_packs_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :update_gst_rate, params[:update_gst_rate], placeholder: "Update GST rate for Token Packs"%>
          <%= submit_tag "Save" %>
        <% end %>


      </div>


      <%#=====================================================================%>
      <div class="col m6">
        <h5>Subscriptions</h5>
        <ol>
          <% @subscription_packs.order("name DESC").each do |subscription_pack| %>
            <li>
              <% if subscription_pack.name == 'organisation_6_months' %>
                <b>6 Months Organisation Subscription</b>
              <% elsif subscription_pack.name == 'organisation_12_months' %>
                <b>12 Months Organisation Subscription</b>
              <% elsif subscription_pack.name == 'candidate_6_months' %>
                <b>6 Months Candidate Subscription</b>
              <% elsif subscription_pack.name == 'candidate_12_months' %>
                <b>12 Months Candidate Subscription</b>
              <% elsif subscription_pack.name == 'independent' %>
                <b>12 Months Independent Subscription</b>
              <% end %>
               - <%= link_to "Edit", edit_subscription_pack_path(subscription_pack) %>
               <br>
               <%= number_to_currency(subscription_pack.price_ex_gst) %> AUD ex. GST
               <br>
               GST amount: <%= number_to_currency(subscription_pack.price_ex_gst * subscription_pack.gst_rate) %>
               <br>
               GST rate: <%= (subscription_pack.gst_rate * 100).to_i %>%
            </li>
            <br>
          <% end %>
        </ol>
        <%# IMPORTANT: DO NOT display the Add function here.
        ONLY the Developer can add into the subscription pack record, do not let the user, even admin user to add new record. %>
        <%#= link_to 'Add', new_engagement_token_pack_path, class: 'btn' %>
        <%# end of IMPORTANT message%>

        <%= form_tag(update_gst_rate_for_subscription_packs_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :update_gst_rate, params[:update_gst_rate], placeholder: "Update GST rate for Subscription Packs"%>
          <%= submit_tag "Save" %>
        <% end %>


      </div>
    </div><%# end of row %>


  </div>
</div>
