<%#
INDEPENDENT HOST
- not associated to an Organisation
- representing themselves (eg. parents, individuals, etc.)
- by default the org_creator value is false and agency value is 'independent host'
%>
<p>
  Please create your profile:
</p>
<% @new_org_user_profile = OrgUserProfile.new %>
<%= simple_form_for(@new_org_user_profile) do |f| %>
  <%= f.error_notification %>
  <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>

  <div class="form-inputs">
    <div class="row">
      <div class="col l6">
        <%= f.input :first_name %>
      </div>
      <div class="col l6">
        <%= f.input :last_name %>
      </div>
      <div class="col l6">
        <%= f.input :phone %>
      </div>
      <div class="col l6">
        <%= f.input :position %>
      </div>
      <div class="col l6">
        <%= f.input :suburb %>
      </div>
      <div class="col l6">
        <%= f.input :state, priority: [ "NSW" ], collection: [ "NSW", "QLD", "SA", "TAS", "VIC", "ACT", "WA"] %>
      </div>
      <div class="col l6">
        <%= f.input :postcode %>
      </div>
      <div class="col l6">
        <%= f.input :country, priority: [ "Australia" ] %>
      </div>
    </div>
    <%= f.input :agency, :as => :hidden, input_html: { value: 'independent host' } %>
    <%#= f.input :guid %>
  </div>

  <div class="form-actions">
      <%= f.button :submit, "Create My Profile" %>
  </div>
<% end %>
