<h2>Add/Edit your skills</h2>

<div class="row">
  <div class="col m8">
    <h4>Available skills</h4>
    <ul class="collapsible" data-collapsible="accordion">
    	<% @skill_categories.each do |skill_category| %>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i><%= skill_category.name %>
          </div>
          <div class="collapsible-body">
          	<% skill_category.skills.each do |skill| %>
    				<% unless skill.users.include?(current_user) %>
    					<%= link_to skill.name, add_user_skill_path(skill), class: 'waves-effect waves-teal btn-flat' %>
    				<% end %>
    			<% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col m4">
    <h4>My skills</h4>
    <div class="card">
      <div class="card-content" id="my-skills">
        <% @my_skills.each do |my_skill| %>
          <p><%= my_skill.name %> <%= link_to 'remove', remove_user_skill_path(my_skill) %></p>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to 'Return to profile', profile_path(current_user.profile) %>
      </div>
    </div>
  </div>
</div>
