<%#
  There is another similar file just like below but it is for the Required Skill
  in the Opportunity and it is available to view from the Host Dashboard.
  It is located in: app/views/pages/required_skills.html.erb
  If you edit the code below, please also edit the other similar file.
%>
<h2>Add/Edit Your Skills</h2>

<div class="row">
  <div class="col m8">
    <h4>Available skills</h4>
    <ul class="collapsible" data-collapsible="accordion">
    	<% @skill_categories.each do |skill_category| %>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i><%= skill_category.name %>
          </div>
          <div class="collapsible-body">
          	<% skill_category.skills.each do |skill| %>
    				<% unless skill.users.include?(current_user) %>
              <% if skill.approved %><%# appears only if admin approved the skill %>
			          <%= link_to skill.name, add_user_skill_path(skill), class: 'waves-effect waves-teal btn-flat' %>
              <% end %>
            <% end %>
    			<% end %>
          <%# Add a new other skill: %>
          <div class="row">
            <div class="col s6 m6 l6">
              <p>
                Other Skill: <br>
                (subject to MOBEEAS approval, you will receive an email when the new skill has been approved.)
              </p>
            </div>
            <div class="col s6 m6 l6">
              <% @other_skill = Skill.new %>
              <%= simple_form_for(@other_skill) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.association :skill_category, :as => :hidden, input_html: { value: skill_category.id } %>
                  <%= f.input :name %>
                  <%#= f.input :description %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
              <% end %>
            </div>
          </div>  <%# end of row %>

        </div><%# end of collapsible-body %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col m4">
    <h4>My skills</h4>
    <div class="card">
      <div class="card-content" id="my-skills">
        <% if @my_skills.present? %>
          <% @my_skills.each do |my_skill| %>
            <% if my_skill.approved %><%# only skills approved by admin can appear in the list %>
              <p><%= my_skill.name %> (<%= my_skill.skill_category.name %>) <%= link_to 'remove', remove_user_skill_path(my_skill) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-action">
        <% if current_user.profile.present? %>
          <%= link_to 'Return to profile', profile_path(current_user.profile) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
