<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
      <h4>Purchase Tokens</h4>

      <% if current_user.organisations.present? %>
        <p>Currently you are connected with these organisations:</p>
          <%# only admin host can see the purchase token button %>
        <ol>
          <% current_user.org_users.each do |org_user| %>
            <li>
              <p>
                <strong><%= link_to org_user.organisation.name, organisation_path(org_user.organisation.id) %></strong>
                  - has <%= org_user.organisation.number_of_tokens %> <%= (org_user.organisation.number_of_tokens > 1) ? 'tokens' : 'token' %>
              </p>
              <%# if the host is an admin host and is verified, then he can see purchase buttons %>
              <% if (org_user.admin_status) && (org_user.verified_status) %>
                <% @engagement_token_packs.each do |pack| %>
                  <div class="margin-top-5px">
                    <%= link_to new_token_purchase_path(org: org_user.organisation.id, token_pack: pack.id), class: 'btn' do %>
                      <%= button_label(pack) %>
                    <% end %>
                  </div>
                <% end %><%# end of loop @engagement_token_packs %>

              <%# if the host is not an admin host and is verified, then he can see the list of admin host names for that organisation %>
              <% elsif !(org_user.admin_status) && (org_user.verified_status) %>
                <p>You can contact these Admin Host to purchase more tokens:</p>
                <% @organisation = Organisation.find(org_user.organisation.id) %>
                <ul>
                <% @organisation.users.each do |user| %>
                  <% if user.org_users.present? %>
                    <% user.org_users.each do |org_user| %>
                    <%# just show the profile that is linked to this organisation %>
                      <% if org_user.organisation_id == @organisation.id %>
                        <% if (org_user.admin_status) && (org_user.verified_status) %>
                          <li class="list-style-disc"><p>
                          <strong><%= user.org_user_profile.name %> </strong>
                          (Verified)
                           Fix" - Send a short message to "<%#= user.org_user_profile.name, new_message_path(from: current_user.id, to: user.id) %>
                          </li>
                        <% end %><%# end of if (org_user.admin_status) %>
                      <% end %><%# end of org_user.organisation_id == %>
                    <% end %><%# end of user.org_users loop %>
                  <% end %><%# end of if user.org_users %>
                <% end %><%#  end of loop @organisation.users %>
                </ul>
              <% end %><%# end of if org_user.admin_status && org_user.verified_status %>
            </li>
            <br>
          <% end %><%# end of loop current_user.org_users %>
        </ol>
      <% else %> <%# else if NOT current_user.organisations.present? %>
        <% if current_user.org_user_profile.agency == "organisation host" %>
          <p>You are currently not linked to any organisations. Please select one of the organisations below to join as the host.</p>
          <%= link_to 'Organisations Index', organisations_host_path(state: 'show_organisations'), class: 'btn' %>
        <% elsif current_user.org_user_profile.agency == "independent host" %>
          <p>
            Number of tokens you have: <%= current_user.org_user_profile.number_of_tokens_for_independent %>
            <br><br>
            Puchase more tokens (price ex GST):
            <br>
            <% @engagement_token_packs.each do |pack| %>
              <div class="margin-top-5px">
                <%= link_to new_token_purchase_path(token_pack: pack.id), class: 'btn' do %>
                  <%= button_label(pack) %><br>
                <% end %>
              </div>
            <% end %><%# end of loop @engagement_token_packs %>
          </p>
        <% end %>
      <% end %>

  </div>
</div>
