<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>
      <h5>Purchase Tokens</h5>

      <% if current_user.organisations.present? %>
        <p>Currently you are connected with these organisations:</p>
          <!-- only admin host can see the purchase token button -->
        <ol>
          <% current_user.org_users.each do |org_user| %>
            <li>
              <p>
                <strong><%= link_to org_user.organisation.name, organisation_path(org_user.organisation.id) %></strong>
                  - has <%= pluralize(org_user.organisation.number_of_tokens, 'token') %> 
              </p>
              <% if org_user.admin_status && org_user.verified_status %>
                <% @engagement_token_packs.each do |pack| %>
                  <%= link_to new_token_purchase_path(org: org_user.organisation.id, token_pack: pack.id), class: 'btn btn-flat' do %>
                    <%= button_label(pack, org_user.organisation) %><br>
                  <% end %>
                  <br>
                <% end %><!-- end of loop @engagement_token_packs -->
              <% end %><!-- end of if org_user.admin_status && org_user.verified_status -->
            </li>
          <% end %><!-- end of loop current_user.org_users -->
        </ol>
      <% else %>
        <p>You are currently not linked to any organisations. Please select one of the organisations below to join as the host.</p>
      <% end %>

  </div>
</div>
