<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">

		<%= render 'layouts/sidebar' %>
		<h4>Sponsor Dashboard here</h4>
    <p><strong>First Name: </strong><%= @sponsor.first_name %></p>
    <p><strong>Last Name: </strong><%= @sponsor.last_name %></p>
    <p><strong>Phone: </strong><%= @sponsor.organisation %></p>
    <p><strong>Phone: </strong><%= @sponsor.position %></p>
    <p><strong>Phone: </strong><%= @sponsor.phone1 %></p>
    <p><strong>Phone: </strong><%= @sponsor.phone2 %></p>
    <p><strong>Email: </strong><%= @sponsor.user.email %></p>
    <p><strong>Address: </strong><%= @sponsor.address %></p>
    <p><strong>Suburb: </strong><%= @sponsor.suburb %></p>
    <p><strong>State: </strong><%= @sponsor.state %></p>
    <p><strong>Postcode: </strong><%= @sponsor.postcode %></p>
    <p><strong>Postcode: </strong><%= @sponsor.country %></p>

	</div>
</div>
