<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
    <h4>List of Candidates with unverified Security Check</h4>
    <% if @security_checks.present? %>
      <ol>
        <% @security_checks.order("user_id ASC").each do |security_check| %>
          <li>
            <% if security_check.expiry_date.present? %>
              Number: <strong><%= security_check.number %></strong> (Expires <%= security_check.expiry_date.strftime("%e %b %Y") %>) - Name: <%= security_check.user.profile.name %> (Profile ID: <%= security_check.user.profile.id %>) - <%= link_to "Verify this Candidate", verify_candidate_security_check_path(security_check, checked_by: current_user.id) %>
            <% end %>
          </li>
        <% end %><!-- end of @educations loop -->
      </ol>
    <% else %>
      <p>There are no candidate.</p>
    <% end %><!-- end of if @security_checks.present? -->

  </div>
</div>
