<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
    <h4>List of Candidates with unverified education</h4>

    <% if @educations.present? %>
      <p>There are <%= @educations.count %> education records that are not verified.</p>
      <ol>
        <% @educations.order("user_id ASC").each do |education| %>
          <li>
            <%= education.institution %> - Candidate's Name: <%= education.user.profile.name %> (Profile ID: <%= education.user.profile.id %>) - <%= link_to "Verify this Candidate", verify_candidate_education_path(education)%>
          </li>
        <% end %><!-- end of @educations loop -->
      </ol>
    <% else %>
      <p>There are no candidate.</p>
    <% end %><!-- end of if @education.present? -->

  </div>
</div>
