<%= simple_form_for(@engagement_token_pack) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @engagement_token_pack.new_record? %>
      <%= f.input :name %>
      <%= f.input :number_of_tokens %>
    <% end %>
    <%= f.input :price_ex_gst, label: 'Price ex GST', :input_html => {value: number_with_precision(f.object.price_ex_gst, precision: 2) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
