<p id="notice"><%= notice %></p>

<h1>Listing Engagement Token Packs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price ex GST</th>
      <th>Number of tokens</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engagement_token_packs.each do |engagement_token_pack| %>
      <tr>
        <td><%= engagement_token_pack.name %></td>
        <td><%= engagement_token_pack.price_ex_gst %></td>
        <td><%= engagement_token_pack.number_of_tokens %></td>
        <td><%= link_to 'Show', engagement_token_pack %></td>
        <td><%= link_to 'Edit', edit_engagement_token_pack_path(engagement_token_pack) %></td>
        <td><%= link_to 'Destroy', engagement_token_pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engagement token pack', new_engagement_token_pack_path %>
