<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engagement_token_pack.name %>
</p>

<p>
  <strong>Price ex GST:</strong>
  <%= @engagement_token_pack.price_ex_gst %>
</p>

<p>
  <strong>Number of tokens:</strong>
  <%= @engagement_token_pack.number_of_tokens %>
</p>

<%= link_to 'Edit', edit_engagement_token_pack_path(@engagement_token_pack) %> |
<%= link_to 'Back', engagement_token_packs_path %>
