<p id="notice"><%= notice %></p>

<h1>Listing Report Achievement Levels</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Achievement level</th>
      <th>Performance descriptor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_achievement_levels.each do |report_achievement_level| %>
      <tr>
        <td><%= report_achievement_level.report %></td>
        <td><%= report_achievement_level.achievement_level %></td>
        <td><%= report_achievement_level.performance_descriptor %></td>
        <td><%= link_to 'Show', report_achievement_level %></td>
        <td><%= link_to 'Edit', edit_report_achievement_level_path(report_achievement_level) %></td>
        <td><%= link_to 'Destroy', report_achievement_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report achievement level', new_report_achievement_level_path %>
