<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @report_achievement_level.report %>
</p>

<p>
  <strong>Achievement level:</strong>
  <%= @report_achievement_level.achievement_level %>
</p>

<p>
  <strong>Performance descriptor:</strong>
  <%= @report_achievement_level.performance_descriptor %>
</p>

<%= link_to 'Edit', edit_report_achievement_level_path(@report_achievement_level) %> |
<%= link_to 'Back', report_achievement_levels_path %>
