<h1>New Organisation Notification</h1>

<p>
  Dear <%= @organisation.contact_name %>,
</p>
<p>
  Your organisation <%= @organisation.name %> profile has been created in MOBEEAS and a new organisation host for MOBEEAS has been added, waiting for your approval.
  <br>
  Please click on the link below if you approve this application and the payment of AUD$ 220.00 (includes GST) annual MOBEEAS subscription fee.
  <%# first, find the org_user of this current user, put it into the verified method below %>
  <br>
  <% @org_user = OrgUser.find_by(user_id: @user.id, organisation_id: @organisation.id)%>
  <%= link_to 'Approve Organisation and Host Profiles', verified_and_admin_approved_org_user_url(@org_user, org_id: @organisation.id) %>
  <br><br>
  Here are your organisation details in MOBEEAS:
<p>

<p>
  <strong>Organisation type:</strong>
  <%= @organisation.organisation_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @organisation.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @organisation.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @organisation.contact_phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @organisation.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @organisation.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @organisation.country %>
</p>


<p>
  <strong>Website:</strong>
  <%= @organisation.website %>
</p>

<p>
  Your organisation representative's details are shown below.
  This user would like to apply for <strong>ADMIN</strong> level, which means that he or she will be able to renew the annual subscription fee, create new opportunities, purchase and issue engagement tokens.
</p>

<p>
    <strong>Name: </strong><%= @user.org_user_profile.first_name %> <%= @user.org_user_profile.last_name %>
</p>
<p>
    <strong>Phone: </strong><%= @user.org_user_profile.phone %>
</p>
<p>
    <strong>Email: </strong><%= @user.email %>
</p>
<p>
    <strong>Position: </strong><%= @user.org_user_profile.position %>
</p>
