<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_type, priority: [ "organisation_12_months" ], collection: [ "organisation_12_months", "organisation_6_months", "candidate_12_months", "candidate_6_months", "candidate_6_months_unpaid", "independent"] %>
    <%= f.association :user, collection: @users, label: "Choose a User" %>
    <%= f.association :organisation, collection: @organisations, label: "Select if ORGANISATION Host" %>

    <div class="row">
      <div class="col m6">
        <label for="expiry_date">Expiry Date</label><%# must add * manually because this label is from the <label> tag where * won't appear automatically %>
          <%= f.date_field :expiry_date, as: :string, input_html: { class: 'datetimepicker1' }, placeholder: 'dd/mm/yyyy' %>
        </label>
      </div>
      <div class="col m6">
        <%= f.input :payment, label: "Payment ex. GST" %>
      </div>
    </div>
    <%= f.input :manual_receipt, :as => :hidden, input_html: { value: true } %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
