<div class="row">
  <div class="col c12 m9 offset-m1 l9 offset-l1">
    <%= render 'layouts/sidebar' %>
      <p id="notice"><%= notice %></p>

      <% if params[:organisation] == 'active' %>
        <h4>Active Organisation Subscriptions</h4>

      <% elsif params[:organisation] == 'expiring' %>
        <h4>Expiring Organisation Subscriptions</h4>

      <% elsif params[:organisation] == 'expired' %>
        <h4>Expired Organisation Subscriptions</h4>
      <%# =========================================%>

      <% elsif params[:independent] == 'active' %>
        <h4>Active Independent Host Subscriptions</h4>

      <% elsif params[:independent] == 'expiring' %>
        <h4>Expiring Independent Host Subscriptions</h4>

      <% elsif params[:independent] == 'expired' %>
        <h4>Expired Independent Host Subscriptions</h4>
      <%# =========================================%>


      <% elsif params[:candidate] == 'active' %>
        <h4>Active Paid Candidate Subscriptions</h4>

      <% elsif params[:candidate] == 'expiring' %>
        <h4>Expiring Paid Candidate Subscriptions</h4>

      <% elsif params[:candidate] == 'expired' %>
        <h4>Expired Paid Candidate Subscriptions</h4>

      <% end %>

      <% if @subscriptions.present? %>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>User</th>
              <% if params[:organisation].present? %>
                <th>Organisation</th>
              <% end %>
              <th>Expiry</th>
              <th>Payment (ex GST)</th>
              <%# the function to notify the user with expiring subscription is available for all three types of users%>
              <% if (params[:organisation] == 'expiring') || (params[:independent] == 'expiring') || (params[:candidate] == 'expiring') %>
                <th>Notified</th>
                <th>Action</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subscriptions.order("id ASC").each do |subscription| %>
              <% @subscription = Subscription.find(subscription.id) %><%# set a local variable for partial rendering %>
              <%# for the params 'active', show the subscription if the expiring date more than 30 days in the future %>
              <% if (params[:organisation] == 'active') || (params[:independent] == 'active') || (params[:candidate] == 'active') %>
                <%# displaying the subscription with expiry date than 30 days in the future %>
                <% if subscription.expires_in_more_than_30_days %>
                  <%= render "subscriptions_list" %>
                <% end %>

              <%# for the params 'expiring', show the subscription if it is still active and expiring in less than 30 days %>
              <% elsif (params[:organisation] == 'expiring') || (params[:independent] == 'expiring') || (params[:candidate] == 'expiring') %>
                <%# displaying the subscription with active status but expiring less than 30 days %>
                <% if (subscription.active) && (subscription.expires_in_less_than_30_days) %>
                  <%= render "subscriptions_list" %>
                <% end %>

              <%# for the params 'expired', show the subscription that has expired %>
              <% elsif (params[:organisation] == 'expired') || (params[:independent] == 'expired') || (params[:candidate] == 'expired') %>
                <%# displaying the subscription that has expired %>
                <% if subscription.expired %>
                  <%= render "subscriptions_list" %>
                <% end %>
              <% end %>
            <% end %><%# end of @subscriptions loop %>
          </tbody>
        </table>
        <% else %>
          <% if (params[:organisation]).present? %>
            No organisation subscription available.
          <% elsif (params[:independent]).present? %>
            No independent host subscription available.
          <% elsif (params[:candidate]).present? %>
            No candidate subscription available.
          <% end %>
        <% end %>

      <br>

      <%#= link_to 'New Subscription', new_subscription_path %>
  </div>
</div>
