<h4>New Annual MOBEEAS Subscription</h4>

<%# @subscription_pack = SubscriptionPack.find(params[:subscription_pack]) %>
<p>
  <br>
  <%# this is for ORGANISATION annual subscription ========================== %>
  <% if @subscription_pack.name == 'organisation' %>
    You are purchasing an annual MOBEEAS subscription which includes 1 engagement token.
    <br>
    Organisation: <b><%= @organisation.name %></b>.
    <br>
    <%# this is to call the STRIPE PAYMENT PROCESS in controllers/payments_controller.rb file %>
    <%= form_tag payments_path(subscription_pack: @subscription_pack.id, org_id: @organisation.id, user_id: current_user.id) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span class="font-16px"><b>Amount: <%= number_to_currency(@subscription_pack.price_ex_gst) %></b></span> (excludes GST)
        <br>
        <span class="font-16px"><b>GST: <%= number_to_currency(@subscription_pack.price_ex_gst * @subscription_pack.gst_rate) %></b></span>
        <br>
        <span class="font-16px"><b>Total: <%= number_to_currency(@subscription_pack.price_ex_gst + (@subscription_pack.price_ex_gst * @subscription_pack.gst_rate)) %></b></span>
      </label>
    </article>
    <br>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-image="<%= cl_image_tag("MOBEEAS_icon_RGB.png", :width=>100, :crop=>:scale) %>"
            data-name="MOBEEAS"
            data-currency="aud"
            data-email="<%= current_user.email %>"
            data-receipt-email="<%= current_user.email %>"
            data-description="<%= @subscription_pack.name %>"
            data-amount="<%= (@subscription_pack.price_ex_gst * 100).to_int %>"
            data-locale="auto"></script>
    <% end %>

  <%# this is for INDEPENDENT HOST annual subscription ========================== %>
  <% elsif @subscription_pack.name == 'independent' %>
    You are purchasing an annual MOBEEAS subscription which includes 1 engagement token.
    <br>
    <%# this is to call the STRIPE PAYMENT PROCESS in controllers/payments_controller.rb file %>
    <%= form_tag payments_path(subscription_pack: @subscription_pack.id, user_id: current_user.id) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span class="font-16px"><b>Amount: <%= number_to_currency(@subscription_pack.price_ex_gst) %></b></span> (excludes GST)
        <br>
        <span class="font-16px"><b>GST: <%= number_to_currency(@subscription_pack.price_ex_gst * @subscription_pack.gst_rate) %></b></span>
        <br>
        <span class="font-16px"><b>Total: <%= number_to_currency(@subscription_pack.price_ex_gst + (@subscription_pack.price_ex_gst * @subscription_pack.gst_rate)) %></b></span>
      </label>
    </article>
    <br>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-image="<%= cl_image_tag("MOBEEAS_icon_RGB.png", :width=>100, :crop=>:scale) %>"
            data-name="MOBEEAS"
            data-currency="aud"
            data-email="<%= current_user.email %>"
            data-receipt-email="<%= current_user.email %>"
            data-description="<%= @subscription_pack.name %>"
            data-amount="<%= (@subscription_pack.price_ex_gst * 100).to_int %>"
            data-locale="auto"></script>
    <% end %>

  <%# this is for Candidate annual subscription ========================== %>
  <% elsif @subscription_pack.name == 'candidate' %>
    You are purchasing an annual MOBEEAS subscription.
    <br>
    <%# this is to call the STRIPE PAYMENT PROCESS in controllers/payments_controller.rb file %>
    <%= form_tag payments_path(subscription_pack: @subscription_pack.id, user_id: current_user.id) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span class="font-16px"><b>Amount: <%= number_to_currency(@subscription_pack.price_ex_gst) %></b></span> (excludes GST)
        <br>
        <span class="font-16px"><b>GST: <%= number_to_currency(@subscription_pack.price_ex_gst * @subscription_pack.gst_rate) %></b></span>
        <br>
        <span class="font-16px"><b>Total: <%= number_to_currency(@subscription_pack.price_ex_gst + (@subscription_pack.price_ex_gst * @subscription_pack.gst_rate)) %></b></span>
      </label>
    </article>
    <br>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-image="<%= cl_image_tag("MOBEEAS_icon_RGB.png", :width=>100, :crop=>:scale) %>"
            data-name="MOBEEAS"
            data-currency="aud"
            data-email="<%= current_user.email %>"
            data-receipt-email="<%= current_user.email %>"
            data-description="<%= @subscription_pack.name %>"
            data-amount="<%= (@subscription_pack.price_ex_gst * 100).to_int %>"
            data-locale="auto"></script>
    <% end %>
  <% end %>
  <br>

  For further payment options, please email <b>mobeeas@mobeeas.com</b>.
</p>
