<% if (@subscription_pack.name == 'organisation_6_months') || (@subscription_pack.name == 'candidate_6_months') %>
  <h4>New Six Months MOBEEAS Subscription</h4>
<% elsif (@subscription_pack.name == 'candidate_6_months_unpaid') %>
<% else %>
  <h4>New Annual MOBEEAS Subscription</h4>
<% end %>

<p>
  <br>
  <%# this is for ORGANISATION 6 MONTHS subscription ========================== %>
  <% if @subscription_pack.name == 'organisation_6_months' %>
    You are purchasing a 6-month MOBEEAS subscription which includes 1 engagement token.
    <br>
    <%= render 'org_subscriptions' %>

  <%# this is for ORGANISATION 12 MONTHS subscription ========================== %>
  <% elsif @subscription_pack.name == 'organisation_12_months' %>
    You are purchasing a 12-month MOBEEAS subscription which includes 2 engagement tokens.
    <br>
    <%= render 'org_subscriptions' %>

  <%# this is for INDEPENDENT HOST annual subscription ========================== %>
  <% elsif @subscription_pack.name == 'independent' %>
    You are purchasing an annual MOBEEAS subscription which includes 1 engagement token.
    <br>
    <%= render 'independent_subscription' %>

  <%# this is for Candidate 6 MONTHS subscription ========================== %>
  <% elsif @subscription_pack.name == 'candidate_6_months' %>
    You are purchasing a 6-month MOBEEAS subscription.
    <br>
    <%= render 'candidate_subscriptions'%>

  <%# this is for Candidate 12 MONTHS subscription ========================== %>
  <% elsif @subscription_pack.name == 'candidate_12_months' %>
    You are purchasing a 12-month MOBEEAS subscription.
    <br>
    <%= render 'candidate_subscriptions'%>

  <%# this is for Candidate 6 MONTHS UNPAID VOLUNTEER subscription ========================== %>
  <% elsif @subscription_pack.name == 'candidate_6_months_unpaid' %>
    You are subscribing to a 6-month unpaid MOBEEAS subscription, you will be registered as an unpaid volunteer.
    <br>
    <% @last_expiry_date = last_subscription(current_user) %>
    <%= render 'candidate_unpaid_subscriptions' %>
    <div class="margin-top-20px">
      <%= link_to "Back to My Profile", candidate_profile_path, class: 'btn' %>
    </div>
  <% end %>
  <br>

  For further payment options, please email <b>mobeeas@mobeeas.com</b>.
  <br><br>
  Secure Payment Service protected by:
  <br>
  <%= cl_image_tag("comodo_secure_seal_100x85_transp.png") %>
</p>
