<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @subscription.user_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @subscription.organisation %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @subscription.expiry_date %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @subscription.payment %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
