<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
		<%= render 'layouts/sidebar' %>
    <p id="notice"><%= notice %></p>

    <% if current_user.has_role? :admin %>
      <p>
        <b>User type:</b>
        <%= @subscription.user_type %>
      </p>
    <% end %>

    <% if @subscription.user_type == 'candidate_6_months_unpaid' %>
      <h5>6 Months Unpaid Volunteer Subscription</h5>
    <% end %>

    <p>
      <b>User Email:</b>
      <%= @subscription.user.email %>
    </p>

    <p>
      <% if @subscription.organisation.present? %>
        <b>Organisation:</b>
        <%= @subscription.organisation.name %>
      <% end %>
    </p>

    <p>
      <b>Created date:</b>
      <%= @subscription.created_at.getlocal.strftime('%e %B %Y') %>
    </p>

    <p>
      <b>Expiry date:</b>
      <%= @subscription.expiry_date.getlocal.strftime('%e %B %Y') %>
    </p>

    <p>
      <b>Payment:</b>
      <%= number_to_currency(@subscription.payment) %>
    </p>

    <% if(@subscription.manual_receipt) %>
      <% if @subscription.notes.present? %>
        <p>
          <b>Manual Receipt Notes:</b>
          <%= @subscription.notes %>
        </p>
      <% end %>
    <% end %>
    <% if current_user.has_role? :admin %>
      <%= link_to 'Edit', edit_subscription_path(@subscription) %>
    <% end %>
  </div>
</div>
