<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2">Sign in to MOBEEAS</span>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-login' }) do |f| %>
  <div class="input-field">
    <%= f.input :email, required: false, autofocus: true %>
  </div>
  <div class="input-field">
    <%= f.input :password, required: false %>
  </div>
  <div class="row">
    <div class="col s4">
      <input value="0" type="hidden" name="user[remember_me]" />
      <p>
        <input type="checkbox" class="boolean optional" value="1" name="user[remember_me]" id="user_remember_me" />
        <label class="boolean optional checkbox" for="user_remember_me">Remember me</label>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col s6">
      <%= f.button :submit, "Log in", class: 'btn btn-theme btn-block' %>
    </div>
  </div>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  
    <hr>
		            
    <div class="login-social-link centered">
    <p>or you can sign in via your social network</p>
        <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
        <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
    </div>
    <hr>
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  		<%= link_to "Register", new_registration_path(resource_name) %><br />
	<% end -%>
	<%= link_to 'Return home', root_path %>
  
<% end %>
</div>
</div>