<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>
    <p id="notice"><%= notice %></p>

    <h4>Listing Feedbacks</h4>

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Message</th>
          <th>Picture</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @feedbacks.each do |feedback| %>
          <tr>
            <% if feedback.user.has_role? :host %>
              <td><%= link_to feedback.user.id, host_profile_path(viewer: 'admin', org_user_profile_id: feedback.user.org_user_profile.id ) %></td>
            <% elsif feedback.user.has_role? :candidate %>
              <td><%= link_to feedback.user.id, candidate_profile_path(profile_id: feedback.user.profile.id) %></td>
            <% elsif feedback.user.has_role? :sponsor %>
              <td><%= link_to feedback.user.id, sponsor_path(feedback.user.sponsor) %></td>
            <% end %>
            <td><%= feedback.message %></td>
            <% if feedback.picture_url.present? %>
              <td><%= link_to 'Download', feedback.picture_url %></td>
            <% else %>
              <td>None</td>
            <% end %>
            <td><%= link_to 'Show', feedback %></td>
            <td><%= link_to 'Delete', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
