<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @feedback.message %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @feedback.picture %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
