<%# This part will appear on Host Dashboard ---------------------------------------%>
<%# The engagement links for the owner of this opportunity %>
<% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
  <% @engaged = false %><%# starts with the assumption that a candidate is not engaged yet (false)%>
  <% @opportunity.engagements.each do |engagement| %> <%# go through all the engagements of this opportunity to see if one is created for this candidate %>
    <% if @profile.id == engagement.profile_id %><%# when a candidate already engaged to this opportunity %>
      <% @engaged = true %><%# if candidate id is matching, then there is already an engagement connection (true) and thus candidate reports can be created %>

      <%# The progress and completion reports link for the Opportunity owner to see %>
      <% if (engagement.progress_report_ids.present?) || (engagement.completion_report_ids.present?) %>
        <%= link_to "View All Reports for "+ @profile.first_name, candidate_reports_path(engagement_id: engagement.id) %><br>
      <% end %>

      <%# New Progress report link appears if:
      1. opportunity status is 'active' and
      2. if the opportunity is not archived.
      Progress Report can be created repeatedly and the progress report ids will be entered in progress_report_ids column in engagements table %>
      <% if (@opportunity.opportunity_status == 'active') && !(@opportunity.archived) %>
        <%= link_to "Create Progress Report", new_report_path(opportunity_id: @opportunity.id, profile_id: @profile.id, engagement_id: engagement.id, report_type: 'progress')%><br>
      <% end %>

      <%# New Completion report link appears if:
      1. if opportunity status is 'post_active' and
      2. if the opportunity is not archived
      Completion reports can be created repeatedly %>
      <% if (@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
        <%= link_to "Create Completion Report", new_report_path(opportunity_id: @opportunity.id, profile_id: @profile.id, engagement_id: engagement.id, report_type: 'completion')%><br>
      <% end %>
      </p>
    <% end %><%# end of if engagement.profile_id == @profile.id %>
  <% end %><%# end of @opportunity.engagements loop %>
  <% if (@engaged) %>
    <p>Status: <strong>Engaged</strong></p>
  <% else %><%# if candidate is not linked to this opportunity (@engaged == false), then display link to start engagement %>
    <% if !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
      <% if (@opportunity.user.org_user_profile.agency == 'organisation host') %><%# For the host that represents organisation %>
        <% if (@opportunity.organisation.number_of_tokens <= 0) %><%# ask to buy more tokens if the organisation has 0 token %>
          <p class="purple-text"><strong>Please purchase a token to engage this candidate.<strong></p>
        <% else %>
          <br>
          <%= link_to 'Engage ' + @profile.first_name, new_engagement_path(opp_id: @opportunity.id, profile_id: @profile.id), class: "btn margin-bottom-20px" %>
        <% end %>
      <% elsif (@opportunity.user.org_user_profile.agency == 'independent host') %><%# For the independent host %>
        <% if (@opportunity.user.org_user_profile.number_of_tokens_for_independent <= 0) %><%# ask to buy more tokens if the host has 0 token %>
          <p class="purple-text"><strong>Please purchase a token to engage this candidate.<strong></p>
        <% else %>
          <br>
          <%= link_to 'Engage ' + @profile.first_name, new_engagement_path(opp_id: @opportunity.id, profile_id: @profile.id), class: "btn margin-bottom-20px" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %><%# end of current_user.has_role? :host %>


<%# This part will appear on Candidate Dashboard ------------------------------------------
 Candidate will appear if his/her skill matches with opportunity skill.
 @candidate is the candidate/participants who has profile.
%>
<% if (@profile.user.has_role? :candidate) && (@profile.engagements.present?) %>
  <% @profile.engagements.each do |engagement| %>
    <%# If the host engaged this candidate, the candidate dashboard will display 'Engaged' %>
    <% if (engagement.profile_id == @profile.id ) && (engagement.opportunity_id == @opportunity.id) %>
      <% if (current_user.profile.present?) && (current_user.profile.id == engagement.profile_id) %><%# only this candidate can view the 'Engaged' message %>
        <p>Status: Received a token <span class="orange-text"><i class="fa fa-star"></i></span></p>
        <%# The progress and completion reports link for the candidate to see %>
        <% if (engagement.progress_report_ids.present?) || (engagement.completion_report_ids.present?) %>
          <%= link_to "View My Reports", candidate_reports_path(engagement_id: engagement.id) %><br>
        <% end %>
      <% end %>
    <% end %>
  <% end %><%# end of @profile.engagements loop %>
<% end %><%# end of if @profile.has_role? :candidate %>
