<% @engaged = false %>
<% @opportunity.engagements.each do |engagement| %>
  <% if engagement.profile_id == @candidate.id %>
    <% @engaged = true %>
    <p>
      <% if engagement.status == 'pending' %>
        <%= link_to 'Short List?', short_list_engagement_path(engagement, opportunity_id: @opportunity.id)%>  |
      <% elsif (engagement.status == 'short_listed') %>
        <%= link_to 'Invite', invite_engagement_path(engagement, opportunity_id: @opportunity.id)%>  |
      <% end %>
          <%= link_to 'Contact ' + @candidate.first_name, new_message_path(from: @opportunity.user_id, to: @candidate.user.id, opportunity_id: @opportunity.id)  %>  |
          <%= link_to 'Decline', engagement_path(engagement, opportunity_id: @opportunity.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %><!-- end of if engagement.profile_id -->
<% end %><!-- end of @opportunity.engagements loop -->
<% if !(@engaged) %><!-- if candidate is not linked to this opportunity then display link to start engagement -->
  <p>
    <%= link_to 'Start Engagement', new_engagement_path(opp_id: @opportunity.id, profile_id: @candidate.id) %>  |
    <%= link_to 'Contact ' + @candidate.first_name, new_message_path(from: @opportunity.user_id, to: @candidate.user.id, opportunity_id: @opportunity.id)  %>
  </p>
<% end %>
<br>
