<%#= params[:org_id]%>
<%= simple_form_for(@opportunity) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <% @organisations = current_user.organisations %>
    <%#= f.association :organisation, collection: @organisations, :include_blank => false %>
    <%= f.association :organisation, :as => :hidden, input_html: { value: params[:org_id] } %>
    <%= f.association :user, :as => :hidden, input_html: { value: current_user.id } %>

    <% if params[:object] == 'title' %>
      <p>Give your collaborative learning experience a title.</p>
      <%= f.input :title %>

      <p>Tell us a little about what you would like to accomplish by creating this collaborative learning experience</p>
      <%= f.input :description, label: 'Description (max 1000 characters)', input_html: { maxlength: 1000} %>
    <% end %>

    <% if params[:object] == 'rate' %>
      <%# Keep this as the template for paid engagement. %>
      <%#= f.input_field :paid_engagement, as: :radio_buttons %>
      <div class="row">
        <div class="col l6">
          <p>Is this a paid engagement?</p>
          <% if @opportunity.paid_engagement %><%# if true, YES is selected in the edit form %>

            <input class="with-gap" type="radio" value="true" checked="checked" name="opportunity[paid_engagement]" id="opportunity_paid_engagement_true" /><label for="opportunity_paid_engagement_true">Yes</label>
            <input class="with-gap" type="radio" value="false" name="opportunity[paid_engagement]" id="opportunity_paid_engagement_false" /><label for="opportunity_paid_engagement_false">No</label>

          <% else %><%# if true, NO is selected in the edit form%>

            <input class="with-gap" type="radio" value="true" name="opportunity[paid_engagement]" id="opportunity_paid_engagement_true" /><label for="opportunity_paid_engagement_true">Yes</label>
            <input class="with-gap" type="radio" value="false" checked="checked" name="opportunity[paid_engagement]" id="opportunity_paid_engagement_false" /><label for="opportunity_paid_engagement_false">No</label>

          <% end %>
        </div>
        <div class="col l6"><br>
          <%= f.input :pay, label: 'Payment per hour (if applicable)' %>
        </div>
      </div>
      <%= f.input :employment_terms, label: 'Specific terms of employment (max 1000 characters)', input_html: { maxlength: 1000 } %>
    <% end %><%# end of if params[:object] == 'rate' %>

    <% if params[:object] == 'requirement' %>
      <%= f.input :experiences, label: 'Other experience that would be advantageous (max 1000 characters)', input_html: { maxlength: 1000} %>
    <% end %>

    <% if params[:object] == 'independent'%>
      <%= f.association :user, :as => :hidden, input_html: { value: current_user.id } %>
      <p>Give your collaborative learning experience a title.</p>
      <%= f.input :title %>

      <p>Tell us a little about what you would like to accomplish by creating this collaborative learning experience</p>
      <%= f.input :description, label: 'Description (max 1000 characters)', input_html: { maxlength: 1000} %>

    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
