<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <%# Check if the current user has engagement with this opportunity %>
          <h5><strong></strong><%= @opportunity.title %></h5>
          <p><strong>Description: </strong><%= @opportunity.description %></p>
          <% if @opportunity.organisation.present? %>
            <p><strong>Organisation: </strong><%= @opportunity.organisation.name %></p>
          <% end %>
          <p><strong>Host Name: </strong><%= @opportunity.user.org_user_profile.name %></p>
          <% if @opportunity.sponsors.present? %>
            <% @opportunity.sponsors.each do |sponsor| %>
              Proudly sponsored by: <b><%= sponsor.organisation %></b>
              <br>
            <% end %>
          <% end %>
          <p>
            <strong></strong><%= link_to 'Show More', @opportunity %>
            <%# this opportunity can be deleted if:
              1. It doesn't have a report
              2. It is viewed by the owner of the opportunity
            %>
            <% unless @opportunity.reports.present? %>
              <% if (current_user.id == @opportunity.user_id) %>
               | <%= link_to 'Delete Opportunity', @opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </p>

      </div>
    </div>
  </div>
</div><%# end of row %>
