<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <%# Check if the current user has engagement with this opportunity %>
          <h5><strong></strong><%= @opportunity.title %></h5>
          <p><strong>Description: </strong><%= @opportunity.description %></p>
          <% if @opportunity.organisation.present? %>
            <p><strong>Organisation: </strong><%= @opportunity.organisation.name %></p>
          <% end %>
          <p><strong>Host Name: </strong><%= @opportunity.user.org_user_profile.name %></p>
          <% if @opportunity.sponsors.present? %>
            <% @opportunity.sponsors.each do |sponsor| %>
              Proudly sponsored by: <b><%= sponsor.organisation %></b>
              <br>
            <% end %>
          <% end %>
          <p><strong></strong><%= link_to 'Show more...', @opportunity %></p>
      </div>
    </div>
  </div>
</div><%# end of row %>
