<% @report = Report.new %>
<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :opportunity, :as => :hidden, input_html: { value: @opportunity.id } %>
    <% if params[:report_type] == 'progress' %>
      <%= f.input :report_type, :as => :hidden, input_html: { value: "progress" } %>
    <% elsif params[:report_type] == 'completion' %>
      <%= f.input :report_type, :as => :hidden, input_html: { value: "completion" } %>
    <% end %>
    <%= f.input :profile_id, :as => :hidden, input_html: { value: @profile.id }  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Create Progress Report' %>
  </div>
<% end %>
