<%# This file is rendered in the pages/organisations_host.html.erb %>
<div class="row">
  <div class="col l12">
  <%# Find the name of each organisation %>
  <% current_user.organisations.each do |organisation| %>
    <%# Find the record in org_users join table of that user and that organisation, check the verification status %>
    <!-- <div class="row"> -->
    <% organisation.org_users.each do |org_user| %>
      <% if org_user.user_id == current_user.id %>
        <%# the host can click on New Opportunity button if:
            1. the Organisation Executive has verified his details
            AND
            2. the Admin has approved his registration
        %>
        <% if (org_user.verified_status) && (org_user.user.org_user_profile.approved)  %>
          <div class="card">
            <div class="card-content">
              <div class="col l8">
                <p>
                  Your connection with <b><%= link_to organisation.name, organisation_path(organisation.id) %></b> has been verified.

                  <%# the @flag value is set to 'expired' at the beginning of the loop %>
                  <%# during the loop, it will set to 'active-current' if there is ONE SUBSCRIPTION RECORD with future expiry date for this organisation %>
                  <% @flag = 'expired' %>
                  <% if organisation.subscriptions.present? %>
                    <% organisation.subscriptions.each do |subscription| %>
                      <%# this is to display the subscription that is not expired yet (still current) %>
                      <% if subscription.is_active %>
                        <br>
                        Subscription expiry date: <b><%= subscription.expiry_date.getlocal.strftime('%e %B %Y') %></b>
                        <% if subscription.expires_in_less_than_30_days %>
                           - <span class="red-text bold">Expiring soon!</span>
                        <% end %>
                        <%# the @flag value will be 'active-current' if at least ONE of the organisation's subscription expiry_date is still in the future %>
                        <% @flag = 'active-current' %>
                      <% end %>
                    <% end %><%# exit the loop @organisation.subscriptions %>
                    <%# the @flag value will remain 'expired' if there is no subscription with future expiry date %>
                    <% if @flag == 'expired' %>
                      <br>
                      <%= organisation.name %> does not have an active subscription.
                      <br>
                      The last subscription's expiry date is: <%= organisation.subscriptions.last.expiry_date.getlocal.strftime('%e %B %Y') %>
                      <br>
                    <% end %><br>
                  <% else %>
                    <br>
                    There is no subscription record for <%= organisation.name %>
                  <% end %>
                </p>
              </div>
              <% if @flag == 'active-current' %>
                <div class="col l4 margin-bottom-20px">
                  <%# if verified and if the organisation subscription is active, host can create a new opportunity here %>
                  <%= link_to 'New Opportunity', new_opportunity_path(org_id: organisation.id, object: 'title'), class: 'btn' %>
                </div>
              <% elsif @flag == 'expired' %>
                <div class="col l4 margin-bottom-20px">
                  <%# if verified and if the organisation subscription is active, host can create a new opportunity here %>
                  <a class="btn disabled">New Opportunity</a>
                </div>
              <% end %>
            </div>
          </div>

        <%# the host can't click the New Opportunity button if:
            1. the Organisation Executive has not approved his details
            OR
            2. the Admin has not approved his registration.
        %>
        <% elsif !(org_user.verified_status) || !(org_user.user.org_user_profile.approved) %>
          <div class="card">
            <div class="card-content">
              <div class="col l8">
                <p>
                  Your connection with <b><%= link_to organisation.name, organisation_path(organisation.id) %></b> has not been verified or your MOBEEAS registration has not yet been approved.
                </p>
              </div>
              <div class="col l4 margin-bottom-20px">
                <%# if not verified, host can not create a new opportunity here %>
                <a class="btn disabled">New Opportunity</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %><%# end of organisation.org_users loop %>
  <% end %><%# end of current_user.organisations %>
</div>
</div>
