  <!-- SPONSORSHIP ------------>
  <div class="row">
    <div class="col m11 offset-m1">
      <div class="card">
        <div class="card-content">
          <p>Proudly sponsored by: </p>
        </div>
      </div><!-- end of card-content -->
    </div><!-- end of card -->
  </div>


  <!-- OPPORTUNITY ------------>
  <div class="row">
    <div class="col m6 offset-m1">
      <div class="card" style="margin-left: none;">
        <div class="card-content">
          <%= render 'layouts/sidebar' %>
          <p id="notice"><%= notice %></p>

          <% @organisation = Organisation.find(@opportunity.organisation) %>
          <div class="row">
            <div class="col m2">
              <div class="card-image waves-effect waves-block waves-light">
                <% if @organisation.logo.present? %>
                  <%= image_tag(@organisation.logo_url, class: 'img-responsive activator') %>
                <% else %>
                  <img src="<%= asset_path 'noPhoto-icon.png' %>" class='img-responsive activator'>
                <% end %>
              </div>
            </div>
            <div class="col m6">
              <div class="card-image waves-effect waves-block waves-light">
                <br><br>
                <p><strong><%= @organisation.name %></strong></p>
              </div>
            </div>
          </div><!-- end of row -->

          <h5><%= @opportunity.title %></h5>
          <p><strong><%= @opportunity.description %></strong></p>
          <p><strong>Status: </strong><%= @opportunity.opportunity_status %></p>

          <p>
            <strong>Host:</strong>
            <% @user = User.find(@opportunity.user) %>
            <%= @user.org_user_profile.name %>
          </p>

          <p>
            <strong>Start date:</strong>
            <%= @opportunity.commencement_date.strftime("%A, %e %b %Y") %>
          </p>

          <p>
            <strong>End date:</strong>
            <%= @opportunity.completion_date.strftime("%A, %e %b %Y")  %>
          </p>

          <!-- <p><%#= link_to "Add Schedule", new_opportunity_time_path(opportunity_id: @opportunity.id)%></p> -->
          <% if @opportunity.opportunity_times.present? %>
            <p><strong>Required activity dates, days and times:</strong></p>
            <ul class="list-style-disc">
              <% @opportunity.opportunity_times.each do |t|%>
                <% if t.date_time.present? %>
                  <li class="list-style-disc"><%= t.date_time.strftime("%d/%m/%y %A") %> <%= t.time.strftime("%l:%M %P") %> -  <%= link_to 'Delete',t , method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% else %>
                  <li class="list-style-disc">--- /--- /---  <%= t.day %> <%= t.time.strftime("%l:%M %P") %> <%= t.frequency %> -  <%= link_to 'Delete', t, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
              <% end %>
            </ul>
            <a class="waves-effect waves-light btn modal-trigger" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
          <% else %><!-- else if opportunity time is not present -->
            <p>
              <strong>No specific dates, days and time setup yet.</strong>
            </p>
            <a class="waves-effect waves-light btn modal-trigger" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
          <% end %>

          <!-- Modal Trigger -->

          <!-- Modal Structure -->
          <div id="opportunity_schedule" class="modal">
            <div class="modal-content">
              <%= render 'time_form'%>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close Without Saving</a>
            </div>
          </div>

          <% if @opportunity.school_years.present? %>
            <p>
              <strong>Participants School Year level(s):</strong>
              <ol>
                <% @opportunity.school_years.each do |level| %>
                  <li><%= level.name %></li>
                <% end %>
              </ol>
            </p>
          <% end %>


          <p>How many candidates would you like to engage for this opportunity?</p>
          <p><%= @opportunity.number_of_candidates %></p>
          <p>Skills Required of the MOBEEAS Candidate:</p>
          <% if @opportunity.skills.present? %>
            <ol>
              <% @opportunity.skills.each do |skill| %>
                <li><%= skill.name %> (<%= skill.skill_category.name %>)</li>
              <% end %>
            </ol>
          <% else %>
            <p>No skills listed</p>
          <% end %>

          <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id)%>

          <p>
            <strong>KEEP THIS ONE: Other experiences that would be advantageous:</strong>
            <%= @opportunity.experiences %>
          </p>

          <p>
            <strong>Is this a paid Engagement?</strong>
            <% if @opportunity.paid_engagement %>
              <p>Yes, paid engagement.</p>
            <% else %>
              <p>No, Not paid engagement.</p>
            <% end %>
          </p>

          <p>
            <strong>Hourly rate:</strong>
            <%= @opportunity.pay %>
          </p>

          <p>
            <strong>Remuneration or specific terms of employment:</strong>
            <%= @opportunity.employment_terms %>
          </p>

          <%= link_to 'Edit', edit_opportunity_path(@opportunity) %>

        </div><!-- end of card-content -->
      </div><!-- end of card -->
    </div> <!-- end of col m6 offset-m2-->


    <div class="col m5">
      <div class="card">
        <div class="card-content">

          <% hash = {} %>
          <% users = [] %>
          <p>Candidates with matching and verified skills:</p>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% hash[opportunity_skill.skill.name] = [] %> <!-- create a hash of array, key is skill name, value is user id -->
            <% @candidate_skills.each do |candidate_skill| %>
              <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified) %>
                <% hash[opportunity_skill.skill.name] << candidate_skill.user_id %>
                <% if !(users.include?(candidate_skill.user_id))%><!-- only add a unique user id -->
                  <% users << candidate_skill.user_id %>
                <% end %>
              <% end %>
            <% end %><!-- end of candidate skill loop -->
          <% end %><!-- end of opportunity loop -->
          <%#= hash %><!-- print hash -->

          <% hash1 = {} %>
          <% users.sort.each do |user| %><!-- print users -->
            <% hash1[user] = []%>
            <% hash.each_pair do |key, value| %>
              <% if hash[key].include?(user) %><!-- the reverse of hash, i.e. key is user id, value is skill name -->
                  <% hash1[user] << key %>
              <% end %>
            <% end %>
          <% end %>
          <br>
          <%#= hash1 %><!-- print hash1 -->
          <% hash1.each_pair do |key, value| %> <!-- key is user id, value is skill name -->
          <% @found = true %><!-- start with found is true -->
            <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
              <% @candidate = Profile.find_by(user_id: key)%>
              <%= @candidate.name %> (ID: <%= key %>) -
                <% value.each do |val| %>
                  <%= val %>

                  <!-- for testing only -->
                  <!-- <%#= val %> : <%#= opportunity_skill.skill.name %>? -->

                <% end %>
                <% if !(hash1[key].include?(opportunity_skill.skill.name)) %> <!-- false when not all matching-->
                  <% @found = false %> <!-- if an opportunity skill is not matching, @found become false -->
                <% end %>
              <br>
            <% end %><!-- end of opportunity loop -->
            <!-- for testing purpose only -->
            <% if @found == true %>
              Exact match<br>
            <% else %>
              Close match<br>
            <% end %>
          <% end %><!-- end of hash loop -->

        </div><!-- end of card-content -->
      </div><!-- end of card -->
    </div><!-- end of col m2 -->
  </div><!-- end of row -->
