<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>
    <p id="notice"><%= notice %></p>

    <h5><%= @opportunity.title %></h5>
    <p><strong><%= @opportunity.description %></strong></p>
    <p><strong>Status: </strong><%= @opportunity.opportunity_status %></p>


    <p>
      <strong>Organisation:</strong>
      <% @organisation = Organisation.find(@opportunity.organisation) %>
      <%= @organisation.name %>
    </p>

    <p>
      <strong>Host:</strong>
      <% @user = User.find(@opportunity.user) %>
      <%= @user.org_user_profile.name %>
    </p>



    <p>
      <strong>Start date:</strong>
      <%= @opportunity.commencement_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @opportunity.completion_date %>
    </p>

    <% if @opportunity.school_years.present? %>
      <p>
        <strong>Participants School Year level(s):</strong>
        <ol>
          <% @opportunity.school_years.each do |level| %>
            <li><%= level.name %></li>
          <% end %>
        </ol>
      </p>
    <% end %>

    <p>Skills Required of the MOBEEAS Mentor:</p>
    <% if @opportunity.skills.present? %>
      <ol>
        <% @opportunity.skills.each do |skill| %>
          <li><%= skill.name %> (<%= skill.skill_category.name %>)</li>
        <% end %>
      </ol>
    <% else %>
      <p>No skills listed</p>
    <% end %>
    <!-- <a href="/required_skills">Add skills</a> -->
    <%= link_to "Add Skills", required_skills_path(oppo_id: @opportunity.id)%>
    <p>
      <strong>Specific skills requirement:</strong>
      <%= @opportunity.specific_skills %>
    </p>

    <p>
      <strong>Other experiences that would be advantageous:</strong>
      <%= @opportunity.experiences %>
    </p>

    <p>
      <strong>Is this a paid Engagement?</strong>
      <% if @opportunity.paid_engagement %>
        <p>Yes, paid engagement.</p>
      <% else %>
        <p>No, Not paid engagement.</p>
      <% end %>
    </p>

    <p>
      <strong>Hourly rate:</strong>
      <%= @opportunity.pay %>
    </p>

    <p>
      <strong>Remuneration or specific terms of employment:</strong>
      <%= @opportunity.employment_terms %>
    </p>

    <%= link_to 'Edit', edit_opportunity_path(@opportunity) %>
  </div>
</div>
