
<div class="row">
<%# OPPORTUNITY ===========================================%>

  <div class="col l11 offset-l1">
    <% if current_user.has_role? :admin %>
      <h5 class="red-text">THIS IS LIVE DATA. PLEASE DO NOT MODIFY THE RECORD BELOW</h5>
    <% end %>
    <p>
      <% if @opportunity.organisation.present? %>
        <% @name = @organisation.name %>
      <% else %>
        <%# @user = User.find(@opportunity.user_id) %>
        <% @name = @host.org_user_profile.name %>
      <% end %>
      <h5 class="align-center margin-top-20px margin-bottom-20px">
        <% if @opportunity.archived %>
          Archived Opportunity for <%= @name %>
        <% else %>
          <% if @opportunity.opportunity_status == 'draft' %>
            Draft Opportunity for <%= @name %>
          <% elsif @opportunity.opportunity_status == 'listed' %>
            Listed Opportunity for <%= @name %>
          <% elsif @opportunity.opportunity_status == 'active' %>
            Active Opportunity for <%= @name %>
          <% elsif @opportunity.opportunity_status == 'post_active' %>
            Completed Opportunity for <%= @name %>
          <% end %>
        <% end %>
      </h5>
    </p>
  </div>
</div>
<%# SPONSORSHIP ===========================================%>
<%# Sponsorship banner card appears on the top of this opportunity ONLY IF it has at least one EOI %>
<% if @opportunity.expression_of_interests.present? %>
  <div class="row">
    <div class="col m11 offset-m1">
      <div class="card">
        <div class="card-content">
          <%# Display the list of the sponsor logos and org names of all approved sponsorship.
              If doesn't exist, it won't be displayed %>
          <div class = 'row'>
            <% @opportunity.expression_of_interests.approved.each do |expression_of_interest| %>
                <div class = 'col l6 align-center'>
                  <p>Proudly sponsored by</p>
                  <h5><%= expression_of_interest.sponsor.organisation %></h5>
                  <% if expression_of_interest.sponsor.logo.present? %>
                    <%= cl_image_tag(expression_of_interest.sponsor.logo_url, class: 'img-responsive activator', :width=>100, :crop=>:scale ) %>
                  <% else %>
                    <%= cl_image_tag("noPhoto-icon.png", class: 'img-responsive activator', :width=>100, :crop=>:scale )  %>
                  <% end %>
                  <br>
                </div>
            <% end %><%# end of @opportunity.expression_of_interests.approved loop %>
          </div>
          <% if current_user.has_role? :sponsor %>
            <% if @opportunity.expression_of_interests.present? %>
              <% @flag_sponsored = false %>
              <% @opportunity.expression_of_interests.each do |expression_of_interest| %>
                <% if expression_of_interest.sponsor.id == current_user.sponsor.id %><%# the sponsor has EOI for this opportunity %>
                  <% @flag_sponsored = true %>
                  <% if !(expression_of_interest.approved) %><%# if FALSE for approved by Admin %>
                    <p class="purple-text">Your request to sponsor this opportunity is currently being reviewed.</p>
                  <% end %>
                  <%# if TRUE for approved by Admin, don't do anything, it would have already been displayed on the above %>
                <% end %><%# end of if expression_of_interest.sponsor.id == current_user.sponsor.id %>
              <% end %><%# end of @opportunity.expression_of_interests loop %>
              <% if !@flag_sponsored %><%# After exiting the loop, FALSE if the current_user sponsor never submitted EOI for this opportunity %>
                <p>
                  Would you like to sponsor this opportunity? Please follow <%= link_to "this link", notify_expression_of_interest_path(sponsor_id: current_user.sponsor.id, opportunity_id: @opportunity.id) %> and we will contact you to discuss options.
                </p>
              <% end %>
            <% else %><%# if this @opportunity doesn't have an EOI at all, invite the sponsors %>
              <p>
                Would you like to sponsor this opportunity? Please follow <%= link_to "this link", notify_expression_of_interest_path(sponsor_id: current_user.sponsor.id, opportunity_id: @opportunity.id) %> and we will contact you to discuss options.
              </p>
            <% end %><%# end of if @opportunity.expression_of_interests.present? %>
          <% end %><%# end of if current_user.has_role? :sponsor %>
        </div>
      </div><%# end of card-content %>
    </div><%# end of card %>
  </div><%# end of row %>
<% else %>
  <%# If this @opportunity doesn't have an EOI at all, the sponsorship card will appear only to user with role as sponsor,
      and it is to invite the sponsor to submit EOI for this @opportunity .
      The sponsorship banner of @opportunity without EOI will be invisibe to users with roles other than sponsor. %>
  <% if current_user.has_role? :sponsor %>
    <div class="row">
      <div class="col m11 offset-m1">
        <div class="card">
          <div class="card-content">
            <p>
              Would you like to sponsor this opportunity? Please follow <%= link_to "this link", notify_expression_of_interest_path(sponsor_id: current_user.sponsor.id, opportunity_id: @opportunity.id) %> and we will contact you to discuss options.
            </p>
          </div>
        </div><%# end of card-content %>
      </div><%# end of card %>
    </div><%# end of row %>
  <% end %>
<% end %>

<%# OPPORTUNITY DETAILS ===========================================%>
<div class="row">
  <div class="col l5 offset-l1">
    <%# ORGANISATION NAME AND LOGO ===========================================%>
    <div class="card">
      <div class="card-content">
        <% @host.org_user_profile.name %>
        <% if @host.org_user_profile.agency == "I represent an Organisation" %>
          <div class="font-16px palette1"><i class="fa fa-building-o"></i> Organisation</div>
        <% elsif @host.org_user_profile.agency == "I am an Independent" %>
          <div class="font-16px palette1"><i class="fa fa-building-o"></i> Independent</div>
        <% end %>
        <%= render 'layouts/sidebar' %>
        <p id="notice"><%= notice %></p>
        <% if @organisation.present? %><%# logo only appears for organisation %>
          <div class="row">
            <div class="col l2">
              <div class="card-image waves-effect waves-block waves-light">
                  <% if @organisation.logo.present? %>
                    <%= image_tag(@organisation.logo_url, class: 'img-responsive activator' ) %>
                  <% else %>
                    <%= cl_image_tag("noPhoto-icon.png", class: 'img-responsive activator' ) %>
                  <% end %>
              </div>
            </div>
            <div class="col l6">
              <h5><%= @organisation.name %></h5>
            </div>
          </div><%# end of row %>
        <% end %>
          <% @host = User.find(@opportunity.user_id) %>
          <p>
            Hosted by: <b><%= @host.org_user_profile.name %></b>
            <%# Do not display 'contact host' while the owner of this opportunity is viewing my own opportunity %>
            <% if !(@host.id == current_user.id) && !(@opportunity.archived) %>
               <!-- Modal Trigger -->
                | <a class="modal-trigger" href="#contact-host">Contact Host</a>

               <!-- Modal Structure -->
               <div id="contact-host" class="modal">
                 <div class="modal-content">
                   <h4>Contact <%= @host.org_user_profile.name %></h4>
                   <p>
                     By clicking I AGREE the details about this opportunity and your email address will be sent to this host to initiate correspondence.
                     A copy of this message will be sent to you.
                   </p>
                 </div>
                 <div class="modal-footer">
                   <%= link_to "I Agree ", contact_host_for_opportunity_path(@opportunity, user_id: current_user.id), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
                   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                 </div>
               </div><!-- End of Modal Structure -->
            <% end %>
          </p>

      </div><%# end of card-content %>
    </div><%# end of card %>

    <%# OPPORTUNITY TITLE & DESCRIPTION ===========================================%>
    <div class="card">
      <div class="card-content">
        <div class="font-16px palette1"><i class="fa fa-list"></i> Title:</div>
        <p><b><%= @opportunity.title %></b></p>
        <br>
        <div class="font-16px palette1"><i class="fa fa-list"></i> Description:</div>
        <p><b><%= @opportunity.description %></b></p>

        <div class="align-right palette1">
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
            <%= link_to edit_opportunity_path(@opportunity.id, object: 'title', org_id: @opportunity.organisation_id) do %><i class="fa fa-pencil-square-o palette1"></i><% end %>
          <% end %>
        </div>
      </div>
    </div>


    <%# SCHOOL YEAR LEVEL AND THE NUMBER OF STUDENTS REQUIRED =========================================== %>
    <div class="card">
      <div class="card-content">
        <div class="font-16px palette1"><i class="fa fa-users"></i> School Students Involved</div>
        <p>Please let us know how many students will be involved in this opportunity and their year/stage:</p>
        <% if @opportunity.school_years.present? %>
          <p>
            Participants School Year level(s):
            <ol>
              <% @opportunity.opportunity_school_years.each do |opportunity_school_year| %>
                <li>
                  <b><%= opportunity_school_year.school_year.name %> (number of students: <%= (opportunity_school_year.number_of_students > 0)? opportunity_school_year.number_of_students : 0 %>)</b>

                  <%# The school year level can be edited if :
                      1. viewed by opportunity owner
                      2. if the opportunity is not archived.
                      3. if the opportunity is not closed.%>
                  <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
                    <%= link_to 'Edit', edit_opportunity_school_year_path(opportunity_school_year, opportunity_id: @opportunity.id) %> |
                    <%= link_to 'Delete', opportunity_school_year_path(opportunity_school_year, opportunity_id: @opportunity.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </li>
              <% end %>
            </ol>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
              <div class="margin-top-20px">
                <%= link_to 'Add Participant Details', new_opportunity_school_year_path(opportunity_id: @opportunity.id), class: 'btn' %>
              </div>
            <% end %>
          </p>
        <% else %>
          <div class="default-response-text">
            <p>No participant details entered yet.</p>
          </div>
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
            <div class="margin-top-20px">
              <%= link_to 'Add Participant Details', new_opportunity_school_year_path(opportunity_id: @opportunity.id), class: 'btn'%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# OPPORTUNITY DATES, DAYS AND TIMES ===========================================%>
    <div class="card">
      <div class="card-content">
        <div class="font-16px palette1"><i class="fa fa-calendar"></i> Dates, Days and Times</div>
        <p>
          When would you like this collaborative learning experience to happen?
        <%# something to display the start time and end time here %>
        <% if @opportunity.opportunity_times.present? %>

          Enter anticipated activity dates, days and times:
            <ol>
              <% @opportunity.opportunity_times.each do |opportunity_time|%>
                <li>
                  <% if opportunity_time.frequency == "once" %>
                    <b>On <%= opportunity_time.start_date %>, <%= opportunity_time.day %> at <%= opportunity_time.start_time %> to <%= opportunity_time.end_time %>.</b>
                    <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                       - <%= link_to 'Delete',opportunity_time , method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    <% end %>
                  <% else %>
                    <b>From <%= opportunity_time.start_date %> on <%= opportunity_time.day %> at <%= opportunity_time.start_time %> to <%= opportunity_time.end_time %> <%= opportunity_time.frequency %> until <%= opportunity_time.end_date %>.</b>
                    <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                       - <%= link_to 'Delete',opportunity_time , method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    <% end %>
                  <% end %>
                </li>
              <% end %><%# end of @opportunity.opportunity_times loop %>
            </ol>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <div class="margin-top-20px">
                <%= link_to 'Add Opportunity Schedule', new_opportunity_time_path(opportunity_id: @opportunity.id), class: 'btn' %>
              </div>
            <% end %>

        <% else %><%# else if opportunity time is not present %>

          <div class="default-response-text">No specific dates, days and time setup yet.</div>
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived)%>
            <div class="margin-top-20px">
              <%= link_to 'Add Opportunity Schedule', new_opportunity_time_path(opportunity_id: @opportunity.id), class: 'btn' %>
            </div>
          <% end %>

        <% end %>
        </p>
      </div>
    </div>

    <%# CANDIDATE SKILLS =========================================== %>
    <div class="card">
      <div class="card-content">

        <div class="font-16px palette1"><i class="fa fa-sliders"></i> Candidate Skills</div>
        <p>What skills would you like your collaborative learning candidate to have?</p>
        <p>
          <% if (@opportunity.skills.any?) %>
            <ol>
              <% @opportunity.skills.each do |skill| %>
                <li><b><%= skill.name %> (<%= skill.skill_category.name %>)</b></li>
              <% end %>
            </ol>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <div class="margin-top-20px">
                <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id), class: 'btn' %>
              </div>
            <% end %>
          <% else %>
            <div class="default-response-text">No skills are currently listed</div>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <div class="margin-top-20px">
                <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id), class: 'btn' %>
              </div>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

    <%# REMUNERATION =========================================== %>
    <div class="card">
      <div class="card-content">
        <div class="font-16px palette1"><i class="fa fa-usd"></i> Remuneration</div>
        <p>Is this a paid engagement?
          <% if @opportunity.paid_engagement %>
            <b>Yes, paid engagement.</b>
          <% else %>
            <b>No, Not paid engagement.</b>
          <% end %>
        </p>
        <p>Hourly rate:
          <% if @opportunity.pay.present? %>
            <b>$ <%= @opportunity.pay %></b>
          <% else %>
            <b>Hourly rate not present</b>
          <% end %>
        </p>
        <p>Any specific terms or conditions of employment?
          <% if @opportunity.employment_terms.present? %>
            <b><%= @opportunity.employment_terms %></b>
          <% else %>
            <b>None</b>
          <% end %>
        </p>
        <div class="align-right palette1">
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
            <%= link_to edit_opportunity_path(@opportunity.id, org_id: @opportunity.organisation_id, object: 'rate') do %><i class="fa fa-pencil-square-o palette1"></i><% end %>
          <% end %>
        </div>

      </div>
    </div>


    <%# OTHER REQUIREMENTS ===========================================%>
    <div class="card">
      <div class="card-content">
        <div class="font-16px palette1"><i class="fa fa-puzzle-piece"></i> Other Requirements</div>
        <p>
          Please describe any other requirements you have of potential candidates here:
          <% if  @opportunity.experiences.present? %>
            <b><%= @opportunity.experiences %></b>
          <% else %>
            <b>Not present</b>
          <% end %>
        </p>
        <div class="align-right">
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
            <%= link_to edit_opportunity_path(@opportunity.id, org_id: @opportunity.organisation_id, object: 'requirement') do %><i class="fa fa-pencil-square-o palette1"></i><% end %>
          <% end %>
        </div>
      </div>
    </div>



    <%# OPPORTUNITY STATUS ===========================================%>
    <div class="card">
      <div class="card-content">
        <%# only the opportunity owner can edit the opportunity status %>
        <div class="font-16px palette1"><i class="fa fa-play"></i> Opportunity Status</div>
        <p>
          <%# If opportunity has been archived %>
          <% if (@opportunity.archived) %>
            <p>Current Opportunity Status: <span class="purple-text"><b>ARCHIVED</b></span></p>
          <% else %>
            <% if @opportunity.opportunity_status == 'active' %>
              <p>Current Opportunity Status: <span class="red-text"><b>ACTIVE</b></span></p>
            <% elsif @opportunity.opportunity_status == 'post_active' %>
              Current Opportunity Status: <b>COMPLETED</b>
              <br>
              <%# after the opportunity status is changed to COMPLETED, the owner will be asked to create a completion report.%>
              <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) %>
                <div class="purple-text">Please submit a completion report.</div>
              <% end %>
              <%# Note: when the opportunity status is post_active, the word to display is 'completed' %>
            <% elsif @opportunity.opportunity_status == 'listed' %>
              <p>
                Current Opportunity Status: <b>LISTED</b>
                <br>
                The status will change to <b>ACTIVE</b> once you allocate a token to a suitable candidate.
              </p>
            <% elsif @opportunity.opportunity_status == 'draft' %>
              <p>
                Current Opportunity status: <b>DRAFT</b>
                <br>
                Please LIST this opportunity once tokens have been allocated and you are ready to proceed.
              </p>
            <% end %>
          <% end %>
        <%# The listing status can be edited if :
            1. viewed by opportunity owner
            2. if the opportunity is not archived.
            3. if the opportunity is not closed.%>
        <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
          <%# DRAFT OPPORTUNITY ============================================= %>
          <% if @opportunity.opportunity_status == 'draft' %>
            <%# DRAFT OPPORTUNITY FOR ORGANISATION HOST ======================%>
            <% if @host.org_user_profile.agency == 'I represent an Organisation' %>
              <%# The Organisation Host can change from DRAFT to LIST the opportunity only if the organisation's subscription exists and is still active %>
              <% if @organisation.subscriptions.present? %>
                <% @subscription = Subscription.find(@organisation.subscriptions.last.id) %><%# get the LAST subscription of this ORGANISATION %>
                <% if (@subscription.active) %>
                  <div class="margin-top-20px margin-bottom-20px">
                    <%= link_to "List", status_listed_opportunity_path(@opportunity), class: 'btn' %>
                    <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                  </div>
                <% elsif (@subscription.expired)%>
                  <div class="margin-top-20px margin-bottom-20px">
                    <a class="btn disabled">List</a>
                    <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                  </div>
                  <%= @organisation.name %> subscription has expired, please renew before you can list your opportunity.
                <% end %>
              <% else %>
                <div class="margin-top-20px margin-bottom-20px">
                  <a class="btn disabled">List</a>
                  <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                </div>
                <%= @organisation.name %> does not have MOBEEAS subscription, please subscribe before you can list your opportunity.
              <% end %>

            <%# DRAFT OPPORTUNITY FOR INDEPENDENT HOST ======================%>
            <% elsif @host.org_user_profile.agency == 'I am an Independent' %>
              <%# The Independent Host can change from DRAFT to LIST the opportunity only if the his subscription exists and is still active %>
              <% if @host.subscriptions.present? %>
                <% @subscription = Subscription.find(@host.subscriptions.last.id) %><%# get the LAST subscription of this ORGANISATION %>
                <% if (@subscription.active) %>
                  <div class="margin-top-20px margin-bottom-20px">
                    <%= link_to "List", status_listed_opportunity_path(@opportunity), class: 'btn' %>
                    <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                  </div>
                <% elsif (@subscription.expired)%>
                  <div class="margin-top-20px margin-bottom-20px">
                    <a class="btn disabled">List</a>
                    <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                  </div>
                  Your subscription has expired, please renew before you can list your opportunity.
                <% end %>
              <% else %>
                <div class="margin-top-20px margin-bottom-20px">
                  <a class="btn disabled">List</a>
                  <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
                </div>
                You do not have MOBEEAS subscription, please subscribe before you can list your opportunity.
              <% end %>
            <% end %>

          <%# LISTED OPPORTUNITY ============================================= %>
          <% elsif @opportunity.opportunity_status == 'listed' %>
            <div class="margin-top-20px">
              <%= link_to "Draft", status_draft_opportunity_path(@opportunity), class: 'btn' %>
              <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
            </div>

          <%# ACTIVE OPPORTUNITY ============================================= %>
          <% elsif @opportunity.opportunity_status == 'active' %>
            <div class="margin-top-20px">
              <%= link_to "Completed", post_active_opportunity_path(@opportunity), data: {confirm: "Are you sure you want to complete this opportunity? Changes will be permanent."}, class: 'btn' %>
            </div>

          <%# POST-ACTIVE (COMPLETED) OPPORTUNITY ============================================= %>
          <% elsif @opportunity.opportunity_status == 'post_active' %>
             <div class="margin-top-20px">
               <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
             </div>
          <% end %>
        <% end %>
        </p>
      </div>
    </div>

  </div> <%# end of col m6 offset-m1%>


  <%# The right side of Opportunity Page ===========================================%>
  <div class="col m5">
    <%# TOKENS ALLOCATIONS ===========================================%>
    <%# Only the opportunity owner can view/add/remove candidates and tokens %>
    <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user.id) %>

      <div class="card">
        <div class="card-content">
          <div class="font-16px palette1"><i class="fa fa-certificate"></i> Tokens</div>

          <%# This is the token functions for the host representing an organisation %>
          <% if (current_user.org_user_profile.agency == "I represent an Organisation") %>
              <p>You will need to allocate 1 token for each candidate to be engaged in this collaborative learning experience.</p>
              <p><%= @organisation.name %> currently holds: <b><%= @organisation.number_of_tokens %> <%= (@organisation.number_of_tokens > 1) ? 'tokens' : 'token' %></b></p>

              <%# if the host does not have enough token, he should buy at least one token. %>
              <% if (@organisation.number_of_tokens == 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                <p>
                  <br>
                  More tokens can be purchased here (price ex GST)
                </p>
                <%# =========== %>
                <% current_user.org_users.each do |org_user| %>
                  <%# search for the organisations linked to this user and find the one that is matching to this opportunity %>
                  <% if  org_user.organisation_id == @organisation.id %>
                    <%# if the host is an admin host and is verified, then he can see purchase buttons %>
                    <% if (org_user.admin_status) && (org_user.verified_status) %>
                      <% @engagement_token_packs = EngagementTokenPack.all %>
                      <% @engagement_token_packs.each do |pack| %>
                        <div class="margin-top-5px">
                        <%= link_to new_token_purchase_path(org: org_user.organisation.id, token_pack: pack.id), class: 'btn' do %>
                          <%= button_label(pack) %>
                        <% end %>
                        </div>
                      <% end %><%# end of loop @engagement_token_packs %>

                    <%# elsif the host is not an admin host and is verified, then he can see the list of admin host names for that organisation and select one to ask for more token %>
                    <% elsif !(org_user.admin_status) && (org_user.verified_status) %>
                      <p>Please contact your Administrator(s) to purchase more tokens:</p>
                      <% @user_organisation = Organisation.find(org_user.organisation.id) %>
                      <ul>
                      <% @user_organisation.users.each do |user| %>
                        <% if user.org_users.present? %>
                          <% user.org_users.each do |org_user| %>
                          <%# just show the profile that is linked to this organisation %>
                            <% if org_user.organisation_id == @organisation.id %>
                              <% if (org_user.admin_status) && (org_user.verified_status) %>
                                <li class="list-style-disc"><p>
                                <strong><%#= user.org_user_profile.id %><%= link_to "Send message to " + user.org_user_profile.name, purchase_more_tokens_for_opportunity_path(@opportunity.id, user_id: user.id) %></strong>
                                (Verified)
                                </li>
                              <% end %><%# end of if (org_user.admin_status) %>
                            <% end %><%# end of org_user.organisation_id == %>
                          <% end %><%# end of user.org_users loop %>
                        <% end %><%# end of if user.org_users %>
                      <% end %><%#  end of loop @user_org.users %>
                      </ul>
                    <% end %><%# end of if org_user.admin_status && org_user.verified_status %>
                  <% end %><%# end of if  org_user.organisation_id == @organisation.id%>
                <% end %><%# end of loop current_user.org_users %>
              <% end %>
              <br>
              <p>
                This opportunity currently holds: <b><%= @opportunity.number_of_tokens %> <%= (@opportunity.number_of_tokens > 1) ? 'tokens' : 'token' %></b>
                <%# if the host has enough token, he can transfer a token to this opportunity %>
                <% if (@organisation.number_of_tokens > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                  <div class="margin-top-5px">
                    <%= link_to 'Transfer 1 Token', increase_one_token_into_opportunity_path(org_id: @organisation.id), class: 'btn' %>
                  </div>
                <% end %>
                <%# if this opportunity holds at least one token, the host can choose to transfer it back to his host profile %>
                <% if (@opportunity.number_of_tokens > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                  <div class="margin-top-5px">
                    <%= link_to 'Remove 1 Token', decrease_one_token_from_opportunity_path(org_id: @organisation.id), class: 'btn' %>
                  </div>
                <% end %>
              </p>

          <%# =========== %>

          <%# This is the token function for Independent host, not representing an organisation %>
          <% elsif (current_user.org_user_profile.agency == "I am an Independent") %>
            <%# if the host has enough token, he can transfer it to this opportunity %>
            <% if (current_user.org_user_profile.number_of_tokens_for_independent > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <p>
                You will need to allocate 1 token for each candidate to be engaged in this collaborative learning experience.
                <br>
                Currently you are holding: <b><%= current_user.org_user_profile.number_of_tokens_for_independent %> <%= (current_user.org_user_profile.number_of_tokens_for_independent > 1) ? 'tokens' : 'token' %></b>
                <br>
                This opportunity currently holds: <b><%= @opportunity.number_of_tokens %> <%= (@opportunity.number_of_tokens > 1) ? 'tokens' : 'token' %></b>
              </p>
              <div class="margin-top-20px">
                <%= link_to 'Transfer 1 Token into this Opportunity', increase_one_token_into_independent_opportunity_path, class: 'btn' %>
              </div>
            <%# if the host does not have enough token, he should buy at least one token. %>
            <% elsif (current_user.org_user_profile.number_of_tokens_for_independent == 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <p>
                You do not have any tokens. Please purchase a token for each candidate you would like to engage.
              </p>
              <p>This opportunity currently holds: <b><%= @opportunity.number_of_tokens %> <%= (@opportunity.number_of_tokens > 1) ? 'tokens' : 'token' %></b></p>
              <%# buttons to buy more tokens for independent host %>
              Puchase more tokens (price ex GST):
              <br>
              <% @engagement_token_packs.each do |pack| %>
                <div class="margin-top-5px">
                  <%= link_to new_token_purchase_path(token_pack: pack.id), class: 'btn' do %>
                    <%= button_label(pack) %><br>
                  <% end %>
                </div>
              <% end %><%# end of loop @engagement_token_packs %>

            <% end %>
            <%# if this opportunity holds at least one token, the host can choose to transfer it back to his host profile %>
            <% if (@opportunity.number_of_tokens > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <div class="margin-top-20px">
                <%= link_to 'Remove 1 Token from this Opportunity', decrease_one_token_from_independent_opportunity_path, class: 'btn' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# POTENTIAL CANDIDATES ===========================================%>
    <%# Lists the candidates with matching skills %>
    <div class="card light-green-background">
      <div class="card-content">
        <% if @opportunity.opportunity_status == 'draft' %>
          <p>Candidates with suitable skills will be displayed once you LIST this opportunity.</p>
        <% else %>
          <% hash = {} %>
          <% users = [] %>
          <p>Candidates with matching and verified skills:</p>
          <%# Remember: Hash[key]=value %>
          <%# We want to build this Hash structure:
              hash[key] = the user_id
              hash[value] = the array of [skill_category, skill]
              This will involve two steps
          %>
          <%# 1. STEP ONE, set the hash[key] with all matching candidates' user_id ======= %>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% @candidate_skills.each do |candidate_skill| %>
              <%# Only these candidates will be included in the Hash:
                1. the candidate has active subscription
                2. candidates that has the matching skill id and
                3. his skill has been verified by his referee and
                4. his profile has been approved by admin
              %>
              <% if candidate_skill.user.subscriptions.present? %><%# check if Candidate has any subscriptions %>
                <% @subscription = Subscription.find(candidate_skill.user.subscriptions.last) %><%# find the last subscription of this candidate %>
                <% if (@subscription.active) %><%# if Candidate's subscription is active then he will be included in the next search %>
                  <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified) && (candidate_skill.user.profile.approved) %>
                  <%# what does candidate_skill.user.profile.approved mean? %>
                  <%# It means that the Admin has clicked the 'approve' function in the Prohibited Candidate list which calls the approve function in profiles_controller.rb file %>
                    <% hash[candidate_skill.user_id] = [] %> <%# create a hash of empty array, key is skill name, value is user id to be filled in the next loop %>
                  <% end %>
                <% end %><%# end of if (@subscription.active)%>
              <% end %><%# end of if candidate_skill.user.subscriptions.present? %>
            <% end %><%# end of candidate skill loop %>
          <% end %><%# end of opportunity loop %>
          <%# End of STEP ONE =================== %>

          <%# 2. STEP TWO, fill the hash[value] with array of skill_set according to the user_id that is already in the hash[key] %>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% @candidate_skills.each do |candidate_skill| %>
              <%# Only these candidates will be included in the Hash:
                1. the candidate has active subscription
                2. candidates that has the matching skill id and
                3. his skill has been verified by his referee and
                4. his profile has been approved by admin
              %>
              <% if candidate_skill.user.subscriptions.present? %><%# check if Candidate has any subscriptions %>
                <% @subscription = Subscription.find(candidate_skill.user.subscriptions.last) %><%# find the last subscription of this candidate %>
                <% if (@subscription.active) %><%# if Candidate's subscription is active then he will be included in the next search %>
                  <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified)  && (candidate_skill.user.profile.approved) %>
                    <% hash[candidate_skill.user_id] << [candidate_skill.skill.skill_category.name, candidate_skill.skill.name] %>
                  <% end %>
                <% end %><%# end of if (@subscription.active)%>
              <% end %><%# end of if candidate_skill.user.subscriptions.present? %>
            <% end %><%# end of @candidate_skills loop %>
          <% end %><%# end of @opportunity.opportunity_skills loop %>
          <%# End of STEP TWO =================== %>

          <%#= hash %><%# prints hash, open only for testing %>
          <%# At this point the Hash is created and filled with this type:
            hash[key] = hash[value]
            hash[key] = the user_id
            hash[value] = the array of [skill_category, skill]
            array value[0] = skill_category and array value[1] = skill %>
          <%# e.g. {2=>[["Digital Technologies", "Robotics"], ["Design & Technology", "3D Printing"], ["English", "Secondary-Extension 1"], ["Mathematics", "Secondary-Extension 1"]] %>

          <% if hash.empty? %>
            <p>No matching candidate</p>
          <% else %>
            <% hash.each_pair do |key, value| %> <%# key is user id, value is skill name %>
              <% @profile = Profile.find_by(user_id: key)%>
                <%# The Candidate who logged in and view an opportunity will be able to see his own name and details in opportunity.
                He won't be able to see other candidates listed in the same opportunity  %>
                <% if (current_user.has_role? :candidate) %>
                  <% if (current_user.profile.id == @profile.id ) %>
                    <br><b><%= current_user.profile.name %></b> (User ID: <%= current_user.id %>)
                    <% value.each do |val| %>
                      <br><%= val[0] %> - <%= val[1] %><%# skill_category - skill %>
                    <% end %>
                    <p>Location: <%= @profile.suburb %>, <%= @profile.state %></p>
                    <% @profile.user.security_checks.each do |security_check| %>
                      <%= security_check.name %>
                      <% if security_check.verified %>
                        <span class="green-text"><i class="fa fa-check-circle"></i></span>
                      <% else %>
                        <span class="red-text"><i class="fa fa-times"></i></span>
                      <% end %>
                      <br>
                    <% end %><%# end of @profile.user.security_checks loop %>
                  <% end %><%# end if current_user.profile.id == @profile.id %>
                <% else %><%# Else if the user's role is NOT a candidate, he can view the details of all other candidates in an opportunity %>
                  <br>
                  <%# Modal popup appears next to candidate's name and if clicked will show the profile of the candidate %>
                  <!-- Modal Trigger -->
                  <a class="modal-trigger" href="#candidate-profile"><span class="palette1"><i class="fa fa-user"></i></span></a> <b><%= @profile.name %></b>

                  <!-- Modal Structure -->
                  <div id="candidate-profile" class="modal modal-fixed-footer">
                    <div class="modal-content">
                      <div class="row">
                        <div class="col m2">
                          <% if @profile.picture.present? %>
                            <%= cl_image_tag(@profile.picture, class: 'img-responsive activator', :width=>110, :crop=>:scale) %>
                          <% else %>
                            <%= cl_image_tag("user.png", :opacity=>30, class: 'img-responsive activator', :width=>110, :crop=>:scale) %>
                          <% end %>
                        </div>
                        <div class="col m10">
                          <h4><%= @profile.name %></h4>
                        </div>
                      </div>
                        <p>
                          User ID: <%= @profile.user.id %>
                          <br>
                          Location: <%= @profile.suburb %>, <%= @profile.state %>
                          <% if @profile.country.present? %>
                            <%= @profile.country_name(@profile.country) %>
                          <% end %>
                          <br>
                          <%# Display candidate's skills %>
                          List of all skills:
                          <ol class="margin-top-0px">
                            <% @profile.user.candidate_skills.each do |candidate_skill| %>
                              <li><%= candidate_skill.skill.skill_category.name %> - <%= candidate_skill.skill.name %></li>
                            <% end %><%# end of value.each loop %>
                          </ol>

                          <%# Display candidate's educations %>
                          List of educations:
                          <ol class="margin-top-0px">
                            <% @profile.user.educations.each do |education| %>
                              <% if education.verified %><%# only displays the verified education records %>
                              <li><%= education.institution %> - <%= education.course %>, completed: <%= education.year_completed %> - <%= link_to 'File uploaded  ', education.achievement_url %></li>
                              <% end %>
                            <% end %><%# end of value.each loop %>
                          </ol>

                          <%# Display candidate's security checks %>
                          <% @profile.user.security_checks.each do |security_check| %>
                            <%= security_check.name %>: <%= security_check.number %> (<%= security_check.state %>)
                            <% if security_check.verified %>
                               - <span class="bold green-text">Verified</i></span>
                            <% else %>
                               - <span class="bold purple-text">Not Verified</span>
                            <% end %>
                            <br>
                          <% end %><%# end of @profile.user.security_checks loop %>
                        </p>
                      </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                    </div>
                  </div>
                  <%# end of Modal structure %>

                  <% value.each do |val| %>
                    <br><%= val[0] %> - <%= val[1] %><%# display skill category - skill name %>
                  <% end %><%# end of value.each loop %>
                  <% @engagement = Engagement.find_by(opportunity_id: @opportunity.id, profile_id: @profile.id) %>
                  <br>
                  Engagement status: <%= @engagement.status %>
                <% end %><%# end of if current_user.has_role? :profile %>

              <%= render 'engagement_links' %>
            <% end %><%# end of hash.each_pair loop %>
          <% end %><%# end of if hash.empty? %>
          <br><br>
        <% end %><%# end of if the list status is still draft %>
      </div><%# end of card-content %>
    </div><%# end of card %>
  </div><%# end of col m2 %>
</div><%# end of row %>
