<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Organisation:</strong>
      <% @organisation = Organisation.find(@opportunity.organisation) %>
      <%= @organisation.name %>
    </p>

    <p>
      <strong>User:</strong>
      <% @user = User.find(@opportunity.user) %>
      <%= @user.org_user_profile.name %>
    </p>

    <p>
      <strong>Opportunity status:</strong>
      <%= @opportunity.opportunity_status %>
    </p>

    <p>
      <strong>Project Title:</strong>
      <%= @opportunity.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @opportunity.description %>
    </p>

    <p>
      <strong>Anticipated commencement date:</strong>
      <%= @opportunity.commencement_date %>
    </p>

    <p>
      <strong>Anticipated completion date:</strong>
      <%= @opportunity.completion_date %>
    </p>

    <% if @opportunity.school_years.present? %>
      <p>
        <strong>School Year of the participants in the project:</strong>
        <ol>
          <% @opportunity.school_years.each do |level| %>
            <li><%= level.name %></li>
          <% end %>
        </ol>
      </p>
    <% end %>

    <p>
      <strong>Specific skills requirement:</strong>
      <%= @opportunity.specific_skills %>
    </p>

    <p>
      <strong>Other experiences that would be advantagous:</strong>
      <%= @opportunity.experiences %>
    </p>

    <p>
      <strong>Is this a paid Engagement?</strong>
      <% if @opportunity.paid_engagement %>
        <p>Yes, paid engagement.</p>
      <% else %>
        <p>No, Not paid engagement.</p>
      <% end %>
    </p>

    <p>
      <strong>Hourly rate:</strong>
      <%= @opportunity.pay %>
    </p>

    <p>
      <strong>Remuneration or specific terms of employment:</strong>
      <%= @opportunity.employment_terms %>
    </p>

    <%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
    <%= link_to 'Back', dashboard_host_path %>
  </div>
</div>
