  <!-- SPONSORSHIP ------------>
  <div class="row">
    <div class="col m11 offset-m1">
      <div class="card">
        <div class="card-content">
          <p>Proudly sponsored by: </p>
        </div>
      </div><!-- end of card-content -->
    </div><!-- end of card -->
  </div>


  <!-- OPPORTUNITY ------------>
  <div class="row">
    <div class="col m6 offset-m1">
      <div class="card" style="margin-left: none;">
        <div class="card-content">
          <%= render 'layouts/sidebar' %>
          <p id="notice"><%= notice %></p>

          <% @organisation = Organisation.find(@opportunity.organisation) %>
          <div class="row">
            <div class="col m2">
              <div class="card-image waves-effect waves-block waves-light">
                <% if @organisation.logo.present? %>
                  <%= image_tag(@organisation.logo_url, class: 'img-responsive activator') %>
                <% else %>
                  <img src="<%= asset_path 'noPhoto-icon.png' %>" class='img-responsive activator'>
                <% end %>
              </div>
            </div>
            <div class="col m6">
              <div class="card-image waves-effect waves-block waves-light">
                <br><br>
                <p><strong><%= @organisation.name %></strong></p>
              </div>
            </div>
          </div><!-- end of row -->

          <h5><%= @opportunity.title %></h5>
          <p><strong><%= @opportunity.description %></strong></p><br>

          <p>Status: <strong><%= @opportunity.opportunity_status %></strong>
            <% if @opportunity.opportunity_status == 'Active' %>
             <span class="green-text"><i class="fa fa-check-circle"></i></span>
            <% end %>
          </p>
          <% @host = User.find(@opportunity.user) %>
          <p>
            Host: <strong><%= @host.org_user_profile.name %></strong>
            <!-- Do not display 'contact host' while the owner of this opportunity is viewing my own opportunity -->
            <% if !(current_user.id == @host.id) %>
               - <%= link_to 'Contact ' + @host.org_user_profile.first_name, new_message_path(from: current_user.id, to: @host.id, opportunity_id: @opportunity.id) %>
            <% end %>
          </p>

          <p>
            Start date: <strong><%= @opportunity.commencement_date.strftime("%A, %e %b %Y") %></strong>
          </p>

          <p>
            End date: <strong><%= @opportunity.completion_date.strftime("%A, %e %b %Y") %></strong>
          </p>

          <!-- <p><%#= link_to "Add Schedule", new_opportunity_time_path(opportunity_id: @opportunity.id)%></p> -->
          <% if @opportunity.opportunity_times.present? %>
            <p>Required activity dates, days and times:
              <ul class="list-style-disc">
                <% @opportunity.opportunity_times.each do |t|%>
                  <% if t.date_time.present? %>
                    <li class="list-style-disc"><%= t.date_time.strftime("%d/%m/%y %A") %> <%= t.time.strftime("%l:%M %P") %>
                      <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
                         - <%= link_to 'Delete',t , method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      <% end %>
                  <% else %>
                    <li class="list-style-disc">--- /--- /---  <%= t.day %> <%= t.time.strftime("%l:%M %P") %> <%= t.frequency %>
                      <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
                         - <%= link_to 'Delete', t, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      <% end %>
                  <% end %>
                <% end %>
              </ul>
              <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
                <a class="modal-trigger" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
              <% end %>
            </p>
          <% else %><!-- else if opportunity time is not present -->
            <p>No specific dates, days and time setup yet.</p>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
              <a class="modal-trigger" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
            <% end %>
          <% end %>

          <!-- Modal Trigger -->

          <!-- Modal Structure -->
          <div id="opportunity_schedule" class="modal">
            <div class="modal-content">
              <%= render 'time_form'%>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close Without Saving</a>
            </div>
          </div>

          <% if @opportunity.school_years.present? %>
            <p>
              <br>Participants School Year level(s):
              <ol>
                <% @opportunity.school_years.each do |level| %>
                  <li><%= level.name %></li>
                <% end %>
              </ol>
            </p>
          <% end %>
          <% if current_user.id == @opportunity.user_id %>
            <p>Your organisation currently holds: <strong><%= @organisation.number_of_tokens %> <%= (@organisation.number_of_tokens > 1) ? 'tokens' : 'token' %></strong></p>
            <p>Number of candidates required: <strong><%= @opportunity.number_of_candidates %> <%= (@opportunity.number_of_candidates > 1) ? 'candidates' : 'candidate' %></strong></p>
            <% if @organisation.number_of_tokens > 0 %>
              <%= link_to 'Add 1 Candidate', increase_one_candidate_into_opportunity_path(org_id: @organisation.id), class: 'btn' %>
            <% else %>
              <p>Not enough token held by organisation.</p>
            <% end %>
            <% if @opportunity.number_of_candidates > 0 %>
              <%= link_to 'Less 1 Candidate', decrese_one_candidate_from_opportunity_path(org_id: @organisation.id), class: 'btn' %>
            <% end %>
          <% end %>
          <p><br>Skills Required of the MOBEEAS Candidate:</p>
          <p>
            <% if @opportunity.skills.present? %>
              <ol>
                <% @opportunity.skills.each do |skill| %>
                  <li><%= skill.name %> (<%= skill.skill_category.name %>)</li>
                <% end %>
              </ol>
              <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
                <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id)%>
              <% end %>
            <% else %>
              No skills is currently listed
              <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
                <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id)%>
              <% end %>
              <br>
            <% end %>
          </p><br>

          <p>Other advantageous experiences:
            <%= @opportunity.experiences %>
          </p><br>

          <p>Is this a paid Engagement?
            <% if @opportunity.paid_engagement %>
              <p>Yes, paid engagement.</p>
            <% else %>
              <p>No, Not paid engagement.</p>
            <% end %>
          </p><br>

          <p>Hourly rate:
            <%= @opportunity.pay %>
          </p><br>

          <p>Remuneration or specific terms of employment:
            <%= @opportunity.employment_terms %>
          </p><br>

          <!-- only the opportunity owner can edit the opportunity details and status -->
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
            <%= link_to 'Edit This Opportunity', edit_opportunity_path(@opportunity), class: 'btn' %>
            <%= simple_form_for(@opportunity) do |f| %>
              <%= f.error_notification %>
              <!-- for the template -->
              <!-- <div class="form-inputs">
                  <%#= f.input :opportunity_status, label: "Update Opportunity Status:", collection: ["draft", "listed" , "completed"], as: :radio_buttons %>
              </div> -->
              <p>
                <input class="with-gap" type="radio" value="draft" name="opportunity[opportunity_status]" id="opportunity_opportunity_status_draft" <%= (@opportunity.opportunity_status == 'draft') ? 'checked' : '' %> /><label for="opportunity_opportunity_status_draft">draft</label>
                <input class="with-gap" type="radio" value="listed" name="opportunity[opportunity_status]" id="opportunity_opportunity_status_listed" <%= (@opportunity.opportunity_status == 'listed') ? 'checked' : '' %> /><label for="opportunity_opportunity_status_listed">listed</label>
                <input class="with-gap" type="radio" value="completed" name="opportunity[opportunity_status]" id="opportunity_opportunity_status_completed" <%= (@opportunity.opportunity_status == 'completed') ? 'checked' : '' %> /><label for="opportunity_opportunity_status_completed">completed</label>
              </p>

              <div class="form-actions">
                <%= f.button :submit, "Update Status" %>
              </div>
            <% end %>
            <input type="hidden" name="opportunity[opportunity_status]" value"" />
          <% end %><!-- end of if current user is the opportunity owner -->
        </div><!-- end of card-content -->
      </div><!-- end of card -->
    </div> <!-- end of col m6 offset-m2-->


    <div class="col m5">
      <div class="card">
        <div class="card-content">

          <% hash = {} %>
          <% users = [] %>
          <p>Candidates with matching and verified skills:</p>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% hash[opportunity_skill.skill.name] = [] %> <!-- create a hash of array, key is skill name, value is user id -->
            <% @candidate_skills.each do |candidate_skill| %>
              <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified) %>
                <% hash[opportunity_skill.skill.name] << candidate_skill.user_id %>
                <% if !(users.include?(candidate_skill.user_id))%><!-- only add a unique user id -->
                  <% users << candidate_skill.user_id %>
                <% end %>
              <% end %>
            <% end %><!-- end of candidate skill loop -->
          <% end %><!-- end of opportunity loop -->
          <%#= hash %><!-- print hash , e.g. hash['dance'] = {3, 10}-->

          <% hash1 = {} %>
          <% users.sort.each do |user| %><!-- print users -->
            <% hash1[user] = []%>
            <% hash.each_pair do |key, value| %><!-- reversing hash[] into hash1[] -->
              <% if hash[key].include?(user) %><!-- hash1 is the reverse of hash, i.e. key is user id, value is skill name -->
                  <% hash1[user] << key %>
              <% end %>
            <% end %>
          <% end %>
          <%#= hash1 %><!-- print hash1, e.g. hash1[3] = ['dance', 'drama'] -->
          <% if hash1.empty? %>
            <p>No matching candidate</p>
          <% else %>
            <% hash1.each_pair do |key, value| %> <!-- key is user id, value is skill name -->
              <% @candidate = Profile.find_by(user_id: key)%>
              <br><strong><%= @candidate.name %></strong> (Profile ID: <%= @candidate.id %>) -
              <% @found = true %><!-- start with found is true -->
              <% value.each do |val| %>
                <%= val %>
              <% end %>
              <br>
              <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
                <!-- @found is false when ALL OF the opportunity skills are not matching with of the candidate's skills -->
                <% if !(hash1[key].include?(opportunity_skill.skill.name)) %>
                  <% @found = false %> <!-- if an opportunity skill is not matching, @found become false -->
                <% end %>
              <% end %><!-- end of opportunity loop -->
              <% if @found == true %><!-- when all opportunity skills are matching with cand. skills, then found value stays true. -->
                Exact match<br>
              <% else %>
                Close match<br>
              <% end %>
              <%= render 'engagement_links' %>
            <% end %><!-- end of hash1 loop -->
          <% end %><!-- end of if hash1.empty? -->
          <br>
          <% if @counter > 0 %>
            <p>Number of acceptance: <%= pluralize(@counter, 'candidate')%></p>
          <% end %>
          <p>Display all candidate link for Admin and Host? </p>
          <%#= link_to 'View all candidates', profiles_path %>
        </div><!-- end of card-content -->
      </div><!-- end of card -->
    </div><!-- end of col m2 -->
  </div><!-- end of row -->
