<%# SPONSORSHIP ===========================================%>
<div class="row">
  <div class="col m11 offset-m1">
    <div class="card">
      <div class="card-content">
        <% if (current_user.has_role? :host) || (current_user.has_role? :candidate) || (current_user.has_role? :admin) %>
          <p>Proudly sponsored by: </p>
        <% elsif current_user.has_role? :sponsor %>
          <p>Would you like to sponsor this opportunity? You can express your interest to the MOBEEAS Admin. Yes, I am interested.</p>
        <% end %>
      </div>
    </div><%# end of card-content %>
  </div><%# end of card %>
</div>


<%# OPPORTUNITY ===========================================%>
<div class="row">
  <div class="col l11 offset-l1">
    <% @organisation = Organisation.find(@opportunity.organisation) %>
    <h5 class="align-center">Opportunity for <%= @organisation.name %></h5>
  </div>
</div>

<div class="row">
  <div class="col l6 offset-l1">

<%# ORGANISATION NAME AND LOGO ===========================================%>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-building-o"></i> Organisation</span>
        <%= render 'layouts/sidebar' %>
        <p id="notice"><%= notice %></p>
        <div class="row">
          <div class="col l2">
            <div class="card-image waves-effect waves-block waves-light">
              <% if @organisation.logo.present? %>
                <%= image_tag(@organisation.logo_url, class: 'img-responsive activator' ) %>
              <% else %>
                <%= cl_image_tag("noPhoto-icon.png", class: 'img-responsive activator' ) %>
              <% end %>
            </div>
          </div>
          <div class="col l6">
            <h5><strong><%= @organisation.name %></strong></h5>
          </div>
        </div><%# end of row %>
          <% @host = User.find(@opportunity.user_id) %>
          <p>
            Hosted by: <strong><%= @host.org_user_profile.name %></strong>
            <%# Do not display 'contact host' while the owner of this opportunity is viewing my own opportunity %>
            <% if !(@host.id == current_user.id) && !(@opportunity.archived) %>
               - <%= link_to 'Contact ' + @host.org_user_profile.first_name, new_message_path(from: current_user.id, to: @host.id, opportunity_id: @opportunity.id) %>
            <% end %>
          </p>

      </div><%# end of card-content %>
    </div><%# end of card %>

    <%# OPPORTUNITY TITLE & DESCRIPTION ===========================================%>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-list"></i> Title:</span>
        <h5><%= @opportunity.title %></h5>
        <br>
        <span class="card-title blue-text"><i class="fa fa-list"></i> Description:</span>
        <h5><%= @opportunity.description %></h5>
        <br>
        <div class="col l1 offset-l11">
          <%= link_to edit_opportunity_path(@opportunity.id, object: 'title') do %><i class="fa fa-pencil-square-o"></i><% end %>
        </div>
      </div>
    </div>


    <%# SCHOOL YEAR LEVEL AND THE NUMBER OF STUDENTS REQUIRED =========================================== %>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-users"></i> School Students Involved</span>
        <p>Please let us know how many students will be involved in this opportunity and their year/stage:</p>
        <br>
        <% if @opportunity.school_years.present? %>
          <p>
            Participants School Year level(s):
            <ol>
              <% @opportunity.opportunity_school_years.each do |opportunity_school_year| %>
                <li>
                  <%= opportunity_school_year.school_year.name %> (number of students: <%= (opportunity_school_year.number_of_students > 0)? opportunity_school_year.number_of_students : 0 %>)

                  <%# The school year level can be edited if :
                      1. viewed by opportunity owner
                      2. if the opportunity is not archived.
                      3. if the opportunity is not closed.%>
                  <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %><br>
                    <%= link_to 'Edit', edit_opportunity_school_year_path(opportunity_school_year, opportunity_id: @opportunity.id), class: 'btn' %>
                    <%= link_to 'Delete', opportunity_school_year_path(opportunity_school_year, opportunity_id: @opportunity.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
                  <% end %>
                </li>
              <% end %>
            </ol>
            <br>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
              <%= link_to 'Add School Level', new_opportunity_school_year_path(opportunity_id: @opportunity.id), class: 'btn' %>
            <% end %>
          </p>
        <% else %>
          <p>The school year level is not listed.
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
            Please click the Add button below to list them.</p>
            <%= link_to 'Add', new_opportunity_school_year_path(opportunity_id: @opportunity.id), class: 'btn'%>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# OPPORTUNITY DATES, DAYS AND TIMES ===========================================%>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-calendar"></i> Dates, Days and Times</span>
        <p>When would you like this collaborative learning experience to happen?</p>
        <%# something to display the start time and end time here %>
        <br>
        <% if @opportunity.opportunity_times.present? %>
          <p>Required activity dates, days and times:
            <ul class="list-style-disc">
              <% @opportunity.opportunity_times.each do |opportunity_time|%>
                <% if opportunity_time.date_time.present? %>
                  <li class="list-style-disc"><%= opportunity_time.date_time.strftime("%d/%m/%y %A") %> <%= opportunity_time.time %><%#= opportunity_time.time.strftime("%l:%M %P") %>
                    <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                    <br>
                      <%= link_to 'Delete',opportunity_time , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></li>
                    <% end %>
                <% else %>
                  <% if opportunity_time.time.present? %>
                    <%#<li class="list-style-disc">--- /--- /---  %><%#= opportunity_time.day %> <%#= opportunity_time.time.strftime("%l:%M %P") %> <%#= opportunity_time.frequency %>
                    <li class="list-style-disc">--- /--- /---  <%= opportunity_time.day %> <%= opportunity_time.time %> <%= opportunity_time.frequency %>

                    <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
                    <br>
                      <%= link_to 'Delete',opportunity_time , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></li>
                    <% end %>
                  <% end %>
                <% end %>
                <br>
              <% end %>
            </ul>
            <br>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <a class="modal-trigger btn" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
            <% end %>
          </p>
        <% else %><%# else if opportunity time is not present %>
          <p>No specific dates, days and time setup yet.</p>
          <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived)%>
            <%# Modal Trigger %>
            <a class="modal-trigger btn" href="#opportunity_schedule">Add Opportunity Dates and Times</a>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Modal Structure ===========================================%>
    <div id="opportunity_schedule" class="modal">
      <div class="modal-content">
        <%= render 'time_form'%>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close Without Saving</a>
      </div>
    </div>

    <%# CANDIDATE SKILLS =========================================== %>
    <div class="card" style="margin-left: none;">
      <div class="card-content">

        <span class="card-title blue-text"><i class="fa fa-sliders"></i> Candidate Skills</span>
        <p>What skills would you like your collaborative learning candidate to have?</p>
        <p>
          <% if (@opportunity.skills.any?) %>
            <ol>
              <% @opportunity.skills.each do |skill| %>
                <li><%= skill.name %> (<%= skill.skill_category.name %>)</li>
              <% end %>
            </ol>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id), class: 'btn' %>
            <% end %>
          <% else %>
            No skills is currently listed
            <br>
            <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
              <%= link_to "Add/Remove Skills", required_skills_path(oppo_id: @opportunity.id), class: 'btn' %>
            <% end %>
            <br>
          <% end %>
        </p>
      </div>
    </div>

    <%# REMUNERATION =========================================== %>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-usd"></i> Remuneration</span>
        <p>Is this a paid Engagement?
          <% if @opportunity.paid_engagement %>
            <p><strong>Yes, paid engagement.</strong></p>
            Edit engagement here...
          <% else %>
            <p><strong>No, Not paid engagement.</strong></p>
            Edit engagement here...
          <% end %>
        </p><br>

        <p>Hourly rate:
          <% if @opportunity.pay.present? %>
            <strong><%= @opportunity.pay %></strong><br>
            Edit 'Hourly rate'
          <% else %>
            Hourly rate not present<br>
            Edit 'Hourly rate'
          <% end %>
        </p><br>

        <p>Any specific terms or conditions of employment?
          <strong><%= @opportunity.employment_terms %></strong>
        </p><br>
      </div>
    </div>


    <%# OPPORTUNITY STATUS ===========================================%>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-puzzle-piece"></i> Other Requirements</span>
      ￼￼  <h5>Anything else candidate might like to know about this Opportunity?</h5>
        <p>Please describe any other requirements you have of potential candidates here:</p>
        <% if  @opportunity.experiences %>
          <strong><%= @opportunity.experiences %></strong>
        <% else %>
          <p>Not present</p>
          Edit 'advantageous experiences'
        <% end %>
      </div>
    </div>


    <%# TOKENS ALLOCATIONS ===========================================%>
    <div class="card" style="margin-left: none;">
      <div class="card-content">
        <span class="card-title blue-text"><i class="fa fa-certificate"></i> Tokens</span>
        <h5>Allocate Tokens so that Candidates can be engaged</h5>
        <p>You will need to allocate one token for each candidate you would like to engage in this collaborative learning experience.</p>

        <%# only opportunity owner can add/remove candidates and tokens %>
        <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) %>
          <p><br><%= @organisation.name%> currently holds: <strong><%= @organisation.number_of_tokens %> <%= (@organisation.number_of_tokens > 1) ? 'tokens' : 'token' %></strong></p>
          <p>This opportunity currently holds: <strong><%= @opportunity.number_of_tokens %> <%= (@opportunity.number_of_tokens > 1) ? 'tokens' : 'token' %></strong></p>
          <% if (@organisation.number_of_tokens > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
            <p><%= link_to 'Transfer 1 Token into this Opportunity', increase_one_token_into_opportunity_path(org_id: @organisation.id), class: 'btn' %></p>
          <% else %>
            <p>Not enough token held by organisation.</p>
            ======
          <% end %>

          <% if (@opportunity.number_of_tokens > 0) && !(@opportunity.opportunity_status == 'post_active') && !(@opportunity.archived) %>
            <p><br><%= link_to 'Remove 1 Token from this Opportunity', decrease_one_token_from_opportunity_path(org_id: @organisation.id), class: 'btn' %></p>
          <% end %>
        <% end %>
        <br>
      </div>
    </div>



  <%# OPPORTUNITY STATUS ===========================================%>
  <div class="card" style="margin-left: none;">
    <div class="card-content">
      <%# only the opportunity owner can edit the opportunity status %>
      <span class="card-title blue-text"><i class="fa fa-play"></i> Opportunity Status</span>
      <p>
        <%# If opportunity has been archived %>
        <% if (@opportunity.archived) %>
          Current Opportunity Status: <span class="purple-text"><strong>archived</strong></span>
        <% else %>
          <% if @opportunity.opportunity_status == 'active' %>
            Current Opportunity Status: <span class="red-text"><strong><%= @opportunity.opportunity_status %></strong></span>
          <% elsif @opportunity.opportunity_status == 'post_active' %>
            Current Opportunity Status: <strong>completed</strong>
            <%# Note: when the opportunity status is post_active, the word to display is 'completed' %>
          <% else %>
            Current Opportunity Status: <strong><%= @opportunity.opportunity_status %></strong>
          <% end %>
        <% end %>
        <br>
        <p>Please LIST this opportunity once tokens have been allocated and you are ready to proceed.</p>

      <%# The listing status can be edited if :
          1. viewed by opportunity owner
          2. if the opportunity is not archived.
          3. if the opportunity is not closed.%>
      <% if (current_user.has_role? :host) && (current_user.id == @opportunity.user_id) && !(@opportunity.archived) && !(@opportunity.opportunity_status == 'closed') %>
        <% if @opportunity.opportunity_status == 'draft' %>
          <%= link_to "List", status_listed_opportunity_path(@opportunity), class: 'btn' %>
          <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
        <% elsif @opportunity.opportunity_status == 'listed' %>
          <%= link_to "Draft", status_draft_opportunity_path(@opportunity), class: 'btn' %>
          <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
        <% elsif @opportunity.opportunity_status == 'active' %>
          <%= link_to "Completed", post_active_opportunity_path(@opportunity), data: {confirm: "Are you sure you want to complete this opportunity? Changes will be permanent."}, class: 'btn' %>
        <% elsif @opportunity.opportunity_status == 'post_active' %>
          <%= link_to "Archive", status_archived_opportunity_path(@opportunity), class: 'btn' %>
        <% end %>
      <% end %>
      </p>
    </div>
  </div>

</div> <%# end of col m6 offset-m2%>


  <%# The right side of Opportunity Page ===========================================%>
  <div class="col m5">
    <div class="card">
      <div class="card-content">
        <% if @opportunity.opportunity_status == 'draft' %>
          <p>Candidates with suitable skills will be displayed once you LIST this opportunity.</p>
        <% else %>
          <% hash = {} %>
          <% users = [] %>
          <p>Candidates with matching and verified skills:</p>
          <%# Remember: Hash[key]=value %>
          <%# We want to build this Hash:
              hash[key] = the user_id
              hash[value] = the array of [skill_category, skill] %>
          <%# First, set the hash keys with all matching candidates' user_id %>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% @candidate_skills.each do |candidate_skill| %>
              <%# Only these candidates will be included in the sorting result:
                1. candidates that has the matching skill id and
                2. his skill has been verified and
                3. his profile has been approved by admin
              %>
              <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified)  && (candidate_skill.user.profile.approved) %>
              <%#= (candidate_skill.user.profile.name) %>
              <%#= (candidate_skill.user.profile.approved) %>
                  <% hash[candidate_skill.user_id] = [] %> <%# create a hash of array, key is skill name, value is user id %>
              <% end %>
            <% end %><%# end of candidate skill loop %>
          <% end %><%# end of opportunity loop %>

          <%# Second, fill the hash value with array of skill_set according to the user_id already in the hash key %>
          <% @opportunity.opportunity_skills.each do |opportunity_skill| %>
            <% @candidate_skills.each do |candidate_skill| %>
              <%# Only these candidates will be included in the sorting result:
                1. candidates that has the matching skill id and
                2. his skill has been verified and
                3. his profile has been approved by admin
              %>
              <% if (candidate_skill.skill_id == opportunity_skill.skill.id) && (candidate_skill.verified)  && (candidate_skill.user.profile.approved) %>
                <% hash[candidate_skill.user_id] << [candidate_skill.skill.skill_category.name, candidate_skill.skill.name] %>
              <% end %>
            <% end %><%# end of @candidate_skills loop %>
          <% end %>
          <%#= hash %><%# print hash %>
          <%# At this line the Hash has been built and filled  with this type:
            hash[key] = the user_id
            hash[value] = the array of [skill_category, skill] %>
          <%# e.g. {2=>[["Digital Technologies", "Robotics"], ["Design & Technology", "3D Printing"], ["English", "Secondary-Extension 1"], ["Mathematics", "Secondary-Extension 1"]] %>

          <% if hash.empty? %>
            <p>No matching candidate</p>
          <% else %>
            <% hash.each_pair do |key, value| %> <%# key is user id, value is skill name %>
              <% @profile = Profile.find_by(user_id: key)%>
                <%# The Candidate who logged in and view an opportunity will be able to see his own name and details in opportunity.
                He won't be able to see other candidates listed in the same opportunity  %>
                <% if (current_user.has_role? :candidate) %>
                  <% if (current_user.profile.id == @profile.id ) %>
                    <br><strong><%= current_user.profile.name %></strong> (Profile ID: <%= current_user.profile.id %>)
                    <% value.each do |val| %>
                      <br><%= val[0] %> - <%= val[1] %>
                    <% end %>
                    <p>Location: <%= @profile.suburb %>, <%= @profile.state %></p>
                    <% @profile.user.security_checks.each do |security_check| %>
                      <%= security_check.name %>
                      <% if security_check.verified %>
                        <span class="green-text"><i class="fa fa-check-circle"></i></span>
                      <% else %>
                        <span class="red-text"><i class="fa fa-times"></i></span>
                      <% end %>
                      <br>
                    <% end %><%# end of @profile.user.security_checks loop %>
                  <% end %><%# end if current_user.profile.id == @profile.id %>
                <%# The user with roles other than candidate can view the details of all candidates in an opportunity %>
                <% else %>
                  <br><strong><%= @profile.name %></strong> (Profile ID: <%= @profile.id %>)
                  <%# @found = false %><%# start with found is true %>
                  <%# counter = 0 %>
                  <% value.each do |val| %>
                    <br><%= val[0] %> - <%= val[1] %>
                  <% end %><%# end of value.each loop %>
                  <p>Location: <%= @profile.suburb %>, <%= @profile.state %></p>
                  <% @profile.user.security_checks.each do |security_check| %>
                    <%= security_check.name %>
                    <% if security_check.verified %>
                      <span class="green-text"><i class="fa fa-check-circle"></i></span>
                    <% else %>
                      <span class="red-text"><i class="fa fa-times"></i></span>
                    <% end %>
                    <br>
                  <% end %><%# end of @profile.user.security_checks loop %>
                <% end %><%# end of if current_user.has_role? :profile %>

              <%= render 'engagement_links' %>
            <% end %><%# end of hash1 loop %>
          <% end %><%# end of if hash1.empty? %>
          <br><br>
          <%# <p>Display all candidate link for Admin and Host? </p> %>
          <%#= link_to 'View all candidates', profiles_path %>
        <% end %><%# end of if the list status is still draft %>
      </div><%# end of card-content %>
    </div><%# end of card %>
  </div><%# end of col m2 %>
</div><%# end of row %>
