<%= simple_form_for(@agreement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :ethics %>
    <%= f.input :code_of_conduct %>
    <%= f.input :candidate_terms %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
