<p id="notice"><%= notice %></p>

<h1>Listing Agreements</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ethics</th>
      <th>Code of conduct</th>
      <th>Terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.user %></td>
        <td><%= agreement.ethics %></td>
        <td><%= agreement.code_of_conduct %></td>
        <td><%= agreement.terms %></td>
        <td><%= link_to 'Show', agreement %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_agreement_path %>
