<h1>Your New Skill Has Been Approved by MOBEEAS Admin.</h1>

<p>
  <% if @user.has_role? :host %>
    Hello <%= @user.org_user_profile.name %>,<br>
    Your skill request has been approved by MOBEEAS admin:<br>
    Skill Name: <%= @skill.name %><br>
    Skill Category: <%= @skill.skill_category.name %><br>
    You will now be able to list this skill when you create a MOBEEAS Opportunity.<br><br>
    Thank you,<br>
    MOBEEAS Team<br>

  <% elsif @user.has_role? :candidate %>
    Hello <%=  @user.profile.name %>,<br>
    Your new skill has been approved by MOBEEAS admin:<br>
    Skill Name: <%= @skill.name %><br>
    Skill Category: <%= @skill.skill_category.name %><br>
    Please open your MOBEEAS profile and you will see that this skill has been added.<br>
    Please make sure you ask a Referee to verify this skill.<br><br>
    Thank you,<br>
    MOBEEAS Team<br>
  <% end %>
</p>
