<h4>Your Request for MOBEEAS Sponsorship has been accepted</h4>

<p>
  Attention: <%= @sponsor.name %>
  <br>
  Organisation: <%= @sponsor.organisation %>
  <br><br>
  Hello <%= @sponsor.first_name %>,
  <br><br>
  Your offer to sponsor this MOBEEAS opportunity has been accepted:
  <br>
  Owner: <%= @opportunity.user.org_user_profile.name %>
  <br>
  Title: <%= @opportunity.title %>
  <br><br>
  You will notice that your organisation logo will appear on the top section of this opportunity.
  <br>
  Thank you for sponsoring this MOBEEAS opportunity.
  <br><br>
  MOBEEAS Team

</p>
