<%= simple_form_for(@education) do |f| %>
  <%= f.error_notification %>
    <%= f.input :institution, label: 'High School/University/College', label_input: { class: 'active'} %>
    <%= f.input :course, label: 'Course/Degree' %>
    <%= f.input :year_completed, label: 'Year completed (past or future)' %>
    <br>
    <div class="row">
      <div class="col s12">
        <%= f.input :achievement %>
        <a href="#modal-achievements" class="modal-trigger"><i class="material-icons">help</i></a>
        <div id="modal-achievements" class="modal">
          <div class="modal-content">
            <p>
              Please upload any evidence of your educational achievements from this institution as a PDF file here.
              Please combine multiple transcripts into a single PDF file per institution.
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>
    </div>

  <% if @education.achievement.present? %>
    <p>Uploaded File:</p>
    <p><%= @education.achievement %></p>
  <% end %>

  <div class="form-actions">
    <% if @education.new_record? %>
      <button type="submit" class="btn light-blue">Add course</button>
    <% else %>
      <button type="submit" class="btn">Update course</button>
    <% end %>
  </div>
<% end %>
