<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @education.user %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @education.institution %>
</p>

<p>
  <strong>Course:</strong>
  <%= @education.course %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @education.achievement %>
</p>


<p>
  <strong>Year completed:</strong>
  <%= @education.year_completed %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
