<h4>A Candidate has accepted your invitation to participate in a MOBEEAS opportunity</h4>

<p>
  Dear <%= @opportunity.user.org_user_profile.name %>,
  <br><br>
  <%= @profile.name %> has accepted your invitation to participate in this Opportunity: <strong><%= @opportunity.title %></strong>.
  <br>
  Please contact <%= @profile.first_name %> using the email address <%= @profile.user.email %> at your earliest convenience.
  <br>
  Click on this <%= link_to "Opportunity Link", opportunity_url(@opportunity) %> to view this Opportunity details.
  <br><br>
  Thank you
  <br><br>
  MOBEEAS Team
</p>
