<%= simple_form_for(@report) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
<%= f.association :opportunity, :as => :hidden, input_html: { value: @opportunity.id } %>
<%# the engagement id value should be entered only in the new @report creation only
    do not remove the line "if @report.new_record?" to wrap around the "f.association :engagement"
    or else the @report.engagement_id will be overriden to nil and you can not click the "View Reports Index" button
    in the show page.
%>
<% if @report.new_record? %>
  <%= f.association :engagement, as: :hidden, input_html: { value: params[:engagement_id] } %>
<% end %>
<% if params[:report_type] == 'progress' %>
  <%= f.input :report_type, :as => :hidden, input_html: { value: "progress" } %>
<% elsif params[:report_type] == 'completion' %>
  <%= f.input :report_type, :as => :hidden, input_html: { value: "completion" } %>
<% end %>

<div class="row">
  <div class="col l6">
    <p>Engagement Start Date:</p>
    <%= f.date_field :engagement_start_date, as: :string, input_html: { class: 'datetimepicker', :format => "%d/%m/%Y  %I:%m %p"} %>
  </div>
  <div class="col l6">
    <p>Engagement End Date:</p>
    <%= f.date_field :engagement_end_date, as: :string, input_html: { class: 'datetimepicker', :format => "%d/%m/%Y  %I:%m %p"} %>
  </div>
</div>

<p>
  Please tick the appropriate standard achieved (CC) Causing Concern, (W) Working towards, (A) Achieved or (GB) Going Beyond
</p>
<br>
<%# Keep these as the template for relevant_knowledge %>
<%#= f.input :relevant_knowledge, collection: [ "CC", "W", "A", "GB"], as: :radio_buttons %>
<div class="row">
  <div class="input radio_buttons optional report_relevant_knowledge">
    <div class="col l2">
      <label class="radio_buttons optional">Relevant knowledge</label>
    </div>
    <% if @report.new_record? %><%# if this is a new record, then all the radio buttons should be all blank, not selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[relevant_knowledge]" id="report_relevant_knowledge_cc" /><label for="report_relevant_knowledge_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[relevant_knowledge]" id="report_relevant_knowledge_w" /><label for="report_relevant_knowledge_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[relevant_knowledge]" id="report_relevant_knowledge_a" /><label for="report_relevant_knowledge_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[relevant_knowledge]" id="report_relevant_knowledge_gb" /><label for="report_relevant_knowledge_gb">GB</label>
      </div>
    <% else %><%# if you are editing, some radio buttons might have already been selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[relevant_knowledge]" id="report_relevant_knowledge_cc" <%= @report.relevant_knowledge.include?('CC') ? 'checked' : '' %>/><label for="report_relevant_knowledge_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[relevant_knowledge]" id="report_relevant_knowledge_w" <%= @report.relevant_knowledge.include?('W') ? 'checked' : '' %>/><label for="report_relevant_knowledge_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[relevant_knowledge]" id="report_relevant_knowledge_a" <%= @report.relevant_knowledge.include?('A') ? 'checked' : '' %>/><label for="report_relevant_knowledge_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[relevant_knowledge]" id="report_relevant_knowledge_gb" <%= @report.relevant_knowledge.include?('GB') ? 'checked' : '' %>/><label for="report_relevant_knowledge_gb">GB</label>
      </div>
    <% end %>
  </div>
</div>
<%= f.input :relevant_knowledge_comment, input_html: { maxlength: 100 } %>
<br><br><br>
<%# Keep these as the template for punctual %>
<%#= f.input :punctual, collection: [ "CC", "W", "A", "GB"], as: :radio_buttons %>

<div class="row">
  <div class="input radio_buttons optional report_punctual">
    <div class="col l2">
      <label class="radio_buttons optional">Punctual</label>
    </div>
    <% if @report.new_record? %><%# if this is a new record, then all the radio buttons should be all blank, not selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[punctual]" id="report_punctual_cc" /><label for="report_punctual_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[punctual]" id="report_punctual_w" /><label for="report_punctual_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[punctual]" id="report_punctual_a" /><label for="report_punctual_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[punctual]" id="report_punctual_gb" /><label for="report_punctual_gb">GB</label>
      </div>
    <% else %><%# if you are editing, some radio buttons might have already been selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[punctual]" id="report_punctual_cc" <%= @report.punctual.include?('CC') ? 'checked' : '' %>/><label for="report_punctual_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[punctual]" id="report_punctual_w" <%= @report.punctual.include?('W') ? 'checked' : '' %>/><label for="report_punctual_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[punctual]" id="report_punctual_a" <%= @report.punctual.include?('A') ? 'checked' : '' %>/><label for="report_punctual_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[punctual]" id="report_punctual_gb" <%= @report.punctual.include?('GB') ? 'checked' : '' %>/><label for="report_punctual_gb">GB</label>
      </div>
    <% end %>
  </div>
</div>
<%= f.input :punctual_comment, input_html: { maxlength: 100 } %>
<br><br><br>

<%# Keep these as the template for communication %>
<%#= f.input :communication, collection: [ "CC", "W", "A", "GB"], as: :radio_buttons %>
<div class="row">
  <div class="input radio_buttons optional report_communication">
    <div class="col l2">
      <label class="radio_buttons optional">Communication</label>
    </div>
    <% if @report.new_record? %><%# if this is a new record, then all the radio buttons should be all blank, not selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[communication]" id="report_communication_cc" /><label for="report_communication_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[communication]" id="report_communication_w" /><label for="report_communication_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[communication]" id="report_communication_a" /><label for="report_communication_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[communication]" id="report_communication_gb" /><label for="report_communication_gb">GB</label>
      </div>
    <% else %><%# if you are editing, some radio buttons might have already been selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[communication]" id="report_communication_cc" <%= @report.communication.include?('CC') ? 'checked' : '' %>/><label for="report_communication_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[communication]" id="report_communication_w" <%= @report.communication.include?('W') ? 'checked' : '' %>/><label for="report_communication_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[communication]" id="report_communication_a" <%= @report.communication.include?('A') ? 'checked' : '' %>/><label for="report_communication_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[communication]" id="report_communication_gb" <%= @report.communication.include?('GB') ? 'checked' : '' %>/><label for="report_communication_gb">GB</label>
      </div>
    <% end %>
  </div>
</div>
<%= f.input :communication_comment, input_html: { maxlength: 100 } %>
<br><br><br>

<%# Keep these as the template for enthusiasm %>
<%#= f.input :enthusiasm, collection: [ "CC", "W", "A", "GB"], as: :radio_buttons %>
<div class="row">
  <div class="input radio_buttons optional report_enthusiasm">
    <div class="col l2">
      <label class="radio_buttons optional">Enthusiasm</label>
    </div>
    <% if @report.new_record? %><%# if this is a new record, then all the radio buttons should be all blank, not selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[enthusiasm]" id="report_enthusiasm_cc" /><label for="report_enthusiasm_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[enthusiasm]" id="report_enthusiasm_w" /><label for="report_enthusiasm_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[enthusiasm]" id="report_enthusiasm_a" /><label for="report_enthusiasm_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[enthusiasm]" id="report_enthusiasm_gb" /><label for="report_enthusiasm_gb">GB</label>
      </div>
    <% else %><%# if you are editing, some radio buttons might have already been selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[enthusiasm]" id="report_enthusiasm_cc" <%= @report.enthusiasm.include?('CC') ? 'checked' : '' %>/><label for="report_enthusiasm_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[enthusiasm]" id="report_enthusiasm_w" <%= @report.enthusiasm.include?('W') ? 'checked' : '' %>/><label for="report_enthusiasm_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[enthusiasm]" id="report_enthusiasm_a" <%= @report.enthusiasm.include?('A') ? 'checked' : '' %>/><label for="report_enthusiasm_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[enthusiasm]" id="report_enthusiasm_gb" <%= @report.enthusiasm.include?('GB') ? 'checked' : '' %>/><label for="report_enthusiasm_gb">GB</label>
      </div>
    <% end %>
  </div>
</div>
<%= f.input :enthusiasm_comment, input_html: { maxlength: 100 } %>
<br><br><br>

<%# Keep these as the template for professionalism %>
<%#= f.input :professionalism, collection: [ "CC", "W", "A", "GB"], as: :radio_buttons %>
<div class="row">
  <div class="input radio_buttons optional report_professionalism">
    <div class="col l2">
      <label class="radio_buttons optional">Professionalism</label>
    </div>
    <% if @report.new_record? %><%# if this is a new record, then all the radio buttons should be all blank, not selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[professionalism]" id="report_professionalism_cc" /><label for="report_professionalism_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[professionalism]" id="report_professionalism_w" /><label for="report_professionalism_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[professionalism]" id="report_professionalism_a" /><label for="report_professionalism_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[professionalism]" id="report_professionalism_gb" /><label for="report_professionalism_gb">GB</label>
      </div>
    <% else %><%# if you are editing, some radio buttons might have already been selected %>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="CC" name="report[professionalism]" id="report_professionalism_cc" <%= @report.professionalism.include?('CC') ? 'checked' : '' %>/><label for="report_professionalism_cc">CC</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="W" name="report[professionalism]" id="report_professionalism_w" <%= @report.professionalism.include?('W') ? 'checked' : '' %>/><label for="report_professionalism_w">W</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="A" name="report[professionalism]" id="report_professionalism_a" <%= @report.professionalism.include?('A') ? 'checked' : '' %>/><label for="report_professionalism_a">A</label>
      </div>
      <div class="col l2">
        <input class="radio_buttons optional with-gap" type="radio" value="GB" name="report[professionalism]" id="report_professionalism_gb" <%= @report.professionalism.include?('GB') ? 'checked' : '' %>/><label for="report_professionalism_gb">GB</label>
      </div>
    <% end %>
  </div>
</div>
<%= f.input :professionalism_comment, input_html: { maxlength: 100 } %>
<br><br><br>

<%= hidden_field_tag(:report_type, params[:report_type]) %>
<%= hidden_field_tag(:engagement_id, params[:engagement_id]) %>

<%= f.input :strength, label: 'Strength:', input_html: { maxlength: 200 } %>
<%= f.input :further_dev, label: 'Further Development:', input_html: { maxlength: 200 } %>
<%= f.input :general_comments, label: 'General Comments:', input_html: { maxlength: 200 } %>

<%= f.input :profile_id, :as => :hidden, input_html: { value: @profile.id }  %>

</div>
<br>
<div class="form-actions">
<%= f.button :submit %>
</div>
<% end %>
