<% if @report.id.present? %>
  <div class="row">
    <div class="col l3">
      Report ID:
    </div>
    <div class="col l8">
      <%= @report.id %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col l3">
    Opportunity ID and Title:
  </div>
  <div class="col l8">
    <%= @opportunity.id %> - <%= @opportunity.title %>
  </div>
</div>

<% if @opportunity.organisation_id.present? %>
  <div class="row">
    <div class="col l3">
      Host Organisation:
    </div>
    <div class="col l8">
      <%= @opportunity.organisation.name %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col l3">
    Host’s Name:
  </div>
  <div class="col l8">
    <%= @opportunity.user.org_user_profile.name %>
  </div>
</div>

<div class="row">
  <div class="col l3">
    Host’s Email:
  </div>
  <div class="col l8">
    <%= @opportunity.user.email %>
  </div>
</div>

<div class="row">
  <div class="col l3">
    Host’s Phone:
  </div>
  <div class="col l8">
    <%= @opportunity.user.org_user_profile.phone %>
  </div>
</div>

<div class="row">
  <div class="col l3">
    Candidate’s Name:
  </div>
  <div class="col l8">
    <%= @profile.name %>
  </div>
</div>

<% if @report.engagement_start_date.present? %>
  <div class="row">
    <div class="col l3">
      Engagement Start Date:
    </div>
    <div class="col l8">
      <%= @report.engagement_start_date.getlocal.strftime('%e %B %Y ') %>
    </div>
  </div>
<% end %>

<% if @report.engagement_end_date.present? %>
  <div class="row">
    <div class="col l3">
      Engagement End Date:
    </div>
    <div class="col l8">
      <%= @report.engagement_end_date.getlocal.strftime('%e %B %Y ') %>
    </div>
  </div>
<% end %>

<% if @report.updated_at.present? %>
  <div class="row">
    <div class="col l3">
      Report Date:
    </div>
    <div class="col l8">
      <%= @report.updated_at.getlocal.strftime('%e %B %Y ') %>
    </div>
  </div>
<% end %>

<br><br>
