<p id="notice"><%= notice %></p>

<% if @report.report_type == 'progress' %>
  <h4>Progress Report</h4>
<% elsif @report.report_type == 'completion' %>
  <h4>Completion Report</h4>
<% end %>

<%= render 'report_header'%>
/////<%= @report.progress_report_id %>
<div class="row">
  <p>
    <strong>
      <div class="col l3">Performance Descriptor</div>
      <div class="col l1">CC</div>
      <div class="col l1">W</div>
      <div class="col l1">A</div>
      <div class="col l1">GB</div>
      <div class="col l5">Comment</div>
    </strong>
  </p>
</div>



<div class="row">
  <p class="border-bottom">
    <div class="col l3">Relevant Knowledge</div>
    <div class="col l1">
      <% if @report.relevant_knowledge.include?('CC') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p><!-- must leave at least a space to claim its spot in the grid -->
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.relevant_knowledge.include?('W') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.relevant_knowledge.include?('A') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.relevant_knowledge.include?('GB') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l5"><%= @report.relevant_knowledge_comment %></div>
  </p>
</div>


<div class="row">
  <p class="border-bottom">
    <div class="col l3">Punctual</div>
    <div class="col l1">
      <% if @report.punctual.include?('CC') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p><!-- must leave at least a space to claim its spot in the grid -->
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.punctual.include?('W') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.punctual.include?('A') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.punctual.include?('GB') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l5"><%= @report.punctual_comment %></div>
  </p>
</div>

<div class="row">
  <p class="border-bottom">
    <div class="col l3">Communication</div>
    <div class="col l1">
      <% if @report.communication.include?('CC') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p><!-- must leave at least a space to claim its spot in the grid -->
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.communication.include?('W') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.communication.include?('A') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.communication.include?('GB') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l5"><%= @report.communication_comment %></div>
  </p>
</div>

<div class="row">
  <p class="border-bottom">
    <div class="col l3">Enthusiasm</div>
    <div class="col l1">
      <% if @report.enthusiasm.include?('CC') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p><!-- must leave at least a space to claim its spot in the grid -->
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.enthusiasm.include?('W') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.enthusiasm.include?('A') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.enthusiasm.include?('GB') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l5"><%= @report.enthusiasm_comment %></div>
  </p>
</div>

<div class="row">
  <p class="border-bottom">
    <div class="col l3">Professionalism</div>
    <div class="col l1">
      <% if @report.professionalism.include?('CC') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p><!-- must leave at least a space to claim its spot in the grid -->
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.professionalism.include?('W') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.professionalism.include?('A') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l1">
      <% if @report.professionalism.include?('GB') %>
        <i class="fa fa-check"></i>
      <% else %>
        <p> </p>
      <% end %>
    </div>
    <div class="col l5"><%= @report.professionalism_comment %></div>
  </p>
</div>
<br>
<p>
  <strong>Stength:</strong>
  <%= @report.stength %>
</p>

<p>
  <strong>Further Development:</strong>
  <%= @report.further_dev %>
</p>

<p>
  <strong>General Comments:</strong>
  <%= @report.general_comments %>
</p>

<%= link_to 'Edit', edit_report_path(@report, opportunity_id: @report.opportunity_id, profile_id: @report.profile_id ) %>
