<li class="bold active margin-top-50px no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">

      <a class="collapsible-header">Admin Profile</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'My Profile', admin_page_path %></li>
          <li><%= link_to 'Admin Index', admins_path %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
<li class="bold"><%= link_to 'Hosts', admin_hosts_path %></li>
<li class="bold"><%= link_to 'Candidates', admin_candidates_path %></li>
<li class="bold"><%= link_to 'Organisations', organisations_path %></li>
<li class="bold no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">
      <a class="collapsible-header">Sponsors</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'EOI', expression_of_interests_path(status: "pending") %></li>
          <li><%= link_to 'Sponsored', expression_of_interests_path(status: "approved") %></li>
          <li><%= link_to 'Index', admin_sponsors_path %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>


<li class="bold no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">
      <a class="collapsible-header">Opportunities</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'Draft', opportunities_path(status: 'draft') %></li>
          <li><%= link_to 'Listed', opportunities_path(status: 'listed') %></li>
          <li><%= link_to 'Active', opportunities_path(status: 'active') %></li>
          <li><%= link_to 'Completed', opportunities_path(status: 'post_active') %></li>
          <li><%= link_to 'Archived', opportunities_path(status: 'archived') %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="bold no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">
      <a class="collapsible-header">Organisation Subscr.</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'Active', subscriptions_path(organisation: "active") %></li>
          <li><%= link_to 'Expiring', subscriptions_path(organisation: "expiring") %></li>
          <li><%= link_to 'Expired', subscriptions_path(organisation: "expired") %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="bold no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">
      <a class="collapsible-header">Independent Subscr.</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'Active', subscriptions_path(independent: "active") %></li>
          <li><%= link_to 'Expiring', subscriptions_path(independent: "expiring") %></li>
          <li><%= link_to 'Expired', subscriptions_path(independent: "expired") %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="bold no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class=" margin-top-5px">
      <a class="collapsible-header">Candidate Subscr.</a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to 'Active', subscriptions_path(candidate: "active") %></li>
          <li><%= link_to 'Expiring', subscriptions_path(candidate: "expiring") %></li>
          <li><%= link_to 'Expired', subscriptions_path(candidate: "expired") %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="bold"><%= link_to 'Income', income_path %></li>
<li class="bold"><%= link_to 'Feedback', feedbacks_path %></li>
