<li class="bold active"><%= link_to 'Admin Profile', admin_page_path %></li>
<% if current_user.has_role? :master_admin %>
  <li class="bold"><%= link_to 'Site Administration', site_administration_path %></li>
<% end %>
<li class="bold"><%= link_to 'Hosts', admin_candidates_path %></li>
<li class="bold"><%= link_to 'Candidates', admin_hosts_path %></li>
<li class="bold"><%= link_to 'Sponsors', admin_sponsors_path %></li>
<li class="bold"><%= link_to 'Draft Opportunities', opportunities_path(status: 'draft') %></li>
<li class="bold"><%= link_to 'Listed Opportunities', opportunities_path(status: 'listed') %></li>
<li class="bold"><%= link_to 'Active Opportunities', opportunities_path(status: 'active') %></li>
<li class="bold"><%= link_to 'Completed Opportunities', opportunities_path(status: 'post_active') %></li>
<li class="bold"><%= link_to 'Archived Opportunities', opportunities_path(status: 'archived') %></li>
