<li class="bold active"><%= link_to 'Candidate Profile', candidate_profile_path %></li>
<li class="bold"><%= link_to 'Mailbox', messages_path(my_id: current_user.id) %></li>
<li class="bold"><%= link_to 'Organisations Index', organisations_candidate_path %></li>
<li class="bold"><%= link_to 'Listed Opportunity', opportunities_path %></li>
<li class="bold"><%= link_to 'Active Opportunity', opportunities_path %></li>
<li class="bold"><%= link_to 'Completed Opportunity', opportunities_path %></li>


<!-- VERSION 2
<li class="bold active"><%#= link_to '<i class="medium material-icons left">dashboard</i> Dashboard'.html_safe, root_path %></li>
<li class="bold"><%#= link_to '<i class="medium material-icons left">person</i> Profile'.html_safe, root_path %></li>
<li class="bold"><%#= link_to '<i class="medium material-icons left">label</i> Skills'.html_safe, root_path %></li>
<li><%#= link_to '<i class="medium material-icons left">view_list</i> Engagements'.html_safe, root_path %></li>
<li><%#= link_to '<i class="medium material-icons left">comment</i> Messages'.html_safe, root_path %></li> -->
