<div class="navbar-fixed">

  <!-- Dropdown Structure -->
  <ul id="login-dropdown" class="dropdown-content">
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'Edit Login', edit_user_registration_path %></li>
    <!-- <li><a href="#!">three</a></li> -->
  </ul>

  <nav class="top-nav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo margin-top-15px margin-left-20px"><%= cl_image_tag("MOBEEAS_horiz_RGB.png", class: 'img-responsive', :width=>410, :crop=>:scale) %></a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <%# <li><a href="sass.html"><i class="material-icons left">search</i>Find Opportunities</a></li> %>
        <li><%= link_to root_path do %><i class="material-icons left">home</i> Home<% end %></li>
        <li><a href="/enquiries/new"><i class="material-icons left">group_add</i> Get Involved</a></li>
        <li><a href="/faqs"><i class="material-icons left">help_outline</i> FAQ's</a></li>
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <li><%= link_to admin_page_path do %><i class="material-icons left">account_box</i> Admin<% end %></li>
          <% elsif current_user.has_role? :sponsor %>
            <li><%= link_to sponsor_path(current_user.sponsor) do %><i class="material-icons left">account_box</i> Sponsor<% end %></li>
          <%# elsif current_user.profile and current_user.profile.id != nil %><%# 1st version %>
          <% elsif current_user.profile.present? %>
              <li><%= link_to candidate_profile_path do %><i class="material-icons left">account_circle</i> My Dashboard<% end %></li>
          <% elsif current_user.org_user_profile.present? %>
              <li><%= link_to host_profile_path do %><i class="material-icons left">account_circle</i> My Dashboard<% end %></li>
          <% end %>
          <li>
            <a class="dropdown-button" href="#!" data-activates="login-dropdown">Sign Out<i class="material-icons right">arrow_drop_down</i></a>
          </li><%# see dropdown structure above %>
        <% else %>
          <li><%= link_to new_user_session_path do %><i class="material-icons left">account_circle</i> Sign in<% end %></li>
  			<% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Sign In", new_user_session_path %></li>
			<% end %>
      </ul>
    </div></div>
  </nav>
</div>
