<li class="bold list-style-none margin-left-10px"><%= link_to 'Host  Profile', host_profile_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Organisation\'s Profile', organisations_profile_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Purchase Tokens', purchase_tokens_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Create Opportunity', new_opportunity_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Listed Opportunities', opportunities_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Active Opportunities', opportunities_path %></li>
<li class="bold list-style-none margin-left-10px"><%= link_to 'Completed Opportunities', opportunities_path %></li>
