<li class="bold margin-left-10px"><%= link_to 'Host  Profile', host_profile_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Mailbox', messages_path(my_id: current_user.id) %></li>
<li class="bold margin-left-10px"><%= link_to 'Organisations Index', organisations_host_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Purchase Tokens', purchase_tokens_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Create Opportunity', new_opportunity_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Listed Opportunities', opportunities_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Active Opportunities', opportunities_path %></li>
<li class="bold margin-left-10px"><%= link_to 'Completed Opportunities', opportunities_path %></li>
