<div class="margin-top-50px">
<li class="bold active"><%= link_to 'Sponsor Profile', sponsor_path(current_user.sponsor) %></li>
<li class="bold"><%= link_to 'Opportunities', search_opportunities_path %></li>
<li class="bold"><%= link_to 'Sponsored by Us', opportunities_path(status: 'sponsored_by_us') %></li>
<li class="bold"><%= link_to 'Feedback', new_feedback_path(user_id: current_user.id) %></li>
<li class="bold"><%= link_to 'Edit Login', edit_user_registration_path %></li>
</div>
