<!DOCTYPE html>
<html>
<head>
  <title>Mobeeas4</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
<%= render 'layouts/home_navbar' %>
<div class="container">
<%= yield %>
</div>
<script>
  $(document).ready(function() {

    // Show sideNav
    $('.button-collapse').sideNav('show');
    // Hide sideNav
    $('.button-collapse').sideNav('hide');
    $('.parallax').parallax();
    $('select').material_select();
    
     $('.modal-trigger').leanModal();
    $('.datepicker').pickadate({
       // selectMonths: true, // Creates a dropdown to control month
       // selectYears: 15 // Creates a dropdown of 15 years to control year
     });
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  }); // end of document ready
</script>
</body>
</html>
