<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

  <title><%= content_for?(:title) ? yield(:title) : "Mobeeas" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries %>
    <%#[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <section class="white">
    <div class="container">
      <div class="row">
        <div class="col s12 margin-top-20px">
          <!-- <img src="<%= asset_path 'MOBEEAS.png' %>" class="responsive-img"> -->
					<div class="align-center">
						<%= cl_image_tag("MOBEEAS_RGB.png", :width=>800, :crop=>:scale) %>
					</div>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/footer' %>
 <script>
 (function($){
  $(function(){

    // Show sideNav
    $('.button-collapse').sideNav('show');
    // Hide sideNav
    $('.button-collapse').sideNav('hide');
    $('.parallax').parallax();
    $('select').material_select();

    $('.datepicker').pickadate({
       // selectMonths: true, // Creates a dropdown to control month
       // selectYears: 15 // Creates a dropdown of 15 years to control year
     });

		 // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		 // without this, the FAQ's modal won't open when you are in sign-up/sign-in page
		 $('.modal-trigger').leanModal();
  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
</body>
</html>
